.laptop-picture {
  width: 700px;
  max-width: 100%;
}
.blue {
  background-color: rgba(0, 115, 184, 0.1);
}
.green {
  background-color: rgba(53, 191, 92, 0.1);
}
.purple {
  background-color: rgba(41, 65, 114, 0.1);
}
.diagonal-box {
 position:relative;
 padding:var(--skew-padding) 0;
 margin-top:-1px
}
.diagonal-box:before {
 content:"";
 position:absolute;
 left:0;
 top:0;
 right:0;
 bottom:0;
 transform:skewy(var(--angle));
 transform-origin:50% 0;
 outline:1px solid transparent;
 backface-visibility:hidden
}
.bg-two:before {
 background-image:linear-gradient(-135deg, rgba(218,68,83,0.2), rgba(231,76,60,0.2))
}
@media (prefer-color-theme: dark) {
 .bg-two:before {
  background-image:linear-gradient(-135deg, #440143, rgba(82,21,14,0.1))
 }
}
.bg-two:before .content {
 color:white
}
.bg-two:before .content a {
 color:white
}
.bg-one:before {
 background-image:linear-gradient(-135deg, rgba(61,174,233,0.2), rgba(29,153,243,0.2))
}
.hardware-grid {
 display:grid;
 grid-template-rows:auto auto;
 grid-template-columns:50% 50%;
 grid-template-areas:"slimbook-small      slimbook" "slimbook-small-desc slimbook-desc"
}
@media (max-width: 767px) {
 .hardware-grid {
  display:flex;
  flex-direction:column
 }
 .slimbook-small-desc,
 .slimbook-desc {
  margin-left:auto;
  margin-right:auto
 }
 .slimbook-small-desc {
  margin-bottom:2rem
 }
}
.slimbook-small.small {
 padding-left:0;
 padding-right:35%
}
@media (max-width: 800px) {
 .slimbook-small.small {
  padding-right:25%
 }
}
@media (max-width: 600px) {
 .slimbook-small.small {
  padding-right:15%
 }
}
@media (max-width: 500px) {
 .slimbook-small.small img {
  display:none
 }
}
.slimbook.small {
 padding-left:0;
 padding-right:30%
}
@media (max-width: 800px) {
 .slimbook.small {
  padding-right:18%
 }
}
@media (max-width: 600px) {
 .slimbook.small {
  padding-right:10%
 }
}
@media (max-width: 500px) {
 .slimbook.small img {
  display:none
 }
}
.slimbook-small {
 grid-area:slimbook-small;
 padding-left:35px;
 padding-right:35px
}
.slimbook-small-desc {
 grid-area:slimbook-small-desc
}
.slimbook {
 grid-area:slimbook;
 padding-left:13px;
 padding-right:13px
}
.slimbook-desc {
 grid-area:slimbook-desc
}
.slimbook-small,
.slimbook {
 align-self:end
}
.slimbook-small img,
.slimbook img {
 max-width:100%;
 height:auto
}
.slimbook-small-desc,
.slimbook-desc {
 align-self:start;
 padding:5px 20%
}
.slimbook-small-desc h5,
.slimbook-desc h5 {
 margin-bottom:2rem
}
.slimbook-desc {
 padding:5px 100px
}
.kfocus::after, .kfocus::before {
  background-color: #001725;
}
.kfocus {
  color: #dde4e9;
}

.pinephone {
  color: white;
  &::after, &::before {
    background: #4e02a7;
  }
  .content {
      margin-top: 30px;
      background: radial-gradient(circle, #c203c5 0%, #4e02a7 70%, #4e02a7 100%);
  }
  @media (max-width: 1200px) {
    & > .container {
      max-width: 100%;
    }
  }
}
