/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

main.container {
  section {
    padding: 0px;

    & > article {
      min-height: 600px;

      @media (max-width: 1200px) {
        min-height: 500px;
      }

      @media (max-width: 992px) {
        min-height: 400px;
      }

      @media (max-width: 768px) {
        min-height: 300px;
      }
    }
  }
}

.splashLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-image: url(../../assets/kirigami/kirigami-splash.jpg);
  background-size: cover;
  background-position: left center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;

  h1 {
    color: #fafafa !important;
    font-size: 32px !important;
    line-height: 120%;
    background-image: none !important;
  }

  p {
    color: #fcfcfc !important;
    line-height: 120% !important;
  }
}

.section-convergent {
  .image {
    background-image: url(../../assets/kirigami/kirigami-devices.png);
    background-size: auto 100%;
    background-position: center right;
    width: 60%;
    padding-bottom: 0px;

    @media (max-width: 768px) {
      height: 300px;
      width: 100% !important;
    }
  }
}

.section-responsive {
  background-color: #28618c;
}

.section-links {
  flex-direction: row;
  text-align: center;
  min-height: auto !important;

  .section-links-content div {
    width: 50%;
  }

  .section-links-content div + div {
    border-left: solid 1px rgba(0, 0, 0, 0.1);
  }

  h1 {
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
  }
}

.section-open {
  background-image: url(../../assets/kirigami/community.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  * {
    color: #FFF !important;
    background: none !important;
    text-shadow: 0px 0px 5px rgba(0,0,0,.5) !important;
  }
}
