<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/analitza-4.8.5.tar.xz">analitza-4.8.5</a></td><td align="right">144KB</td><td><tt>f0d281dc64d599718f931184d444615f729bc0ed</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ark-4.8.5.tar.xz">ark-4.8.5</a></td><td align="right">236KB</td><td><tt>dc304bb892b35dac431d5e4e3cfc90227241bf5a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/blinken-4.8.5.tar.xz">blinken-4.8.5</a></td><td align="right">556KB</td><td><tt>76908e6d622c6b5f0167e11e08db0f4f73b61216</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/cantor-4.8.5.tar.xz">cantor-4.8.5</a></td><td align="right">268KB</td><td><tt>c9b9c26f0dc2e130e1783bb034d72a19b0a00219</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/filelight-4.8.5.tar.xz">filelight-4.8.5</a></td><td align="right">292KB</td><td><tt>218f5832ee6e55056427b2dacc5da82268605622</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/gwenview-4.8.5.tar.xz">gwenview-4.8.5</a></td><td align="right">2,0MB</td><td><tt>5b4ecbde7a1fd5ca30bdd94393f76b0aefe4c91a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/jovie-4.8.5.tar.xz">jovie-4.8.5</a></td><td align="right">364KB</td><td><tt>48be4228fe263e02a2eeeb4788c3a45486e6c78c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kaccessible-4.8.5.tar.xz">kaccessible-4.8.5</a></td><td align="right">24KB</td><td><tt>c7df06a2307c4ea5ece43a8db02600f9a002af45</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kactivities-4.8.5.tar.xz">kactivities-4.8.5</a></td><td align="right">44KB</td><td><tt>5886977da1e8287e600a347b65e5ea44aba8236c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kalgebra-4.8.5.tar.xz">kalgebra-4.8.5</a></td><td align="right">416KB</td><td><tt>3431c59ac8e828feb523555e57cea220e16bc3da</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kalzium-4.8.5.tar.xz">kalzium-4.8.5</a></td><td align="right">3,6MB</td><td><tt>1834aa3a56fac431e5c2dde19cf4191e3698f4bd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kamera-4.8.5.tar.xz">kamera-4.8.5</a></td><td align="right">40KB</td><td><tt>4f4d964af09776b6d4e60d916d440cdd2e5b9172</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kanagram-4.8.5.tar.xz">kanagram-4.8.5</a></td><td align="right">612KB</td><td><tt>8622a4e6eb92b318e6d2d1ca6d6723b236534f13</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kate-4.8.5.tar.xz">kate-4.8.5</a></td><td align="right">2,2MB</td><td><tt>5c8ca6b9ca61e979fdbf0611acf0b195bfee9b87</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kbruch-4.8.5.tar.xz">kbruch-4.8.5</a></td><td align="right">892KB</td><td><tt>c7ee8d90f99c9f9961d76e6ec6b34492a89b786f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kcalc-4.8.5.tar.xz">kcalc-4.8.5</a></td><td align="right">88KB</td><td><tt>5cb7c0dd9c6ac427441942aa06b811792e622108</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kcharselect-4.8.5.tar.xz">kcharselect-4.8.5</a></td><td align="right">88KB</td><td><tt>916ddaff48e9358318af566d6a703d9a82c919d8</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kcolorchooser-4.8.5.tar.xz">kcolorchooser-4.8.5</a></td><td align="right">8,0KB</td><td><tt>c42d26d44d50c6b237bc048e4972c7e325059463</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdeadmin-4.8.5.tar.xz">kdeadmin-4.8.5</a></td><td align="right">1,2MB</td><td><tt>e470915b63460b69dd10d82828975c1188dc6885</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdeartwork-4.8.5.tar.xz">kdeartwork-4.8.5</a></td><td align="right">134MB</td><td><tt>295434b209eafd3f91e2db1aed041c2a02479dcf</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kde-baseapps-4.8.5.tar.xz">kde-baseapps-4.8.5</a></td><td align="right">2,7MB</td><td><tt>f9f1b1bf719a30a0660a035c7c73ff56bb84774d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdegames-4.8.5.tar.xz">kdegames-4.8.5</a></td><td align="right">58MB</td><td><tt>70cfb7c3197049a4338827e1dd79229acad66351</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdegraphics-mobipocket-4.8.5.tar.xz">kdegraphics-mobipocket-4.8.5</a></td><td align="right">24KB</td><td><tt>32639cb7e5f104a0ddfa35630956588980547eda</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdegraphics-strigi-analyzer-4.8.5.tar.xz">kdegraphics-strigi-analyzer-4.8.5</a></td><td align="right">44KB</td><td><tt>d27147e3366352cbe0347e286f0cacd6dec60dba</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdegraphics-thumbnailers-4.8.5.tar.xz">kdegraphics-thumbnailers-4.8.5</a></td><td align="right">44KB</td><td><tt>73e08fe9c86c23cb3e791ec21575c381b6ff984c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdelibs-4.8.5.tar.xz">kdelibs-4.8.5</a></td><td align="right">12MB</td><td><tt>b125d1a6aeb477893cd767c20ba7318162cf67e9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdemultimedia-4.8.5.tar.xz">kdemultimedia-4.8.5</a></td><td align="right">1,5MB</td><td><tt>f094298b18f2106595381a871a4706c13102e97b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdenetwork-4.8.5.tar.xz">kdenetwork-4.8.5</a></td><td align="right">8,9MB</td><td><tt>75b724ed0c3978b1fa57efbe50d273a14c2acbd5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdepim-4.8.5.tar.xz">kdepim-4.8.5</a></td><td align="right">14MB</td><td><tt>9b3e1ccb7e17ae4bd7d51023ea0f8e734ffe58fd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdepimlibs-4.8.5.tar.xz">kdepimlibs-4.8.5</a></td><td align="right">2,8MB</td><td><tt>43ae4f80f59bdcf3829c82ca3a1743de4e810003</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdepim-runtime-4.8.5.tar.xz">kdepim-runtime-4.8.5</a></td><td align="right">1,2MB</td><td><tt>734c7fdacb8e65c7bb6a9ddb12a8eb7196cf6d2e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdeplasma-addons-4.8.5.tar.xz">kdeplasma-addons-4.8.5</a></td><td align="right">1,7MB</td><td><tt>eb7929b472b0985b797ab080c1ccf1cdce077115</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kde-runtime-4.8.5.tar.xz">kde-runtime-4.8.5</a></td><td align="right">5,8MB</td><td><tt>ace2b99b7f1dc182b210758fceb9296bd6c0a828</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdesdk-4.8.5.tar.xz">kdesdk-4.8.5</a></td><td align="right">5,2MB</td><td><tt>17f83791022a18e3d52342e9d625fa4f77c09c4b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdetoys-4.8.5.tar.xz">kdetoys-4.8.5</a></td><td align="right">384KB</td><td><tt>c078db25216b0441a8742dc5ac3ce9babc66a998</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kde-wallpapers-4.8.5.tar.xz">kde-wallpapers-4.8.5</a></td><td align="right">74MB</td><td><tt>0e1c660d86d2093fe85e34c0da8417dfc67326bd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdewebdev-4.8.5.tar.xz">kdewebdev-4.8.5</a></td><td align="right">2,5MB</td><td><tt>41509b34623085db1f3c2a5b3cb8db2a5f12a31b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kde-workspace-4.8.5.tar.xz">kde-workspace-4.8.5</a></td><td align="right">21MB</td><td><tt>4f2236f339568426262b38c4b2172d3dc29fea07</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kdf-4.8.5.tar.xz">kdf-4.8.5</a></td><td align="right">156KB</td><td><tt>99273a90cd48b2268d7e265ba94c17b6e3d0a79c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kfloppy-4.8.5.tar.xz">kfloppy-4.8.5</a></td><td align="right">64KB</td><td><tt>5c1d1f2384ac2eca3ed0f4622d8b95ce69551b05</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kgamma-4.8.5.tar.xz">kgamma-4.8.5</a></td><td align="right">28KB</td><td><tt>96fbb33501671e43b856461a5806573771683b8c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kgeography-4.8.5.tar.xz">kgeography-4.8.5</a></td><td align="right">6,5MB</td><td><tt>7f8105004476aa17b181d18c734f2f86d60fb071</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kgpg-4.8.5.tar.xz">kgpg-4.8.5</a></td><td align="right">800KB</td><td><tt>7981c3ff406b7ff42e8254ca3e79c8620b5d91a3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/khangman-4.8.5.tar.xz">khangman-4.8.5</a></td><td align="right">1,2MB</td><td><tt>b8f23283b68ab1d3fdf67d6315fd97c4a954c538</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kig-4.8.5.tar.xz">kig-4.8.5</a></td><td align="right">1,5MB</td><td><tt>066c664609e24135b9c81267994f1180d9e332cd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kimono-4.8.5.tar.xz">kimono-4.8.5</a></td><td align="right">964KB</td><td><tt>b6f3a8319df55fb921a5454a678e9aec04482fec</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kiten-4.8.5.tar.xz">kiten-4.8.5</a></td><td align="right">12MB</td><td><tt>d23584c9e594fa7c7296c3acdc8d0e94a06ed720</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/klettres-4.8.5.tar.xz">klettres-4.8.5</a></td><td align="right">2,6MB</td><td><tt>a2b06c524770c4deba1426ea0d9a6eef8348bda4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kmag-4.8.5.tar.xz">kmag-4.8.5</a></td><td align="right">92KB</td><td><tt>7157a2d1a1a8bd2dc8d904e873b5d4de5c5b6198</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kmousetool-4.8.5.tar.xz">kmousetool-4.8.5</a></td><td align="right">48KB</td><td><tt>429407801b8161495ad70c9cd847a0e788c47d7a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kmouth-4.8.5.tar.xz">kmouth-4.8.5</a></td><td align="right">316KB</td><td><tt>dbf47e46d368b9d76e3a2e7d483691c061199940</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kmplot-4.8.5.tar.xz">kmplot-4.8.5</a></td><td align="right">668KB</td><td><tt>7b8ac0071f6b514e5d4efc66de17f32fea158c94</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kolourpaint-4.8.5.tar.xz">kolourpaint-4.8.5</a></td><td align="right">1,2MB</td><td><tt>470af6d20518c50200597720c05a27db7e15977a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/konsole-4.8.5.tar.xz">konsole-4.8.5</a></td><td align="right">432KB</td><td><tt>f2cb6f488f5f3260601bff2ae9243b9067f0e2e4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/korundum-4.8.5.tar.xz">korundum-4.8.5</a></td><td align="right">164KB</td><td><tt>6ac7cc093c8701ee35061027596415ae205bd860</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kremotecontrol-4.8.5.tar.xz">kremotecontrol-4.8.5</a></td><td align="right">1,1MB</td><td><tt>ab403fe53cfc380f45b4d01bb9dba458a93d90f2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kross-interpreters-4.8.5.tar.xz">kross-interpreters-4.8.5</a></td><td align="right">132KB</td><td><tt>8cb9230009a33792c43650d847062328096b9901</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kruler-4.8.5.tar.xz">kruler-4.8.5</a></td><td align="right">132KB</td><td><tt>fe220c37b45038bdb86149c60c5d3e4772f45ef3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ksaneplugin-4.8.5.tar.xz">ksaneplugin-4.8.5</a></td><td align="right">16KB</td><td><tt>6a74a960a14a461af99d6839d2b674d0a00f593a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ksecrets-4.8.5.tar.xz">ksecrets-4.8.5</a></td><td align="right">152KB</td><td><tt>7b5491d305ceb1446cc002282a91f6601a4cc870</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ksnapshot-4.8.5.tar.xz">ksnapshot-4.8.5</a></td><td align="right">260KB</td><td><tt>fa380a904f5341a30db6cc900f96fefa7ae71cdb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kstars-4.8.5.tar.xz">kstars-4.8.5</a></td><td align="right">12MB</td><td><tt>807f12d78e1183e73a5aeca3e271bbd09ba7f564</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ktimer-4.8.5.tar.xz">ktimer-4.8.5</a></td><td align="right">148KB</td><td><tt>f790ad346c6db0069b40603ed1a7f361a64577ab</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/ktouch-4.8.5.tar.xz">ktouch-4.8.5</a></td><td align="right">1,7MB</td><td><tt>5adf6ac0f6487ca8cd300216554cff3048c1c68f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kturtle-4.8.5.tar.xz">kturtle-4.8.5</a></td><td align="right">212KB</td><td><tt>b9feb2dc816b950f5ee54c7b39da183591aefca4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kwallet-4.8.5.tar.xz">kwallet-4.8.5</a></td><td align="right">280KB</td><td><tt>26739a6cd1a3a583be4b13a8d033b85c5fcdbd62</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/kwordquiz-4.8.5.tar.xz">kwordquiz-4.8.5</a></td><td align="right">1,2MB</td><td><tt>3e9ccbe63b498fc992924d177517f2fc8626edac</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/libkdcraw-4.8.5.tar.xz">libkdcraw-4.8.5</a></td><td align="right">268KB</td><td><tt>f874387a3db3793f1c762adccdbc0556f78549da</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/libkdeedu-4.8.5.tar.xz">libkdeedu-4.8.5</a></td><td align="right">212KB</td><td><tt>8e7a2ea332b2e90ad78e32b5fb17d963de91480c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/libkexiv2-4.8.5.tar.xz">libkexiv2-4.8.5</a></td><td align="right">132KB</td><td><tt>214f7cacccff6afa390ec91830079289083c0b24</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/libkipi-4.8.5.tar.xz">libkipi-4.8.5</a></td><td align="right">72KB</td><td><tt>1a08b7db7c16eee5f1f8ccdb49285119ddc64172</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/libksane-4.8.5.tar.xz">libksane-4.8.5</a></td><td align="right">84KB</td><td><tt>1a078e3d9c48130d3ef20b78e76423fd3b959baa</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/marble-4.8.5.tar.xz">marble-4.8.5</a></td><td align="right">19MB</td><td><tt>e0bae6d9fa515279e729490ec0366597c6c788d5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/okular-4.8.5.tar.xz">okular-4.8.5</a></td><td align="right">1,1MB</td><td><tt>61b6c060088e04a7facdd3f743b15c638aaeb7da</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/oxygen-icons-4.8.5.tar.xz">oxygen-icons-4.8.5</a></td><td align="right">301MB</td><td><tt>a77abbdedef8e4358a9f3f2c4e3ce2a0f82efdef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/parley-4.8.5.tar.xz">parley-4.8.5</a></td><td align="right">7,9MB</td><td><tt>10d7b784608b44167170644ad3b081fd33a018bd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/perlkde-4.8.5.tar.xz">perlkde-4.8.5</a></td><td align="right">48KB</td><td><tt>1b3c3eb18dc0d9edcad367ee81aabeb6e8f5600f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/perlqt-4.8.5.tar.xz">perlqt-4.8.5</a></td><td align="right">1,8MB</td><td><tt>eb8006ec8155be15f6518c71888b83213de200b5</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/printer-applet-4.8.5.tar.xz">printer-applet-4.8.5</a></td><td align="right">40KB</td><td><tt>1ac6966ca7645185addc278c11ad5f0d13aabc83</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/pykde4-4.8.5.tar.xz">pykde4-4.8.5</a></td><td align="right">2,1MB</td><td><tt>2f8e69decc09e02971db1ec0133254d55c88ecd3</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/qtruby-4.8.5.tar.xz">qtruby-4.8.5</a></td><td align="right">536KB</td><td><tt>43be2924bea81436a8939772091c33b885fca57a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/qyoto-4.8.5.tar.xz">qyoto-4.8.5</a></td><td align="right">524KB</td><td><tt>4988680aef213217452ebde7cf70d23a753a5ffc</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/rocs-4.8.5.tar.xz">rocs-4.8.5</a></td><td align="right">652KB</td><td><tt>0a9b881f4e08aa14d9fdded44c72ffac896f2342</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/smokegen-4.8.5.tar.xz">smokegen-4.8.5</a></td><td align="right">148KB</td><td><tt>c46f1d9448f6e064826ee4f23e359a6d427257c0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/smokekde-4.8.5.tar.xz">smokekde-4.8.5</a></td><td align="right">40KB</td><td><tt>e4a6803f89fcbf3c886ab0e232152b4432af976c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/smokeqt-4.8.5.tar.xz">smokeqt-4.8.5</a></td><td align="right">36KB</td><td><tt>ba5314553b74f224679a3333d55dc88c7d8e8ea1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/step-4.8.5.tar.xz">step-4.8.5</a></td><td align="right">372KB</td><td><tt>a2f671cfd634f464f625d592e712fcdda98a5fe0</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/superkaramba-4.8.5.tar.xz">superkaramba-4.8.5</a></td><td align="right">388KB</td><td><tt>10ca60dd96b02e8a45222af38ae3ebc80d911c97</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/svgpart-4.8.5.tar.xz">svgpart-4.8.5</a></td><td align="right">12KB</td><td><tt>5456add3aa7e7dd3a989ba27be3a1ac7076dc6ef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.5/src/sweeper-4.8.5.tar.xz">sweeper-4.8.5</a></td><td align="right">84KB</td><td><tt>6bc73092593e07480cb72bd8201ed67100b435ad</tt></td></tr>
</table>
