<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top"><th align="left">Location</th><th align="left">Size</th><th align="left">SHA1&nbsp;Sum</th></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/analitza-4.8.4.tar.xz">analitza-4.8.4</a></td><td align="right">144KB</td><td><tt>d3b831730408078c31b686bc49c1d465de5e80da</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ark-4.8.4.tar.xz">ark-4.8.4</a></td><td align="right">156KB</td><td><tt>1d0d311beb8beeee7f33a58baef7f95192eb69ac</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/blinken-4.8.4.tar.xz">blinken-4.8.4</a></td><td align="right">556KB</td><td><tt>571e1f06270d38e56149a8770517bf892859e2eb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/cantor-4.8.4.tar.xz">cantor-4.8.4</a></td><td align="right">268KB</td><td><tt>8e284e632144a92f503092738d19843272d0412e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/filelight-4.8.4.tar.xz">filelight-4.8.4</a></td><td align="right">292KB</td><td><tt>3023e9daa8bc5271bed3f3c08076952bcaf75efd</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/gwenview-4.8.4.tar.xz">gwenview-4.8.4</a></td><td align="right">1.9MB</td><td><tt>6cc6da85f6e2c8c817c1402baace16eb58b7a423</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/jovie-4.8.4.tar.xz">jovie-4.8.4</a></td><td align="right">364KB</td><td><tt>d9d829c09312bc6f962c36521629ba1bee8f1431</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kaccessible-4.8.4.tar.xz">kaccessible-4.8.4</a></td><td align="right">24KB</td><td><tt>d467fa3857b2c5a2aa3a5421b5d7c74fe3c7f981</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kactivities-4.8.4.tar.xz">kactivities-4.8.4</a></td><td align="right">44KB</td><td><tt>3f42c18bae5a1d6bbd7fca471d8b4f9755875e06</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kalgebra-4.8.4.tar.xz">kalgebra-4.8.4</a></td><td align="right">416KB</td><td><tt>be0bcd290c61713a0365e9eab2ddc8d58f447f34</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kalzium-4.8.4.tar.xz">kalzium-4.8.4</a></td><td align="right">3.6MB</td><td><tt>28ed27164680a28e478cc6e0a13c918bc2119dc2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kamera-4.8.4.tar.xz">kamera-4.8.4</a></td><td align="right">40KB</td><td><tt>fc92327482bf1cd9b067667285ede00e3e464653</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kanagram-4.8.4.tar.xz">kanagram-4.8.4</a></td><td align="right">612KB</td><td><tt>e897cc67ae046a4d7580f22a0ace534525fa6f1b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kate-4.8.4.tar.xz">kate-4.8.4</a></td><td align="right">2.2MB</td><td><tt>5a70b64c92892781d50781fcaac81ff352ec3ed9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kbruch-4.8.4.tar.xz">kbruch-4.8.4</a></td><td align="right">892KB</td><td><tt>40c24efddc30441a8de2ec315e1933ca429da14b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kcalc-4.8.4.tar.xz">kcalc-4.8.4</a></td><td align="right">88KB</td><td><tt>f1cb6cda210c67fd19eca387df2d2224393d45ef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kcharselect-4.8.4.tar.xz">kcharselect-4.8.4</a></td><td align="right">88KB</td><td><tt>0e00a25ca3c813ab335cd12ff0ec4b1f22c8076c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kcolorchooser-4.8.4.tar.xz">kcolorchooser-4.8.4</a></td><td align="right">8.0KB</td><td><tt>2f5ee55c86a503e458b1884939a62408bedbfc70</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdeadmin-4.8.4.tar.xz">kdeadmin-4.8.4</a></td><td align="right">1.2MB</td><td><tt>b825e40b29b4ae684265cb13b7935737d7ae6d68</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdeartwork-4.8.4.tar.xz">kdeartwork-4.8.4</a></td><td align="right">134MB</td><td><tt>c7e15538d3141af8673d16f498c6af7bff62a87f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kde-baseapps-4.8.4.tar.xz">kde-baseapps-4.8.4</a></td><td align="right">2.7MB</td><td><tt>a1d6951b27c868c738a36dbd21702b658f3d6245</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdegames-4.8.4.tar.xz">kdegames-4.8.4</a></td><td align="right">58MB</td><td><tt>00a68215c3e8b41ec8b7949c5d82af8e54766e97</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdegraphics-mobipocket-4.8.4.tar.xz">kdegraphics-mobipocket-4.8.4</a></td><td align="right">24KB</td><td><tt>0c38ef851c054b0ee3689d41ff5f7f6fb3d83f67</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdegraphics-strigi-analyzer-4.8.4.tar.xz">kdegraphics-strigi-analyzer-4.8.4</a></td><td align="right">44KB</td><td><tt>208dd945c1ecfaee97457585dc7a52916dd2318f</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdegraphics-thumbnailers-4.8.4.tar.xz">kdegraphics-thumbnailers-4.8.4</a></td><td align="right">44KB</td><td><tt>57e753881f9ca78c4c188c49a3a1b258b92adb83</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdelibs-4.8.4.tar.xz">kdelibs-4.8.4</a></td><td align="right">12MB</td><td><tt>35cd199a30d84eb37b2b213fed5ee3adf810ea49</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdemultimedia-4.8.4.tar.xz">kdemultimedia-4.8.4</a></td><td align="right">1.5MB</td><td><tt>dac721e82308a6347d578361e25da7c466a26ba7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdenetwork-4.8.4.tar.xz">kdenetwork-4.8.4</a></td><td align="right">8.9MB</td><td><tt>b3926c5cd929cec209421c2f1cb8659cc1c82458</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdepim-4.8.4.tar.xz">kdepim-4.8.4</a></td><td align="right">14MB</td><td><tt>aae8f027ab1ef75283d6e4b2bdf76c91d04087ea</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdepimlibs-4.8.4.tar.xz">kdepimlibs-4.8.4</a></td><td align="right">2.8MB</td><td><tt>34f693ac71896d0d8653fc2a81323d1e91531bb2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdepim-runtime-4.8.4.tar.xz">kdepim-runtime-4.8.4</a></td><td align="right">1.2MB</td><td><tt>3a375afb62b4ee01d491c4787b559132317aa983</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdeplasma-addons-4.8.4.tar.xz">kdeplasma-addons-4.8.4</a></td><td align="right">1.7MB</td><td><tt>725d26e3aa59d02bc73a77b43e6aae92bc961254</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kde-runtime-4.8.4.tar.xz">kde-runtime-4.8.4</a></td><td align="right">5.8MB</td><td><tt>557fada748de52e5275058c50ec3cf8a652c0001</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdesdk-4.8.4.tar.xz">kdesdk-4.8.4</a></td><td align="right">5.2MB</td><td><tt>62c176ee3dda5bbc013db7d1033ff89c105e3fd1</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdetoys-4.8.4.tar.xz">kdetoys-4.8.4</a></td><td align="right">384KB</td><td><tt>dd5f63f0e833135bac73a2e12692b1e6dd412f67</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kde-wallpapers-4.8.4.tar.xz">kde-wallpapers-4.8.4</a></td><td align="right">74MB</td><td><tt>da11aa057c5b836ee026634bb61565244d614682</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdewebdev-4.8.4.tar.xz">kdewebdev-4.8.4</a></td><td align="right">2.5MB</td><td><tt>bab86ef6c04515a454298cee46eccb25e590f972</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kde-workspace-4.8.4.tar.xz">kde-workspace-4.8.4</a></td><td align="right">35MB</td><td><tt>a732ceacf34dfb79c8ab243f17cd5a70b9183212</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kdf-4.8.4.tar.xz">kdf-4.8.4</a></td><td align="right">156KB</td><td><tt>c83f9659d693f27166519969f85c630fdeaa3d9c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kfloppy-4.8.4.tar.xz">kfloppy-4.8.4</a></td><td align="right">64KB</td><td><tt>597e7d1fa546a898b4e46a9750632be8dc8a01a7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kgamma-4.8.4.tar.xz">kgamma-4.8.4</a></td><td align="right">28KB</td><td><tt>812a84564db52fb6a8b8e0e829eb762d479092ec</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kgeography-4.8.4.tar.xz">kgeography-4.8.4</a></td><td align="right">6.5MB</td><td><tt>4637c5a792164d083f0ea05e6733160922d8c73b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kgpg-4.8.4.tar.xz">kgpg-4.8.4</a></td><td align="right">800KB</td><td><tt>4b201d0db0d97d258597b0b345848acec5bd0130</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/khangman-4.8.4.tar.xz">khangman-4.8.4</a></td><td align="right">1.2MB</td><td><tt>aa544ba55833983bd21ebf594f2003a66b251901</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kig-4.8.4.tar.xz">kig-4.8.4</a></td><td align="right">1.5MB</td><td><tt>dcbde5fbb34e0c569a2ef95a328cf69a924cd38e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kimono-4.8.4.tar.xz">kimono-4.8.4</a></td><td align="right">964KB</td><td><tt>9c8e41ebcec01cede7987958bb4d7ce775587e45</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kiten-4.8.4.tar.xz">kiten-4.8.4</a></td><td align="right">12MB</td><td><tt>f7b5f9b6cbbda37c539f1ffce9bd905f0be3658e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/klettres-4.8.4.tar.xz">klettres-4.8.4</a></td><td align="right">2.6MB</td><td><tt>b5dc64cdd09f265cd7a84d0ee14a93ea4ae067be</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kmag-4.8.4.tar.xz">kmag-4.8.4</a></td><td align="right">92KB</td><td><tt>7b5b51422d4241d6303841805a04b2eace0c7a2d</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kmousetool-4.8.4.tar.xz">kmousetool-4.8.4</a></td><td align="right">48KB</td><td><tt>6667336267a3a65bf0b33a8454299558ad458108</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kmouth-4.8.4.tar.xz">kmouth-4.8.4</a></td><td align="right">316KB</td><td><tt>104bb2c434deabbaa57326fe567fc90c4067f36c</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kmplot-4.8.4.tar.xz">kmplot-4.8.4</a></td><td align="right">668KB</td><td><tt>07ada013e1a046afe3bb3542a2485b1ec0d4736e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kolourpaint-4.8.4.tar.xz">kolourpaint-4.8.4</a></td><td align="right">1.2MB</td><td><tt>1dc706ed29339df9fcc68ee606588941319bbf09</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/konsole-4.8.4.tar.xz">konsole-4.8.4</a></td><td align="right">432KB</td><td><tt>a5900aa089a28fcaa69b45cfc7b46f556a38bd11</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/korundum-4.8.4.tar.xz">korundum-4.8.4</a></td><td align="right">164KB</td><td><tt>ce722ea7c64ce90d11370e393a87cb067962853e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kremotecontrol-4.8.4.tar.xz">kremotecontrol-4.8.4</a></td><td align="right">1.1MB</td><td><tt>2c967b6d5738d3947401d9055f0956dfd16b2ec2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kross-interpreters-4.8.4.tar.xz">kross-interpreters-4.8.4</a></td><td align="right">132KB</td><td><tt>b5b73e10aa51377abe4da74eb98589fcc7eb83c4</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kruler-4.8.4.tar.xz">kruler-4.8.4</a></td><td align="right">132KB</td><td><tt>b3fb40888f6cf2ad419e1f30a97c2052ffbae1d7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ksaneplugin-4.8.4.tar.xz">ksaneplugin-4.8.4</a></td><td align="right">16KB</td><td><tt>b7a3204ef27f04bffca0fd77d84bd46b236687b7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ksecrets-4.8.4.tar.xz">ksecrets-4.8.4</a></td><td align="right">152KB</td><td><tt>d0fd2c601833cf1ffe52760472e22d667a6a6408</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ksnapshot-4.8.4.tar.xz">ksnapshot-4.8.4</a></td><td align="right">260KB</td><td><tt>1cbd1ea468e7722feb8c96dd5f1f3a18bb91d4ef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kstars-4.8.4.tar.xz">kstars-4.8.4</a></td><td align="right">12MB</td><td><tt>579cec66cfb172258d2967872a2b9c32d4514c75</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ktimer-4.8.4.tar.xz">ktimer-4.8.4</a></td><td align="right">148KB</td><td><tt>39e117449beffa8e2a38f7b45f69965a71de3805</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/ktouch-4.8.4.tar.xz">ktouch-4.8.4</a></td><td align="right">1.7MB</td><td><tt>95e7712b9644d1b3491c988bc591d7c5b4e4d3b7</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kturtle-4.8.4.tar.xz">kturtle-4.8.4</a></td><td align="right">212KB</td><td><tt>160972878f61c37575fb5953b88354fe174fe8ab</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kwallet-4.8.4.tar.xz">kwallet-4.8.4</a></td><td align="right">280KB</td><td><tt>8c85c9de379f0e8ad8a3dffc2136c6b25c0fa4a9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/kwordquiz-4.8.4.tar.xz">kwordquiz-4.8.4</a></td><td align="right">1.2MB</td><td><tt>ab6cf92bbedef4115951d3cc53a9f3b91ac11875</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/libkdcraw-4.8.4.tar.xz">libkdcraw-4.8.4</a></td><td align="right">268KB</td><td><tt>ba67432cb3353a55d57ae749b42919399dfda3e2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/libkdeedu-4.8.4.tar.xz">libkdeedu-4.8.4</a></td><td align="right">212KB</td><td><tt>055fa35db3c482c61f8eab7d1912532823a88726</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/libkexiv2-4.8.4.tar.xz">libkexiv2-4.8.4</a></td><td align="right">132KB</td><td><tt>a3429dd70677498c890598cd1e3bf6a610669b77</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/libkipi-4.8.4.tar.xz">libkipi-4.8.4</a></td><td align="right">72KB</td><td><tt>d30ef671be8caf8eb9ead68de53cf187f0fcf88b</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/libksane-4.8.4.tar.xz">libksane-4.8.4</a></td><td align="right">84KB</td><td><tt>5ac35d8478ccace1495ae42eb2169918cebc8d95</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/marble-4.8.4.tar.xz">marble-4.8.4</a></td><td align="right">19MB</td><td><tt>ec3cd41a1d333e9e3b34595adf6e4859315159b9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/okular-4.8.4.tar.xz">okular-4.8.4</a></td><td align="right">1.1MB</td><td><tt>34ff243a4fa77400631aa44b31cbe54910f8091e</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/oxygen-icons-4.8.4.tar.xz">oxygen-icons-4.8.4</a></td><td align="right">297MB</td><td><tt>4034b61585db7e8c03f3270d860aa7443f1a6193</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/parley-4.8.4.tar.xz">parley-4.8.4</a></td><td align="right">7.9MB</td><td><tt>bfc361363fa0cb866fd1d704b86d71401c1c4ea6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/perlkde-4.8.4.tar.xz">perlkde-4.8.4</a></td><td align="right">48KB</td><td><tt>5d94e2f4d6a32cf4cc7ff1d577d925de53ec8dee</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/perlqt-4.8.4.tar.xz">perlqt-4.8.4</a></td><td align="right">1.8MB</td><td><tt>86a7706bff687f1721d0b17e9bde3aa36e0970fb</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/printer-applet-4.8.4.tar.xz">printer-applet-4.8.4</a></td><td align="right">40KB</td><td><tt>451bb3d658a447c454918ea5b0299f1e85b8cfd2</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/pykde4-4.8.4.tar.xz">pykde4-4.8.4</a></td><td align="right">2.1MB</td><td><tt>e629d7a1d7d1aa1d1dd24769dc5412a60b6ac256</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/qtruby-4.8.4.tar.xz">qtruby-4.8.4</a></td><td align="right">536KB</td><td><tt>ce9f9b45d7e9edc839257a1f1c53b1e699503b47</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/qyoto-4.8.4.tar.xz">qyoto-4.8.4</a></td><td align="right">528KB</td><td><tt>8df3ad9630e8435e6af5af5809520662c95ee516</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/rocs-4.8.4.tar.xz">rocs-4.8.4</a></td><td align="right">652KB</td><td><tt>991e5aa15e59cc432a9c9f140fe90bd47f8f8e15</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/smokegen-4.8.4.tar.xz">smokegen-4.8.4</a></td><td align="right">152KB</td><td><tt>5ff7d15ed1cdea07f455fbf1189885518cf43cb6</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/smokekde-4.8.4.tar.xz">smokekde-4.8.4</a></td><td align="right">40KB</td><td><tt>d028d68485bc32cfe6bc60dbd597d8f72c9e70ef</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/smokeqt-4.8.4.tar.xz">smokeqt-4.8.4</a></td><td align="right">36KB</td><td><tt>bf2be3e7ccf8d451f001fd2f08c306fb7f72169a</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/step-4.8.4.tar.xz">step-4.8.4</a></td><td align="right">372KB</td><td><tt>498d8243309388fa8b59cd968c0c92fc588eda11</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/superkaramba-4.8.4.tar.xz">superkaramba-4.8.4</a></td><td align="right">388KB</td><td><tt>b013e4bd063790e5970cf798f247edb87d576900</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/svgpart-4.8.4.tar.xz">svgpart-4.8.4</a></td><td align="right">12KB</td><td><tt>3c202f0a58035c56e7e46a983c254a6284b97ee9</tt></td></tr>
<tr valign="top"><td><a href="http://download.kde.org/stable/4.8.4/src/sweeper-4.8.4.tar.xz">sweeper-4.8.4</a></td><td align="right">84KB</td><td><tt>8a4dd11724ed14987981dfaa60e742cfd80ee6d9</tt></td></tr>
</table>
