<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/bluedevil-5.17.5.tar.xz">bluedevil-5.17.5</a></td>
   <td align="right">157kB</td>
   <td><tt>22e9c683dfc56a559e652809ade238f8eb0ffb09d5ab042f5cd4b8216f647c09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/breeze-5.17.5.tar.xz">breeze-5.17.5</a></td>
   <td align="right">15MB</td>
   <td><tt>f89bf857321b18789089efc9271d7bd7b6459a173dd078dd03242775db76c8d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/breeze-grub-5.17.5.tar.xz">breeze-grub-5.17.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>591a1d7a510c76a1f2729a61a4d14c0f33db4d1e8ea5dbc87b74f2e7e7e2a2ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/breeze-gtk-5.17.5.tar.xz">breeze-gtk-5.17.5</a></td>
   <td align="right">43kB</td>
   <td><tt>6dbd8e7d936840fbaf7016574d07729c9d0791711ad6d371136585ddb8f76e66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/breeze-plymouth-5.17.5.tar.xz">breeze-plymouth-5.17.5</a></td>
   <td align="right">103kB</td>
   <td><tt>e95f9eaf04e74383f5e1abe74d999787e408be7a34fd07a4f64e253e35150af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/discover-5.17.5.tar.xz">discover-5.17.5</a></td>
   <td align="right">9.9MB</td>
   <td><tt>986ef367aef59c5a956d4163f987a60cfd3674a300880376ddedc0222769789f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/drkonqi-5.17.5.tar.xz">drkonqi-5.17.5</a></td>
   <td align="right">723kB</td>
   <td><tt>756c50f2458a8c564e608ea97244f6b2b3d5fb4a675a8cec29307be1d5ab5457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kactivitymanagerd-5.17.5.tar.xz">kactivitymanagerd-5.17.5</a></td>
   <td align="right">84kB</td>
   <td><tt>362721c3a9712751fba29cd1f1ef440a1e74561a611f2d171692a4ddc895b3e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kde-cli-tools-5.17.5.tar.xz">kde-cli-tools-5.17.5</a></td>
   <td align="right">576kB</td>
   <td><tt>d14299ebeaf89854cb89435cfaaa4da1d84bf23a97df23ff8c7f95dae5bec55f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kdecoration-5.17.5.tar.xz">kdecoration-5.17.5</a></td>
   <td align="right">42kB</td>
   <td><tt>7d8f0128306d436aeba010e47a3dddbcb9fb9fd05ef9308cbad1934914875cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kde-gtk-config-5.17.5.tar.xz">kde-gtk-config-5.17.5</a></td>
   <td align="right">151kB</td>
   <td><tt>5feff23c756f1fb0ba9ab88c2aed92c0e7c5521c757f5a0cdd057273538f0010</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kdeplasma-addons-5.17.5.tar.xz">kdeplasma-addons-5.17.5</a></td>
   <td align="right">591kB</td>
   <td><tt>997d6a3542ab1f1fd7fb17580693dc8281ff29b03c82577dbae3fc1ec4cccdb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kgamma5-5.17.5.tar.xz">kgamma5-5.17.5</a></td>
   <td align="right">78kB</td>
   <td><tt>3b8fd1539d035d4d39dcde6ca0dd214e6653c98778ac79b9cbf2f7009b155ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/khotkeys-5.17.5.tar.xz">khotkeys-5.17.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>cf78b5bfb8568fb4eea592b209bdb79aeac92bd08a580c3b6c08d45dd34a2d56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kinfocenter-5.17.5.tar.xz">kinfocenter-5.17.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>679870f10ee6494136d87a897a57a23c2905054d7a83ff11a4e85c204eb9fd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kmenuedit-5.17.5.tar.xz">kmenuedit-5.17.5</a></td>
   <td align="right">796kB</td>
   <td><tt>59beed03298cd9fd6b05d67844794ed6a77be0d1b25b55d5bbcdf72e15e357de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kscreen-5.17.5.tar.xz">kscreen-5.17.5</a></td>
   <td align="right">98kB</td>
   <td><tt>de8a00b33d0254245a53a5c097347aa86709d415754b3e3c675eef8fb4fe5bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kscreenlocker-5.17.5.tar.xz">kscreenlocker-5.17.5</a></td>
   <td align="right">120kB</td>
   <td><tt>078cfaa9f117a985f5c71152bdf4a9f5cb65ef23c0090cfaaccc9539770f138f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/ksshaskpass-5.17.5.tar.xz">ksshaskpass-5.17.5</a></td>
   <td align="right">20kB</td>
   <td><tt>b09e0d780340fc5a6a65e67a30d08a3f117f31e2dbfbb35579aa4cefb15c3b27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/ksysguard-5.17.5.tar.xz">ksysguard-5.17.5</a></td>
   <td align="right">503kB</td>
   <td><tt>69bc12311dcf363b168a259139d30456ed395ec03b948bd35e992300c7e7bd82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kwallet-pam-5.17.5.tar.xz">kwallet-pam-5.17.5</a></td>
   <td align="right">19kB</td>
   <td><tt>c829c7a44408e58beb87c71f5c70bccd349d285c3fcefb16df98bf2f29357fe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kwayland-integration-5.17.5.tar.xz">kwayland-integration-5.17.5</a></td>
   <td align="right">19kB</td>
   <td><tt>818b4e14611e26f297ef60427d399edc458a44e113bc092390fa65ecababcedb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kwin-5.17.5.tar.xz">kwin-5.17.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>8517adaf8270d783aea7b3886d86b5abed6a5ec2b5c78b632479597d956baadc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/kwrited-5.17.5.tar.xz">kwrited-5.17.5</a></td>
   <td align="right">19kB</td>
   <td><tt>ca22b1fa3e657fa2e58bf0c9dc1ebff3be8c0e003750223e7a7c5932d5b90823</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/libkscreen-5.17.5.tar.xz">libkscreen-5.17.5</a></td>
   <td align="right">81kB</td>
   <td><tt>aa186e5751287701daec4d036aba776a911e4b84ca7eea44dc5fb531875afd94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/libksysguard-5.17.5.tar.xz">libksysguard-5.17.5</a></td>
   <td align="right">591kB</td>
   <td><tt>f5d237af554d65740a28360e6d8fa39d4912239c5f21288846b1c934897a7e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/milou-5.17.5.tar.xz">milou-5.17.5</a></td>
   <td align="right">61kB</td>
   <td><tt>b89796e34cc8b6d6d4196169e814249f7b75c1c15763e0b4c1da5c97ccc2c8cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/oxygen-5.17.5.tar.xz">oxygen-5.17.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>58954374a4b9067365ee5d50b32b1986b2e7dd31e73cbf79fda8d978949943be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-browser-integration-5.17.5.tar.xz">plasma-browser-integration-5.17.5</a></td>
   <td align="right">143kB</td>
   <td><tt>07bc4285991ab43830873a12b8c07f60e4faea1ec81121db783c425f18a4f87d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-desktop-5.17.5.tar.xz">plasma-desktop-5.17.5</a></td>
   <td align="right">9.0MB</td>
   <td><tt>7f741ab026989bdcc68701955fc290d5ead38bf4bc310f18a2f32c64b411ab04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-integration-5.17.5.tar.xz">plasma-integration-5.17.5</a></td>
   <td align="right">55kB</td>
   <td><tt>169206bebd790d2fee49cec621c46f6f64a8e20ee3e56bf16ee7373f61cad959</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-nm-5.17.5.tar.xz">plasma-nm-5.17.5</a></td>
   <td align="right">795kB</td>
   <td><tt>2165e47a0654d17735abc97aec287b46b52a2eafccc3591b667ea2755b731255</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-pa-5.17.5.tar.xz">plasma-pa-5.17.5</a></td>
   <td align="right">101kB</td>
   <td><tt>933c6ab1fda52b336a157a48b1ea64b81fd1d84ca08a40a52bfae276cca2bf23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-sdk-5.17.5.tar.xz">plasma-sdk-5.17.5</a></td>
   <td align="right">254kB</td>
   <td><tt>ff736029b1ae5773991db06f5827d9dcbd8e7a4e9a430c9014c35ddee2c55314</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-tests-5.17.5.tar.xz">plasma-tests-5.17.5</a></td>
   <td align="right">1kB</td>
   <td><tt>1b566b7118a5c8d1b25078d331a6bc77f48781010fbd3425d85b137811218982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-thunderbolt-5.17.5.tar.xz">plasma-thunderbolt-5.17.5</a></td>
   <td align="right">47kB</td>
   <td><tt>3743f9841d269d51f1b1419e24d5cd1b26a0ba5a90e76b531328a8cc43184382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-vault-5.17.5.tar.xz">plasma-vault-5.17.5</a></td>
   <td align="right">126kB</td>
   <td><tt>3e5c6b4dd6c1122b6a221205da506881959ab905e467b74b0536e7f5fe130d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-workspace-5.17.5.tar.xz">plasma-workspace-5.17.5</a></td>
   <td align="right">4.7MB</td>
   <td><tt>764488e66d52bc3017efb2c1471f57196aa50fbfa3a80637bf48f24955cfba88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plasma-workspace-wallpapers-5.17.5.tar.xz">plasma-workspace-wallpapers-5.17.5</a></td>
   <td align="right">32MB</td>
   <td><tt>8a28ef67b65c340d40ff8f5bfc333ead68e6d8c9e410769c43af847ced9b4ca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/plymouth-kcm-5.17.5.tar.xz">plymouth-kcm-5.17.5</a></td>
   <td align="right">39kB</td>
   <td><tt>bbd6994f60ed9d63b4e4dd0abe78bf1f9c14b8ecce8ba4355d16cd52a0a86528</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/polkit-kde-agent-1-5.17.5.tar.xz">polkit-kde-agent-1-5.17.5</a></td>
   <td align="right">42kB</td>
   <td><tt>a79d76a2f584f6567639228fde6f75b3960484f7a65cfc69b6acb6df1de53f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/powerdevil-5.17.5.tar.xz">powerdevil-5.17.5</a></td>
   <td align="right">579kB</td>
   <td><tt>27904361e85e1267d933d8f0a0d3be4dc712099ed2eb3cf90959209a4443dd82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/sddm-kcm-5.17.5.tar.xz">sddm-kcm-5.17.5</a></td>
   <td align="right">57kB</td>
   <td><tt>e85fb9e014439e8c0e73638112139561aff9a9f71f26c3eafedff5a98a07b33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/systemsettings-5.17.5.tar.xz">systemsettings-5.17.5</a></td>
   <td align="right">168kB</td>
   <td><tt>50fa4d7866639995a6859446fc6a02a73ae05203e8f2ed31221e232ed3491eaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/user-manager-5.17.5.tar.xz">user-manager-5.17.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>10ed3196063c7dfed3b3f25dd199a48ca39fa86db5d0126ec84a543b1c212f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.5/xdg-desktop-portal-kde-5.17.5.tar.xz">xdg-desktop-portal-kde-5.17.5</a></td>
   <td align="right">61kB</td>
   <td><tt>a993bd4b86a44c8237a3f4957c2594aa2ca8916204ad866f8af32f7df34740f6</tt></td>
</tr>

</table>
