<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/akonadi-16.03.80.tar.xz">akonadi-16.03.80</a></td>
   <td align="right">997kB</td>
   <td><tt>f6dbd06c240988b148736eb172d4f952586aad0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/akonadi-calendar-16.03.80.tar.xz">akonadi-calendar-16.03.80</a></td>
   <td align="right">112kB</td>
   <td><tt>923ff84f0d737161de729a64e245ed11dc0772a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/akonadi-search-16.03.80.tar.xz">akonadi-search-16.03.80</a></td>
   <td align="right">68kB</td>
   <td><tt>547d0e3ffaaf5f2da019bef9f5602af8e89e98a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/analitza-16.03.80.tar.xz">analitza-16.03.80</a></td>
   <td align="right">228kB</td>
   <td><tt>0496bb7c89f5423b2f4ee8bc2e5d03124ea25cc7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ark-16.03.80.tar.xz">ark-16.03.80</a></td>
   <td align="right">887kB</td>
   <td><tt>9f170487788660258b7a985e4b006a28c329fd90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/artikulate-16.03.80.tar.xz">artikulate-16.03.80</a></td>
   <td align="right">3.5MB</td>
   <td><tt>b936ff59a63b3e5ee11ea3818e7fbf0496ef2b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/audiocd-kio-16.03.80.tar.xz">audiocd-kio-16.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>bf5f37e26b21873c7bd02d03a364b3b3af76a377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/baloo-widgets-16.03.80.tar.xz">baloo-widgets-16.03.80</a></td>
   <td align="right">55kB</td>
   <td><tt>ecc4fcba91bb00604f488791a6d78ffe17c122ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/blinken-16.03.80.tar.xz">blinken-16.03.80</a></td>
   <td align="right">554kB</td>
   <td><tt>5ce8bcdc00585bd98808eeb807a23272d44486f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/bomber-16.03.80.tar.xz">bomber-16.03.80</a></td>
   <td align="right">384kB</td>
   <td><tt>1130fb5eb6d9a1b7eb6460e01fd1b23f31f1cc7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/bovo-16.03.80.tar.xz">bovo-16.03.80</a></td>
   <td align="right">103kB</td>
   <td><tt>6f8188cf221ad3f494663c1f35bd6bd08392e9a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/calendarsupport-16.03.80.tar.xz">calendarsupport-16.03.80</a></td>
   <td align="right">87kB</td>
   <td><tt>d87cef9481a2b2def7ce1c609e8591a050477728</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/cantor-16.03.80.tar.xz">cantor-16.03.80</a></td>
   <td align="right">340kB</td>
   <td><tt>e06cba530a74feaee129b2ae7cbde53733838768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/cervisia-16.03.80.tar.xz">cervisia-16.03.80</a></td>
   <td align="right">365kB</td>
   <td><tt>576ca6c2528c44594a0108b9120bce0810815ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/dolphin-16.03.80.tar.xz">dolphin-16.03.80</a></td>
   <td align="right">644kB</td>
   <td><tt>b4407db9e8cc3f5cba6c09422d0ee1c0f03bffb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/dolphin-plugins-16.03.80.tar.xz">dolphin-plugins-16.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>384237687f3520f0006cd1e53a85b0331ca1f100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/dragon-16.03.80.tar.xz">dragon-16.03.80</a></td>
   <td align="right">394kB</td>
   <td><tt>83aadc8ae26e7cb125df0cc67fa70b7657dfd7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/eventviews-16.03.80.tar.xz">eventviews-16.03.80</a></td>
   <td align="right">133kB</td>
   <td><tt>cbae606d4bd43964a2900a48252d943b3c48981d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ffmpegthumbs-16.03.80.tar.xz">ffmpegthumbs-16.03.80</a></td>
   <td align="right">19kB</td>
   <td><tt>3d28c3db0f2d71921c30486386aa22dd7f2dc3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/filelight-16.03.80.tar.xz">filelight-16.03.80</a></td>
   <td align="right">280kB</td>
   <td><tt>691cb53e9616f610c0de20355ef219c96d787927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/gpgmepp-16.03.80.tar.xz">gpgmepp-16.03.80</a></td>
   <td align="right">66kB</td>
   <td><tt>dd7cc5e45294c96a8399458ae078224831401af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/granatier-16.03.80.tar.xz">granatier-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2b65b9892226f315bdfc02364cec7cc18dab5cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/grantleetheme-16.03.80.tar.xz">grantleetheme-16.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>46d8336340b12ace71cb0990c488eab0254966e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/gwenview-16.03.80.tar.xz">gwenview-16.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e62ce88ba22138d4a207b51977728c36936318f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/incidenceeditor-16.03.80.tar.xz">incidenceeditor-16.03.80</a></td>
   <td align="right">107kB</td>
   <td><tt>a07cbc68770b817a7fdea88758c1a7664e6839b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/jovie-16.03.80.tar.xz">jovie-16.03.80</a></td>
   <td align="right">384kB</td>
   <td><tt>ce99ba6a5cdbab0622481c2001c7560f9a4e4e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/juk-16.03.80.tar.xz">juk-16.03.80</a></td>
   <td align="right">434kB</td>
   <td><tt>7b76d4d587818a1fc2a4659fc58d691acbdfd91a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kaccessible-16.03.80.tar.xz">kaccessible-16.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>cd765b9307e2ffc06af9597c512c01c9ed7da633</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kaccounts-integration-16.03.80.tar.xz">kaccounts-integration-16.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>3f36dc3b8993660063bed64395f3edac947c29ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kaccounts-providers-16.03.80.tar.xz">kaccounts-providers-16.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8dd00628173a58b5eb65cf40950e4a9123c782ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kajongg-16.03.80.tar.xz">kajongg-16.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d69a422b304b63371ede898c63401e514295117e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kalarmcal-16.03.80.tar.xz">kalarmcal-16.03.80</a></td>
   <td align="right">85kB</td>
   <td><tt>4eb83ab84b34b30ccb9ef7924d36f552fcb497cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kalgebra-16.03.80.tar.xz">kalgebra-16.03.80</a></td>
   <td align="right">250kB</td>
   <td><tt>b8b7bb11e5770c22007b5d5e2054dc649432e27d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kalzium-16.03.80.tar.xz">kalzium-16.03.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>876d3be7b05a33c8b7fd5915495497194a503044</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kamera-16.03.80.tar.xz">kamera-16.03.80</a></td>
   <td align="right">36kB</td>
   <td><tt>5030be817c9661d8fd07a0218fb74389af566267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kanagram-16.03.80.tar.xz">kanagram-16.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f35ee2370000976be4c09f82693cbb3e6da1cbf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kapman-16.03.80.tar.xz">kapman-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f04cac5fbfb457bb499cf81abca8aa5f02504b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kapptemplate-16.03.80.tar.xz">kapptemplate-16.03.80</a></td>
   <td align="right">480kB</td>
   <td><tt>b70d49474338acabd5f5a3abf990177392f9d61c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kate-16.03.80.tar.xz">kate-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4c8ee8d722d13e408bbd055d9a524288654bfdaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/katomic-16.03.80.tar.xz">katomic-16.03.80</a></td>
   <td align="right">645kB</td>
   <td><tt>802168839e09d2266bdff3b4adacadb175130759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kblackbox-16.03.80.tar.xz">kblackbox-16.03.80</a></td>
   <td align="right">255kB</td>
   <td><tt>6414eafdab45624cb00fc932e029a067f23953d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kblocks-16.03.80.tar.xz">kblocks-16.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>bf125de805e57aa9f008ca2cd8cc5a8c660add48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kblog-16.03.80.tar.xz">kblog-16.03.80</a></td>
   <td align="right">42kB</td>
   <td><tt>bbd89f4a50dcf617eb320e36c6372a716e6d0686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kbounce-16.03.80.tar.xz">kbounce-16.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>99c05a4fc85bb42b79ca3b63993aa68987f793ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kbreakout-16.03.80.tar.xz">kbreakout-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>541e2996bf5ed770410c4ae05361faac415fe364</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kbruch-16.03.80.tar.xz">kbruch-16.03.80</a></td>
   <td align="right">884kB</td>
   <td><tt>8b4ed0506badb4b23d75046c118e2ef4aad38ce7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcachegrind-16.03.80.tar.xz">kcachegrind-16.03.80</a></td>
   <td align="right">232kB</td>
   <td><tt>2ce7016f74618b08794de9ddf7f4cc1fecc71ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcalc-16.03.80.tar.xz">kcalc-16.03.80</a></td>
   <td align="right">81kB</td>
   <td><tt>c46bcb9baadab81fcf1a0c1b64e2dfef9c3e766b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcalcore-16.03.80.tar.xz">kcalcore-16.03.80</a></td>
   <td align="right">289kB</td>
   <td><tt>56226ee990251bd8f236a30417947946aaf0929a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcalutils-16.03.80.tar.xz">kcalutils-16.03.80</a></td>
   <td align="right">68kB</td>
   <td><tt>182355a711d6b3421032896b351e7802607b90d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcharselect-16.03.80.tar.xz">kcharselect-16.03.80</a></td>
   <td align="right">70kB</td>
   <td><tt>b7d108d90a53dd25d741da50bd3ee7c63e3ae482</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcolorchooser-16.03.80.tar.xz">kcolorchooser-16.03.80</a></td>
   <td align="right">4kB</td>
   <td><tt>ebc52fd6817baae488360c21226beb77ac2418d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcontacts-16.03.80.tar.xz">kcontacts-16.03.80</a></td>
   <td align="right">132kB</td>
   <td><tt>fdd198e00206721b26336e05e310d83828a75267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kcron-16.03.80.tar.xz">kcron-16.03.80</a></td>
   <td align="right">136kB</td>
   <td><tt>65c9b9af653d16b95664cffb4b6853a75f0d041d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-baseapps-16.03.80.tar.xz">kde-baseapps-16.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a0c198743877fd35136408846ef17c34892eef76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdebugsettings-16.03.80.tar.xz">kdebugsettings-16.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>77767b11477ae0a071c45dcfda44f8cc25c668e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-dev-scripts-16.03.80.tar.xz">kde-dev-scripts-16.03.80</a></td>
   <td align="right">302kB</td>
   <td><tt>67135a7ca9ab32d9cabf6d26cff8a77d2727e2b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-dev-utils-16.03.80.tar.xz">kde-dev-utils-16.03.80</a></td>
   <td align="right">50kB</td>
   <td><tt>8b9769be4a4be365fdfc74ff8179566fa38e41ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdeedu-data-16.03.80.tar.xz">kdeedu-data-16.03.80</a></td>
   <td align="right">94kB</td>
   <td><tt>54b15289b4378a6b61a1d910b7c644d18b6e9a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdegraphics-mobipocket-16.03.80.tar.xz">kdegraphics-mobipocket-16.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>2585d5da153edc8f9e4dc8f0007982dda5e1f02d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdegraphics-strigi-analyzer-16.03.80.tar.xz">kdegraphics-strigi-analyzer-16.03.80</a></td>
   <td align="right">39kB</td>
   <td><tt>c5584b9aaf900b17b7dab4c5f532ab3f96ce1604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdegraphics-thumbnailers-16.03.80.tar.xz">kdegraphics-thumbnailers-16.03.80</a></td>
   <td align="right">40kB</td>
   <td><tt>5881b91180a51738fbeb9868a058480423baa52f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdenetwork-filesharing-16.03.80.tar.xz">kdenetwork-filesharing-16.03.80</a></td>
   <td align="right">27kB</td>
   <td><tt>52ec44317fd99e4718dc66d0aaae836cbffacb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdenetwork-strigi-analyzers-16.03.80.tar.xz">kdenetwork-strigi-analyzers-16.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>920fe2a0d37519141e394b597e3316d24ecd31d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdenlive-16.03.80.tar.xz">kdenlive-16.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>c99add635946c4b9cca595800dee273b6aebc066</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdepim-16.03.80.tar.xz">kdepim-16.03.80</a></td>
   <td align="right">5.7MB</td>
   <td><tt>56094202839bdfd1171dcf097066358b72444c4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdepim-addons-16.03.80.tar.xz">kdepim-addons-16.03.80</a></td>
   <td align="right">205kB</td>
   <td><tt>c87574c987643c86f040fbc2c3b98ac2ad5661f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdepim-apps-libs-16.03.80.tar.xz">kdepim-apps-libs-16.03.80</a></td>
   <td align="right">59kB</td>
   <td><tt>f14d32208a5f8928b7d61eded00c680318172e13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdepimlibs-16.03.80.tar.xz">kdepimlibs-16.03.80</a></td>
   <td align="right">286kB</td>
   <td><tt>457eb794c3d9b8007e560f9b5a5e4d5a40d928d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdepim-runtime-16.03.80.tar.xz">kdepim-runtime-16.03.80</a></td>
   <td align="right">685kB</td>
   <td><tt>fcd0446799ce1eef9b1cd60660b0dd90d8543d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-runtime-16.03.80.tar.xz">kde-runtime-16.03.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>b2a86e9336fadbe02365486543f35491cab1d6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdesdk-kioslaves-16.03.80.tar.xz">kdesdk-kioslaves-16.03.80</a></td>
   <td align="right">353kB</td>
   <td><tt>fb824580fe3c029d0e2eabd771892b5a060460c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdesdk-strigi-analyzers-16.03.80.tar.xz">kdesdk-strigi-analyzers-16.03.80</a></td>
   <td align="right">17kB</td>
   <td><tt>77948f839c9baa3b85a5aff318171203ba4c094e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdesdk-thumbnailers-16.03.80.tar.xz">kdesdk-thumbnailers-16.03.80</a></td>
   <td align="right">11kB</td>
   <td><tt>e22f532a41d204ed8e060971a6d37cc5aee1595e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdewebdev-16.03.80.tar.xz">kdewebdev-16.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f967995066adc3cd0bbb2819e9ac1b610327a5f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdf-16.03.80.tar.xz">kdf-16.03.80</a></td>
   <td align="right">145kB</td>
   <td><tt>325ab3e4fb2ca2fc7b4fc6ec046a3fe396d113e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdgantt2-16.03.80.tar.xz">kdgantt2-16.03.80</a></td>
   <td align="right">43kB</td>
   <td><tt>1515fe294fe794f947d30cdfdb370f4d8c8738f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kdiamond-16.03.80.tar.xz">kdiamond-16.03.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>25259fd6ef7d9e59cfb9ea4a78bfe78153d886e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kfloppy-16.03.80.tar.xz">kfloppy-16.03.80</a></td>
   <td align="right">52kB</td>
   <td><tt>53e48b94a207f48f76bb7f23271b817ad70c61d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kfourinline-16.03.80.tar.xz">kfourinline-16.03.80</a></td>
   <td align="right">274kB</td>
   <td><tt>bf4b7688c2a0b520cbf365f31615bf63ca0dcbd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kgeography-16.03.80.tar.xz">kgeography-16.03.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>d8d035befb68ada2a6a385d73c8c952dc6856966</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kget-16.03.80.tar.xz">kget-16.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>24393735ac633b122c1cd4dc8d5936963307d486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kgoldrunner-16.03.80.tar.xz">kgoldrunner-16.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>da2980e1fb64be024a39ef69f362e22c5cfb7d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kgpg-16.03.80.tar.xz">kgpg-16.03.80</a></td>
   <td align="right">790kB</td>
   <td><tt>3d85d26fdd8299d9a66f11c966afcafecf970f13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/khangman-16.03.80.tar.xz">khangman-16.03.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8cc6bf85765a5bb342e4f20df8ba6f57a0a3d4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/khelpcenter-16.03.80.tar.xz">khelpcenter-16.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ce39c306a2e91c55e93a0e0b8cd67c35d08ae097</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kholidays-16.03.80.tar.xz">kholidays-16.03.80</a></td>
   <td align="right">171kB</td>
   <td><tt>327fa3b31fe529069a2eebaa2c57b6b1b68b4e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kidentitymanagement-16.03.80.tar.xz">kidentitymanagement-16.03.80</a></td>
   <td align="right">35kB</td>
   <td><tt>b542825744b1f00d26cfd8f820b8e800706e1210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kig-16.03.80.tar.xz">kig-16.03.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>0f422be8fac2ad0f61be3d3d1d0bfa04c16eed40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kigo-16.03.80.tar.xz">kigo-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>188df7cb41980d630918a77759be4521dc6751d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/killbots-16.03.80.tar.xz">killbots-16.03.80</a></td>
   <td align="right">940kB</td>
   <td><tt>538dc3c5b43acf76bff1e0f0478c3f353c50df01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kimap-16.03.80.tar.xz">kimap-16.03.80</a></td>
   <td align="right">88kB</td>
   <td><tt>9f4893a7b5793b5b157c0408bc85fe816db06fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kio-extras-16.03.80.tar.xz">kio-extras-16.03.80</a></td>
   <td align="right">271kB</td>
   <td><tt>93317391d62b49baddcab051e42835528331b659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kiriki-16.03.80.tar.xz">kiriki-16.03.80</a></td>
   <td align="right">117kB</td>
   <td><tt>c5a60316d0932894c5b7af566c3629a5d7ad0104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kiten-16.03.80.tar.xz">kiten-16.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>bf0255ed590714c8c4e9cf45592fa8308048b1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kjumpingcube-16.03.80.tar.xz">kjumpingcube-16.03.80</a></td>
   <td align="right">161kB</td>
   <td><tt>bef22bd7d386e643b1b68b7e8d7eacbc82bc553c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kldap-16.03.80.tar.xz">kldap-16.03.80</a></td>
   <td align="right">52kB</td>
   <td><tt>f27177507b9d456c07a6b70eb1bc4ca0158fcd25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kleopatra-16.03.80.tar.xz">kleopatra-16.03.80</a></td>
   <td align="right">695kB</td>
   <td><tt>29ec5406cbad371fb9ea9a4ed96878c1fef45db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/klettres-16.03.80.tar.xz">klettres-16.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>7f011a90d8cc5f12509eb0b5bd8f5b1b4c0ccdbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/klickety-16.03.80.tar.xz">klickety-16.03.80</a></td>
   <td align="right">804kB</td>
   <td><tt>ba11c4651145b3a0c2f956c5fadb4fb80cf655b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/klines-16.03.80.tar.xz">klines-16.03.80</a></td>
   <td align="right">985kB</td>
   <td><tt>bc585a85a145b713e617731361891f2168b18ad8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmag-16.03.80.tar.xz">kmag-16.03.80</a></td>
   <td align="right">84kB</td>
   <td><tt>fbcc6a5f848424bf007fb73feb50740835ddc6ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmahjongg-16.03.80.tar.xz">kmahjongg-16.03.80</a></td>
   <td align="right">988kB</td>
   <td><tt>0fca9be628364d403ca59270431aeb218fb42200</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmailtransport-16.03.80.tar.xz">kmailtransport-16.03.80</a></td>
   <td align="right">63kB</td>
   <td><tt>17843ce59789f12acab2b314869875d25e71d36c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmbox-16.03.80.tar.xz">kmbox-16.03.80</a></td>
   <td align="right">23kB</td>
   <td><tt>3cca24c15fde5cd75fcd581fd4bf70797f744f09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmime-16.03.80.tar.xz">kmime-16.03.80</a></td>
   <td align="right">119kB</td>
   <td><tt>eb14b3b392efa99022e659a18c253db574132eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmines-16.03.80.tar.xz">kmines-16.03.80</a></td>
   <td align="right">608kB</td>
   <td><tt>ae9652de90ce0561cabdebe8a3ba85cbc9e008bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmix-16.03.80.tar.xz">kmix-16.03.80</a></td>
   <td align="right">380kB</td>
   <td><tt>2d8d44872543890f86a3027af82b5eadc93d2eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmousetool-16.03.80.tar.xz">kmousetool-16.03.80</a></td>
   <td align="right">34kB</td>
   <td><tt>8b728cf4e7b18a15090fb05e0d506bde8a6d6ee8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmouth-16.03.80.tar.xz">kmouth-16.03.80</a></td>
   <td align="right">270kB</td>
   <td><tt>d62f1a194bd23b244e69978460a09df1aa2386dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kmplot-16.03.80.tar.xz">kmplot-16.03.80</a></td>
   <td align="right">647kB</td>
   <td><tt>145a6dfb160ddfb62481e33fef099d90e6ad5659</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/knavalbattle-16.03.80.tar.xz">knavalbattle-16.03.80</a></td>
   <td align="right">889kB</td>
   <td><tt>3daeecafbe0b2525bc4bf7b146781a660b9fb28a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/knetwalk-16.03.80.tar.xz">knetwalk-16.03.80</a></td>
   <td align="right">764kB</td>
   <td><tt>7fe72032934ed38a9c7ff5f6d35af485c9c00ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kolf-16.03.80.tar.xz">kolf-16.03.80</a></td>
   <td align="right">749kB</td>
   <td><tt>b7ccbab5f203ccb720d90c0a2794e94018b2d3fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kollision-16.03.80.tar.xz">kollision-16.03.80</a></td>
   <td align="right">204kB</td>
   <td><tt>7c73adb5a96a2b50e36f08d887e6064d72e61a31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kolourpaint-16.03.80.tar.xz">kolourpaint-16.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c445f2331e69a1913c21f924a975203dfec5eed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kompare-16.03.80.tar.xz">kompare-16.03.80</a></td>
   <td align="right">336kB</td>
   <td><tt>da01779e7a5a62387d43d3eb29267570726f8e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/konquest-16.03.80.tar.xz">konquest-16.03.80</a></td>
   <td align="right">396kB</td>
   <td><tt>e836091fbd58f6f44665e9080b2b83c575d701f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/konsole-16.03.80.tar.xz">konsole-16.03.80</a></td>
   <td align="right">449kB</td>
   <td><tt>25df5637ddf4ef04ed417de9ca7d39ebdc992896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kontactinterface-16.03.80.tar.xz">kontactinterface-16.03.80</a></td>
   <td align="right">24kB</td>
   <td><tt>419641382815d67ffa46f31c7228d7b6a8379a4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kopete-16.03.80.tar.xz">kopete-16.03.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>2719755137a9d3062fe6149f5f0191fc2c546328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kpat-16.03.80.tar.xz">kpat-16.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>f42b42fafc5b9b49dda285284928d5ecba2ffb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kpimtextedit-16.03.80.tar.xz">kpimtextedit-16.03.80</a></td>
   <td align="right">76kB</td>
   <td><tt>7e2f232a75a2d2ee19e4ac03a4a7166aec120112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kppp-16.03.80.tar.xz">kppp-16.03.80</a></td>
   <td align="right">683kB</td>
   <td><tt>308cd8e4dd7d6f5335a3ba604bdba09842857e75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kqtquickcharts-16.03.80.tar.xz">kqtquickcharts-16.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>30cb51cb03b4662cb97c2824c86bc1a21c536975</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/krdc-16.03.80.tar.xz">krdc-16.03.80</a></td>
   <td align="right">387kB</td>
   <td><tt>e0f677844a4e942b96023738b3be10e27e6454b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kremotecontrol-16.03.80.tar.xz">kremotecontrol-16.03.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>916e25acce5b5a7653d9308b03c37d81b2539835</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kreversi-16.03.80.tar.xz">kreversi-16.03.80</a></td>
   <td align="right">464kB</td>
   <td><tt>19693c6cb2505ff21dfbe10e5800c0f241cf3cc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/krfb-16.03.80.tar.xz">krfb-16.03.80</a></td>
   <td align="right">317kB</td>
   <td><tt>eaa19d2618076cd8557fc8b319a2ab4f536239b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kross-interpreters-16.03.80.tar.xz">kross-interpreters-16.03.80</a></td>
   <td align="right">129kB</td>
   <td><tt>2b088081e303fc61d784b11b2c02ea73183c7a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kruler-16.03.80.tar.xz">kruler-16.03.80</a></td>
   <td align="right">120kB</td>
   <td><tt>a6636fc44664fcddb62aa4b8ac15e3fa5ed987f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksaneplugin-16.03.80.tar.xz">ksaneplugin-16.03.80</a></td>
   <td align="right">12kB</td>
   <td><tt>46c1e8673a049a4a25057bfd5189fa0ee944be1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kscd-16.03.80.tar.xz">kscd-16.03.80</a></td>
   <td align="right">90kB</td>
   <td><tt>f313f320bfb653398309fe7d526b9d55ca788c52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kshisen-16.03.80.tar.xz">kshisen-16.03.80</a></td>
   <td align="right">135kB</td>
   <td><tt>81f650bbb9f1349d90509bc4dd620b3c4301be20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksirk-16.03.80.tar.xz">ksirk-16.03.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>71c92a9ee5dda07ff68463a022c017d7d2b38921</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksnakeduel-16.03.80.tar.xz">ksnakeduel-16.03.80</a></td>
   <td align="right">290kB</td>
   <td><tt>9a327f8cc1ea347d03b37e8991885b47d51d272a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kspaceduel-16.03.80.tar.xz">kspaceduel-16.03.80</a></td>
   <td align="right">247kB</td>
   <td><tt>1c62177534093e01e00827fd7372bf2fcde098de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksquares-16.03.80.tar.xz">ksquares-16.03.80</a></td>
   <td align="right">78kB</td>
   <td><tt>de9dfbd7ecfa62eea1ebab8dbb15d5e47dd5cc40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kstars-16.03.80.tar.xz">kstars-16.03.80</a></td>
   <td align="right">16MB</td>
   <td><tt>8b6f8b98582f33968bdd5cf4bbada67d5c371eec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksudoku-16.03.80.tar.xz">ksudoku-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>df58bde0737083c5511ae248a11da9901fbba2c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ksystemlog-16.03.80.tar.xz">ksystemlog-16.03.80</a></td>
   <td align="right">386kB</td>
   <td><tt>d5b104a6f59da10466fd4bf8fc87e8755408538f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kteatime-16.03.80.tar.xz">kteatime-16.03.80</a></td>
   <td align="right">102kB</td>
   <td><tt>9975e1a73af8faa5789b4e965b7acd1302afdbfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktimer-16.03.80.tar.xz">ktimer-16.03.80</a></td>
   <td align="right">157kB</td>
   <td><tt>09cae75f32e3698cbde8f72289c261f81da73e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktnef-16.03.80.tar.xz">ktnef-16.03.80</a></td>
   <td align="right">227kB</td>
   <td><tt>2ce95785e1dd02e66a246784011f0b229a17102d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktouch-16.03.80.tar.xz">ktouch-16.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b71aab6a621a3f4acc14330d999d671d6c5e3893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-accounts-kcm-16.03.80.tar.xz">ktp-accounts-kcm-16.03.80</a></td>
   <td align="right">86kB</td>
   <td><tt>94c1592c7801788f512e07f8ad685f49b5c76620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-approver-16.03.80.tar.xz">ktp-approver-16.03.80</a></td>
   <td align="right">20kB</td>
   <td><tt>ebc2bdf6e3bcbe3dcef67aefa395003c843eb45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-auth-handler-16.03.80.tar.xz">ktp-auth-handler-16.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>3da6dd4355fffbdc2b35057e65bea3c0dc3dabbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-call-ui-16.03.80.tar.xz">ktp-call-ui-16.03.80</a></td>
   <td align="right">44kB</td>
   <td><tt>e9a95eade69b65113b39fd95abb9a74bbf526f88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-common-internals-16.03.80.tar.xz">ktp-common-internals-16.03.80</a></td>
   <td align="right">309kB</td>
   <td><tt>7dfa76bb138e589eae46bf3cb6e51d56fb2dfb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-contact-list-16.03.80.tar.xz">ktp-contact-list-16.03.80</a></td>
   <td align="right">47kB</td>
   <td><tt>26c3ff447ed27531b89123754e482e3ae82c5189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-contact-runner-16.03.80.tar.xz">ktp-contact-runner-16.03.80</a></td>
   <td align="right">16kB</td>
   <td><tt>05916103fe6f1dbdd23a1ed44043c386752946b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-desktop-applets-16.03.80.tar.xz">ktp-desktop-applets-16.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>2971562dbf448b3f4ab8036b6139da2a0e755d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-filetransfer-handler-16.03.80.tar.xz">ktp-filetransfer-handler-16.03.80</a></td>
   <td align="right">22kB</td>
   <td><tt>e79edd00f8f0238592d640c3511925fb2fb5684b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-kded-module-16.03.80.tar.xz">ktp-kded-module-16.03.80</a></td>
   <td align="right">37kB</td>
   <td><tt>71c1d6456a7e02976a70f4885fb71eac865a7eb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-send-file-16.03.80.tar.xz">ktp-send-file-16.03.80</a></td>
   <td align="right">14kB</td>
   <td><tt>2086dd8be61f38d54696c711ee0e95a606eca371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktp-text-ui-16.03.80.tar.xz">ktp-text-ui-16.03.80</a></td>
   <td align="right">287kB</td>
   <td><tt>6798f8b4f05b74228f131a060de7f14ecf6589f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/ktuberling-16.03.80.tar.xz">ktuberling-16.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>2b11fdb6e7bb70b87e55b940b1015bd7d23c0563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kturtle-16.03.80.tar.xz">kturtle-16.03.80</a></td>
   <td align="right">189kB</td>
   <td><tt>b77b2b8ff30f6e5b94247bcef27b71224f20644a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kubrick-16.03.80.tar.xz">kubrick-16.03.80</a></td>
   <td align="right">104kB</td>
   <td><tt>eae02c39edfc78d4fbc55a12c909d8cfad68a971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kuser-16.03.80.tar.xz">kuser-16.03.80</a></td>
   <td align="right">132kB</td>
   <td><tt>db369ef1a985177c1e641198f12345251b45d7ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kwalletmanager-16.03.80.tar.xz">kwalletmanager-16.03.80</a></td>
   <td align="right">446kB</td>
   <td><tt>c7f726fd8062b9e8840d624559370d9e68b66a25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kwordquiz-16.03.80.tar.xz">kwordquiz-16.03.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>6a62afca3647c6e0e549ff06188dce46072feb7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libgravatar-16.03.80.tar.xz">libgravatar-16.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>e83b5cc432e6e9720858488d18340e771f9b675e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkcddb-16.03.80.tar.xz">libkcddb-16.03.80</a></td>
   <td align="right">154kB</td>
   <td><tt>034e17ab93e6d587c179f7a105802ac9da4c7b36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkcompactdisc-16.03.80.tar.xz">libkcompactdisc-16.03.80</a></td>
   <td align="right">74kB</td>
   <td><tt>d5b7280116adc2e171fe41b98f592453341b5e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkdcraw-16.03.80.tar.xz">libkdcraw-16.03.80</a></td>
   <td align="right">41kB</td>
   <td><tt>4a8c6cc9e9f42adab17c35340a180c89a5d773e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkdeedu-16.03.80.tar.xz">libkdeedu-16.03.80</a></td>
   <td align="right">128kB</td>
   <td><tt>a809d9656ac8070cc4cf843e5f8758753c491087</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkdegames-16.03.80.tar.xz">libkdegames-16.03.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>9bf8e3eb75470289e26302ea3ee52d824e76d305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkdepim-16.03.80.tar.xz">libkdepim-16.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>86402fdeec546d233a5833ff182bd5a6e0e9681f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkeduvocdocument-16.03.80.tar.xz">libkeduvocdocument-16.03.80</a></td>
   <td align="right">87kB</td>
   <td><tt>a3eacc6433287c30c6cfb883560fe1774b95d18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkexiv2-16.03.80.tar.xz">libkexiv2-16.03.80</a></td>
   <td align="right">63kB</td>
   <td><tt>6930bbc99d1a70a20e3ff0c65c900aa6980f7c3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkface-16.03.80.tar.xz">libkface-16.03.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>b40cac7f3d86f05240fbcf79bd26c57f9d0384dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkgeomap-16.03.80.tar.xz">libkgeomap-16.03.80</a></td>
   <td align="right">122kB</td>
   <td><tt>fcb847cfb00679cbeadea0f397b7d3db4179e6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkipi-16.03.80.tar.xz">libkipi-16.03.80</a></td>
   <td align="right">101kB</td>
   <td><tt>8769d57fa7456f7b85c29263a01df32e9ca90c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkleo-16.03.80.tar.xz">libkleo-16.03.80</a></td>
   <td align="right">127kB</td>
   <td><tt>6b40201e1a70f6c90e701d92249a06e9bebba4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkmahjongg-16.03.80.tar.xz">libkmahjongg-16.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d9b9e683f4f79852edfd357fb29ade9035a67909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libkomparediff2-16.03.80.tar.xz">libkomparediff2-16.03.80</a></td>
   <td align="right">55kB</td>
   <td><tt>13b172c695f38c89dbf7b075439ab35a939a2928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libksane-16.03.80.tar.xz">libksane-16.03.80</a></td>
   <td align="right">79kB</td>
   <td><tt>9f2c2fab86baa0bda373bcbc4a366869a371d14c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/libksieve-16.03.80.tar.xz">libksieve-16.03.80</a></td>
   <td align="right">136kB</td>
   <td><tt>4b887e19abaee36a64c3de4f72503508fbabd5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/lokalize-16.03.80.tar.xz">lokalize-16.03.80</a></td>
   <td align="right">934kB</td>
   <td><tt>cab7166f50384f650994ae3a44872dc34000dff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/lskat-16.03.80.tar.xz">lskat-16.03.80</a></td>
   <td align="right">906kB</td>
   <td><tt>f4da09437de588862548bff2cd59161037b7dceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/mailcommon-16.03.80.tar.xz">mailcommon-16.03.80</a></td>
   <td align="right">168kB</td>
   <td><tt>bda590e661175b494310133afcedc6d79bde29bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/mailimporter-16.03.80.tar.xz">mailimporter-16.03.80</a></td>
   <td align="right">363kB</td>
   <td><tt>fac63b37608a74d9f75fe0dcc16096d57cd5ff7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/marble-16.03.80.tar.xz">marble-16.03.80</a></td>
   <td align="right">22MB</td>
   <td><tt>31bbc642f8e2186203c0f874e99c2f39b369173d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/messagelib-16.03.80.tar.xz">messagelib-16.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>2b55009cca580e5fba2f119c387a7398622a249f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/minuet-16.03.80.tar.xz">minuet-16.03.80</a></td>
   <td align="right">498kB</td>
   <td><tt>d019e1723ec63bf49b26b26fa36248bdd2c7a778</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/mplayerthumbs-16.03.80.tar.xz">mplayerthumbs-16.03.80</a></td>
   <td align="right">26kB</td>
   <td><tt>529ea3ef817b5c1c7785f414201d0ede5c5fa836</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/okteta-16.03.80.tar.xz">okteta-16.03.80</a></td>
   <td align="right">492kB</td>
   <td><tt>c559fbde0d818a56a7741cbb35f17305df28bd9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/okular-16.03.80.tar.xz">okular-16.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>b9740fee2fbd72432f9652871b04cff82fb55476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/palapeli-16.03.80.tar.xz">palapeli-16.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>994cf61d3c1ee26dfb846b4cb919f3e6d26f1f89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/parley-16.03.80.tar.xz">parley-16.03.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>67c47afe723780372dc06dc237fe46c4012e9722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/picmi-16.03.80.tar.xz">picmi-16.03.80</a></td>
   <td align="right">717kB</td>
   <td><tt>6a7370bad2b0f1bb5c95d854af1217b8e5c85c73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/pimcommon-16.03.80.tar.xz">pimcommon-16.03.80</a></td>
   <td align="right">140kB</td>
   <td><tt>b7306347f5a1c0b604b3d312a385a50b211b2067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/poxml-16.03.80.tar.xz">poxml-16.03.80</a></td>
   <td align="right">31kB</td>
   <td><tt>85a46737018fa215e8038ddfda777db217227d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/print-manager-16.03.80.tar.xz">print-manager-16.03.80</a></td>
   <td align="right">91kB</td>
   <td><tt>2900247706bb22a5d8ae1ae6234e442cd672b41f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/rocs-16.03.80.tar.xz">rocs-16.03.80</a></td>
   <td align="right">520kB</td>
   <td><tt>456df3695df1d58ccd51fdc12981350d9ddc509f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/signon-kwallet-extension-16.03.80.tar.xz">signon-kwallet-extension-16.03.80</a></td>
   <td align="right">10kB</td>
   <td><tt>bd561a0e1c08e8979d25f10c61628251db55cf41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/spectacle-16.03.80.tar.xz">spectacle-16.03.80</a></td>
   <td align="right">970kB</td>
   <td><tt>3ed262ea1d402bc3348fa29fc2e996e49823c3a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/step-16.03.80.tar.xz">step-16.03.80</a></td>
   <td align="right">379kB</td>
   <td><tt>66a364c8a5f3f4cb8f4ef48b5475ec9b61b35f34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/svgpart-16.03.80.tar.xz">svgpart-16.03.80</a></td>
   <td align="right">8kB</td>
   <td><tt>3a7256bf2d81dd9e8a896380126344607c85b1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/sweeper-16.03.80.tar.xz">sweeper-16.03.80</a></td>
   <td align="right">80kB</td>
   <td><tt>3ddcc044697168e66eeefbd5897aa79c316faee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/syndication-16.03.80.tar.xz">syndication-16.03.80</a></td>
   <td align="right">156kB</td>
   <td><tt>f1def96b988085f82c331c399774cb21cb50e497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/umbrello-16.03.80.tar.xz">umbrello-16.03.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>74c126b92cc4929ed1a7966960a5cf6aa7925829</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/zeroconf-ioslave-16.03.80.tar.xz">zeroconf-ioslave-16.03.80</a></td>
   <td align="right">25kB</td>
   <td><tt>6cba49cd1ecd3c310e21203708884b7f2fde906c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ar-16.03.80.tar.xz">kde-l10n-ar-16.03.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>285fb8e099170cff5e65ab9acc876a6131ed8598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ast-16.03.80.tar.xz">kde-l10n-ast-16.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>08f469f5f7de6ab495a1dc46f64aa80e5f4f16f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-bg-16.03.80.tar.xz">kde-l10n-bg-16.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5bde723f1c563b1169cb1b532efbd320b914a501</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-bs-16.03.80.tar.xz">kde-l10n-bs-16.03.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>5c1285a940a4086e480006b2515a8a0906f9c2b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ca-16.03.80.tar.xz">kde-l10n-ca-16.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>40283ca0881d1d815a5b0048ba788ea0280c8f49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ca@valencia-16.03.80.tar.xz">kde-l10n-ca@valencia-16.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>2f6e3ea4a519db329516d0fa0ad03e62796104a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-cs-16.03.80.tar.xz">kde-l10n-cs-16.03.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>7fc08505faf175c4d28c6530f03da03d2e4eca00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-da-16.03.80.tar.xz">kde-l10n-da-16.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>e01987e6b5629ffe162dd62840ae186e700814b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-de-16.03.80.tar.xz">kde-l10n-de-16.03.80</a></td>
   <td align="right">34MB</td>
   <td><tt>79138ad0eaeeb94097b3c139ce09637fff856797</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-el-16.03.80.tar.xz">kde-l10n-el-16.03.80</a></td>
   <td align="right">4.6MB</td>
   <td><tt>69fd99e6648b3b3c56fda9bd287a65e8f19a46f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-en_GB-16.03.80.tar.xz">kde-l10n-en_GB-16.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>1d6203cf38cfe05886326e17203f973995b5791f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-eo-16.03.80.tar.xz">kde-l10n-eo-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>94f19aee4e1065a964738566b24d117e53b3e17d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-es-16.03.80.tar.xz">kde-l10n-es-16.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>e70355bd11702135c01d2eee3cd88b822f659803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-et-16.03.80.tar.xz">kde-l10n-et-16.03.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>83e96e96f9d72e15800ad8dfd4149b5c88cd4be8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-eu-16.03.80.tar.xz">kde-l10n-eu-16.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>caa7e6c024a20745de4f2a5114b468fe0c6b6c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-fa-16.03.80.tar.xz">kde-l10n-fa-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c80cf2d14798f56eb80f3a30613fb45e0a26c82b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-fi-16.03.80.tar.xz">kde-l10n-fi-16.03.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9657bfff594649237a0235dba8009bdae67d3d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-fr-16.03.80.tar.xz">kde-l10n-fr-16.03.80</a></td>
   <td align="right">45MB</td>
   <td><tt>d64f35e8ed18a7a68e2981acd7458f7edfad018f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ga-16.03.80.tar.xz">kde-l10n-ga-16.03.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>1cde83b9ae52c4be9702b1c8598c0ac7940fc66f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-gl-16.03.80.tar.xz">kde-l10n-gl-16.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>06ac0ceb1667b8a2cf16f947088eb0982c7258e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-he-16.03.80.tar.xz">kde-l10n-he-16.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>22232ba9d228f0db6e806cca0cbcd6cf112ffe60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-hi-16.03.80.tar.xz">kde-l10n-hi-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>fd185b9e5ae1576ff12e6d6ec6b30f13985759b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-hr-16.03.80.tar.xz">kde-l10n-hr-16.03.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a70dc15555d0113a8d8aed4cd4f4f27c79d99f52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-hu-16.03.80.tar.xz">kde-l10n-hu-16.03.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ffa63bba0e0a1237a54b4c1a71e7bc23a6babcbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ia-16.03.80.tar.xz">kde-l10n-ia-16.03.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f56c13e29f101e7085ae431cd1a0daacec9e3ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-id-16.03.80.tar.xz">kde-l10n-id-16.03.80</a></td>
   <td align="right">545kB</td>
   <td><tt>7c1746792a40b8720cda8a17631e6e66536b029c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-is-16.03.80.tar.xz">kde-l10n-is-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e92060752612d1a94206c9faf0001e1eb591d4af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-it-16.03.80.tar.xz">kde-l10n-it-16.03.80</a></td>
   <td align="right">8.3MB</td>
   <td><tt>a1f219422684b2c110180635afaa5556f15ac9fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ja-16.03.80.tar.xz">kde-l10n-ja-16.03.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b047527ecdb47cf8d559d9d32256d1e5eb1724d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-kk-16.03.80.tar.xz">kde-l10n-kk-16.03.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1872ee65e3215ebcd879bcaff91d2947e43e7d2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-km-16.03.80.tar.xz">kde-l10n-km-16.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b523bfe81ff0b85ba1b3673fb5be521ce95a9eb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ko-16.03.80.tar.xz">kde-l10n-ko-16.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f49c8e4ac5f005d6e8203346fdf2d4124c5b1702</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-lt-16.03.80.tar.xz">kde-l10n-lt-16.03.80</a></td>
   <td align="right">12MB</td>
   <td><tt>678927d61f3a84c5a8f1cd009f397bbeba7073a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-lv-16.03.80.tar.xz">kde-l10n-lv-16.03.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>1e762a458db2d4a58eb5aee783fd9d66c059fc0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-mr-16.03.80.tar.xz">kde-l10n-mr-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2863860233cc8412a390ce90fdedd5fb444ee21e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-nb-16.03.80.tar.xz">kde-l10n-nb-16.03.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8f3dd20adade2675d23a2eb1b8b4432c5b41bebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-nds-16.03.80.tar.xz">kde-l10n-nds-16.03.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8b37ddc69429bbd78ac18d1e9814bdd10f57f915</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-nl-16.03.80.tar.xz">kde-l10n-nl-16.03.80</a></td>
   <td align="right">13MB</td>
   <td><tt>0af2c3577b60b6011bed50a77fd25f18859b0305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-nn-16.03.80.tar.xz">kde-l10n-nn-16.03.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>88c80a2de60b809e42ba56ba55a7e5f0be1593d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-pa-16.03.80.tar.xz">kde-l10n-pa-16.03.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>33d933c1b59c64e1e9e0e42e4cc900ae24f74bc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-pl-16.03.80.tar.xz">kde-l10n-pl-16.03.80</a></td>
   <td align="right">18MB</td>
   <td><tt>0d6aa415c077fc0f34d7e1a23de4db0141bf0fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-pt-16.03.80.tar.xz">kde-l10n-pt-16.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>dcaee3a5319cd8cd8cfb4c87bfefd7a2ddd33ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-pt_BR-16.03.80.tar.xz">kde-l10n-pt_BR-16.03.80</a></td>
   <td align="right">20MB</td>
   <td><tt>a0d4d616837ecf39eb63aad18f05ef91b6ea5c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ro-16.03.80.tar.xz">kde-l10n-ro-16.03.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5e99e5ec4671ae5c1ffb28c10a350f86c8deece1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ru-16.03.80.tar.xz">kde-l10n-ru-16.03.80</a></td>
   <td align="right">22MB</td>
   <td><tt>97ff84e2ffe4f8f5ede960a9ee8c3b353bee10ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-sk-16.03.80.tar.xz">kde-l10n-sk-16.03.80</a></td>
   <td align="right">4.3MB</td>
   <td><tt>a8480fbbf1b80dd3d8fd42b2550fa6ce42f8e358</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-sl-16.03.80.tar.xz">kde-l10n-sl-16.03.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>dfea04a030b0fbaafe0e3aec13202470057aa17b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-sr-16.03.80.tar.xz">kde-l10n-sr-16.03.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>12a7cde8acfae2a2bb4d79c969297ec8676d0c98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-sv-16.03.80.tar.xz">kde-l10n-sv-16.03.80</a></td>
   <td align="right">11MB</td>
   <td><tt>b453bbd13ef9742a88b6b2b0a2683e0c7ee18847</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-tr-16.03.80.tar.xz">kde-l10n-tr-16.03.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>abec7ba4a5494918405838fa4158f75f4d7c8517</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-ug-16.03.80.tar.xz">kde-l10n-ug-16.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>52a08ab087abcddde185b1fd63a8955fce19fd7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-uk-16.03.80.tar.xz">kde-l10n-uk-16.03.80</a></td>
   <td align="right">25MB</td>
   <td><tt>68ba602dec611d48de5a562ba30d2565da9f3410</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-wa-16.03.80.tar.xz">kde-l10n-wa-16.03.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>985e9ed24b59dcfbcb8af7173e034169d71ae44e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-zh_CN-16.03.80.tar.xz">kde-l10n-zh_CN-16.03.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>0ceb15946371f05ba2117d0bbe35904b186f5376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/16.03.80/src/kde-l10n/kde-l10n-zh_TW-16.03.80.tar.xz">kde-l10n-zh_TW-16.03.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>b2723986df99769eb2b7e3d1f5fbb1f5f47e5170</tt></td>
</tr>

</table>
