
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/attica-5.54.0.tar.xz">attica-5.54.0</a></td>
   <td align="right">61kB</td>
   <td><tt>d761dcb30cf53d42897c4a516a28e4405af02703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/baloo-5.54.0.tar.xz">baloo-5.54.0</a></td>
   <td align="right">231kB</td>
   <td><tt>9ffefc207b37d71e8481cd15a3f4d4661e1c8f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/bluez-qt-5.54.0.tar.xz">bluez-qt-5.54.0</a></td>
   <td align="right">78kB</td>
   <td><tt>05d5df0c8128ba07c48e0d4e80d08937211bbe79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/breeze-icons-5.54.0.tar.xz">breeze-icons-5.54.0</a></td>
   <td align="right">1.5MB</td>
   <td><tt>3a7d87a274904587d03a31cbc0ab057a8d573bce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/extra-cmake-modules-5.54.0.tar.xz">extra-cmake-modules-5.54.0</a></td>
   <td align="right">317kB</td>
   <td><tt>8806e2543a2d4123ede2be4f6980a375f8bc6a7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/frameworkintegration-5.54.0.tar.xz">frameworkintegration-5.54.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>11fca8fb86ffdf064549b9300f19f43aa7c126fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kactivities-5.54.0.tar.xz">kactivities-5.54.0</a></td>
   <td align="right">59kB</td>
   <td><tt>08fd8f370c0c0e2ee48d6fd21a051950a31cbf9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kactivities-stats-5.54.0.tar.xz">kactivities-stats-5.54.0</a></td>
   <td align="right">59kB</td>
   <td><tt>6c8b889d787dd9600829ece856a955cc99959ea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kapidox-5.54.0.tar.xz">kapidox-5.54.0</a></td>
   <td align="right">387kB</td>
   <td><tt>5cfa02265a6e87bb6b8c2f90d0869883183e6c8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/karchive-5.54.0.tar.xz">karchive-5.54.0</a></td>
   <td align="right">429kB</td>
   <td><tt>a1f93e059cd915229574598f8c05d65dc5503304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kauth-5.54.0.tar.xz">kauth-5.54.0</a></td>
   <td align="right">82kB</td>
   <td><tt>010244d83d9ed5f8d97d4fa5ece1b225b7365f7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kbookmarks-5.54.0.tar.xz">kbookmarks-5.54.0</a></td>
   <td align="right">115kB</td>
   <td><tt>5c2e2e66c5bd4d2d767157d948c137932915ae8d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kcmutils-5.54.0.tar.xz">kcmutils-5.54.0</a></td>
   <td align="right">231kB</td>
   <td><tt>396799e5323146497308f040c9a5fc2d555ae42e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kcodecs-5.54.0.tar.xz">kcodecs-5.54.0</a></td>
   <td align="right">214kB</td>
   <td><tt>99309a1c39415ab2a36a30f3225e851ab106cd47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kcompletion-5.54.0.tar.xz">kcompletion-5.54.0</a></td>
   <td align="right">112kB</td>
   <td><tt>710e30eb46f81eaf1381a4ace0f9ed3d1fad6df9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kconfig-5.54.0.tar.xz">kconfig-5.54.0</a></td>
   <td align="right">232kB</td>
   <td><tt>bafdfe42424a8c591cbe5168fe412a874de8ef66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kconfigwidgets-5.54.0.tar.xz">kconfigwidgets-5.54.0</a></td>
   <td align="right">364kB</td>
   <td><tt>d40ca5437d8de269498433b5b893c3754992900b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kcoreaddons-5.54.0.tar.xz">kcoreaddons-5.54.0</a></td>
   <td align="right">351kB</td>
   <td><tt>44b4324f488ba2dbae392d2111db7a180879b896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kcrash-5.54.0.tar.xz">kcrash-5.54.0</a></td>
   <td align="right">21kB</td>
   <td><tt>aa2bcfd6a89fe08a438a0234dd9b7e21af831867</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdbusaddons-5.54.0.tar.xz">kdbusaddons-5.54.0</a></td>
   <td align="right">36kB</td>
   <td><tt>104f4046dd641f262ee02d24b3741d1e0f2e1512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdeclarative-5.54.0.tar.xz">kdeclarative-5.54.0</a></td>
   <td align="right">168kB</td>
   <td><tt>64fdae4a262199a338c4dec24b7acd1099e73cab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kded-5.54.0.tar.xz">kded-5.54.0</a></td>
   <td align="right">37kB</td>
   <td><tt>ce0fe1e35332a2caa125aa64f7ded0c32c65c437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdesignerplugin-5.54.0.tar.xz">kdesignerplugin-5.54.0</a></td>
   <td align="right">88kB</td>
   <td><tt>ef8695aa191669fdd52a1ccebc4282861b51f670</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdesu-5.54.0.tar.xz">kdesu-5.54.0</a></td>
   <td align="right">43kB</td>
   <td><tt>1058276e2840d0dce9261d40baf087022e2d6954</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdewebkit-5.54.0.tar.xz">kdewebkit-5.54.0</a></td>
   <td align="right">28kB</td>
   <td><tt>e4df50e60290b4f830934a044da9aaea0d003e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdnssd-5.54.0.tar.xz">kdnssd-5.54.0</a></td>
   <td align="right">56kB</td>
   <td><tt>3a6377e335f4d000ea9df62f6db754b0e2d49e5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kdoctools-5.54.0.tar.xz">kdoctools-5.54.0</a></td>
   <td align="right">414kB</td>
   <td><tt>516387e834b1b5ffa1da0c76bd4a19fd7cdcf563</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kemoticons-5.54.0.tar.xz">kemoticons-5.54.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>388c7719136e2f82ae5736a59258bcaf0b5dd817</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kfilemetadata-5.54.0.tar.xz">kfilemetadata-5.54.0</a></td>
   <td align="right">295kB</td>
   <td><tt>bca6ae237ab7503a7fdf4fed43f5c9f33bc81af2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kglobalaccel-5.54.0.tar.xz">kglobalaccel-5.54.0</a></td>
   <td align="right">81kB</td>
   <td><tt>df736f129297b5239272555723e27d693fd3079b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kguiaddons-5.54.0.tar.xz">kguiaddons-5.54.0</a></td>
   <td align="right">39kB</td>
   <td><tt>b1f6cfbfc5832b23831dc7b68176d86b4f22e2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kholidays-5.54.0.tar.xz">kholidays-5.54.0</a></td>
   <td align="right">197kB</td>
   <td><tt>355bf4b0670853e062019ee3f6c0bfe43fcd6fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/ki18n-5.54.0.tar.xz">ki18n-5.54.0</a></td>
   <td align="right">573kB</td>
   <td><tt>ee9c14e81738f1480a57de29cb4e948f865786b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kiconthemes-5.54.0.tar.xz">kiconthemes-5.54.0</a></td>
   <td align="right">202kB</td>
   <td><tt>5a3a0c28c29fa7559e354cf8c0ec12dc711a703c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kidletime-5.54.0.tar.xz">kidletime-5.54.0</a></td>
   <td align="right">25kB</td>
   <td><tt>2510378e3f04b391d88764191640b9c249811a0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kimageformats-5.54.0.tar.xz">kimageformats-5.54.0</a></td>
   <td align="right">198kB</td>
   <td><tt>303120d11a408e72ad26480513d4d875fb144841</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kinit-5.54.0.tar.xz">kinit-5.54.0</a></td>
   <td align="right">117kB</td>
   <td><tt>c54ebad7fa7d5aa584bf77e93d6c72e7e158642d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kio-5.54.0.tar.xz">kio-5.54.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>be3af177be4eadf8ebc3245cf446d160849d71e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kirigami2-5.54.0.tar.xz">kirigami2-5.54.0</a></td>
   <td align="right">122kB</td>
   <td><tt>859cd091f78f5b840686e1e0973f44b3883a3063</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kitemmodels-5.54.0.tar.xz">kitemmodels-5.54.0</a></td>
   <td align="right">380kB</td>
   <td><tt>4fcc328fa7f5e36216e79b5db121798f95e527ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kitemviews-5.54.0.tar.xz">kitemviews-5.54.0</a></td>
   <td align="right">73kB</td>
   <td><tt>2ebad9d8d75e957ad3f1c397f6930aca026df74e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kjobwidgets-5.54.0.tar.xz">kjobwidgets-5.54.0</a></td>
   <td align="right">85kB</td>
   <td><tt>00420e0abb2cfa3f2eccfba9d09d8ceca5808f05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/knewstuff-5.54.0.tar.xz">knewstuff-5.54.0</a></td>
   <td align="right">985kB</td>
   <td><tt>804af2d8e2790da9901217d0b1b1b54b849c2ed7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/knotifications-5.54.0.tar.xz">knotifications-5.54.0</a></td>
   <td align="right">103kB</td>
   <td><tt>f07aa409d9f8aa534e623d379bab0e31497b1d81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/knotifyconfig-5.54.0.tar.xz">knotifyconfig-5.54.0</a></td>
   <td align="right">81kB</td>
   <td><tt>db4815b8dedc28ceb23d1d4d1618d5e24d5d41ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kpackage-5.54.0.tar.xz">kpackage-5.54.0</a></td>
   <td align="right">129kB</td>
   <td><tt>21023ed4b29a0cbbd8e222c4ed46aa2eb51a9e8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kparts-5.54.0.tar.xz">kparts-5.54.0</a></td>
   <td align="right">171kB</td>
   <td><tt>bf61883dab03c81ae200e4f8a990a0504c9ccd06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kpeople-5.54.0.tar.xz">kpeople-5.54.0</a></td>
   <td align="right">58kB</td>
   <td><tt>6ede8680e7ce583052dff90bcd2902697f05a2e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kplotting-5.54.0.tar.xz">kplotting-5.54.0</a></td>
   <td align="right">29kB</td>
   <td><tt>8be262b6ee3714d0f46ea81da6c7cbf87fb3b44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kpty-5.54.0.tar.xz">kpty-5.54.0</a></td>
   <td align="right">56kB</td>
   <td><tt>eb7ff3e9347c05078e560ba4138a5da8d421013c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/krunner-5.54.0.tar.xz">krunner-5.54.0</a></td>
   <td align="right">60kB</td>
   <td><tt>138e288cfd9bc0a79b3aff37fbed8f98b0cc2d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kservice-5.54.0.tar.xz">kservice-5.54.0</a></td>
   <td align="right">244kB</td>
   <td><tt>442fb9e13b259ff5e82435a1acf781ce371926bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/ktexteditor-5.54.0.tar.xz">ktexteditor-5.54.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>dc974f862b59eb9775d2ec463f95017e5aa633b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/ktextwidgets-5.54.0.tar.xz">ktextwidgets-5.54.0</a></td>
   <td align="right">300kB</td>
   <td><tt>17dd73e451f62e685f5bb10b0956ef36b18f0881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kunitconversion-5.54.0.tar.xz">kunitconversion-5.54.0</a></td>
   <td align="right">755kB</td>
   <td><tt>3f1482cd4c99a7eb7e5b7a83af62922d571267df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kwallet-5.54.0.tar.xz">kwallet-5.54.0</a></td>
   <td align="right">300kB</td>
   <td><tt>660e8ea4b8e2f558ba1d346bc88eb25b1a4874fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kwayland-5.54.0.tar.xz">kwayland-5.54.0</a></td>
   <td align="right">330kB</td>
   <td><tt>4a1cab1ffdf3f08e03936ecebe961e08323bddd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kwidgetsaddons-5.54.0.tar.xz">kwidgetsaddons-5.54.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>939a97a7a9e056f98ca9c0b9864965a2694b5b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kwindowsystem-5.54.0.tar.xz">kwindowsystem-5.54.0</a></td>
   <td align="right">165kB</td>
   <td><tt>9ce747dc392b6127f911cce98a6e37c18a235770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kxmlgui-5.54.0.tar.xz">kxmlgui-5.54.0</a></td>
   <td align="right">848kB</td>
   <td><tt>1115dd6f0807328ba6633bbd32248bdbbe5091ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/kxmlrpcclient-5.54.0.tar.xz">kxmlrpcclient-5.54.0</a></td>
   <td align="right">28kB</td>
   <td><tt>189589214d5c5cc17462983aecbe4cd7b2278faf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/modemmanager-qt-5.54.0.tar.xz">modemmanager-qt-5.54.0</a></td>
   <td align="right">98kB</td>
   <td><tt>373a482355e1ac42f848f02a3314d8f716404d29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/networkmanager-qt-5.54.0.tar.xz">networkmanager-qt-5.54.0</a></td>
   <td align="right">176kB</td>
   <td><tt>71fef04461c0bc2220edbbaed3345ec4bdb6b75d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/oxygen-icons5-5.54.0.tar.xz">oxygen-icons5-5.54.0</a></td>
   <td align="right">225MB</td>
   <td><tt>9e0183a921c335ff6157fb46ddbd7817f497f79d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/plasma-framework-5.54.0.tar.xz">plasma-framework-5.54.0</a></td>
   <td align="right">4.4MB</td>
   <td><tt>a01fabce8ed775d922e3f44d857638e976affce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/prison-5.54.0.tar.xz">prison-5.54.0</a></td>
   <td align="right">40kB</td>
   <td><tt>53b85a68cfd8e301dee1b730b693c319f539881d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/purpose-5.54.0.tar.xz">purpose-5.54.0</a></td>
   <td align="right">139kB</td>
   <td><tt>33862b69c049f60c2695d47ad2327caa320bb9d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/qqc2-desktop-style-5.54.0.tar.xz">qqc2-desktop-style-5.54.0</a></td>
   <td align="right">41kB</td>
   <td><tt>d9707ebbf0bc8e3ee90f61b9bd176058d314d523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/solid-5.54.0.tar.xz">solid-5.54.0</a></td>
   <td align="right">252kB</td>
   <td><tt>f34dae5d8046289986ad53da9da4ab862acfb705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/sonnet-5.54.0.tar.xz">sonnet-5.54.0</a></td>
   <td align="right">280kB</td>
   <td><tt>84962230ad4c328e717e8127904fa9e2d4bfbaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/syndication-5.54.0.tar.xz">syndication-5.54.0</a></td>
   <td align="right">155kB</td>
   <td><tt>35e939630c8c659c679b0d6acb6b12f9999b671d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/syntax-highlighting-5.54.0.tar.xz">syntax-highlighting-5.54.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ff5ec5dbfa980e69b5ef66a64d35c1a94cd0ca2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.54/threadweaver-5.54.0.tar.xz">threadweaver-5.54.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>882fb2bffcbd6a7a7a09c6d99cda9472f08672f2</tt></td>
</tr>

</table>
