<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA1 Sum</th>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/analitza-4.9.0.tar.xz">analitza-4.9.0</a></td>
   <td align="right">138kB</td>
   <td><tt>942057e56709288ade435f37f9cd2d63a1496e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ark-4.9.0.tar.xz">ark-4.9.0</a></td>
   <td align="right">229kB</td>
   <td><tt>60c535370da1edf03481fdc1ef3f04f9269d54e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/audiocd-kio-4.9.0.tar.xz">audiocd-kio-4.9.0</a></td>
   <td align="right">53kB</td>
   <td><tt>d6e53caf098b48f173641e64e96e035a3d83e37e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/blinken-4.9.0.tar.xz">blinken-4.9.0</a></td>
   <td align="right">551kB</td>
   <td><tt>5debedb870be8d4f2ee7a129c104c193864e907e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/cantor-4.9.0.tar.xz">cantor-4.9.0</a></td>
   <td align="right">257kB</td>
   <td><tt>2d97209780542b6d2081d2c6f855c3a3751dd0e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/dragon-4.9.0.tar.xz">dragon-4.9.0</a></td>
   <td align="right">382kB</td>
   <td><tt>ea0b6f6c18daac3af2ab146c3654f500c9c4d6de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ffmpegthumbs-4.9.0.tar.xz">ffmpegthumbs-4.9.0</a></td>
   <td align="right">19kB</td>
   <td><tt>c5259a80fa80a476f2cb3964401de820db067bd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/filelight-4.9.0.tar.xz">filelight-4.9.0</a></td>
   <td align="right">286kB</td>
   <td><tt>1bb66e0d375d7c71abe638e3d42d14e1bd969587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/gwenview-4.9.0.tar.xz">gwenview-4.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>df2f8cba8de3f5afbbe65ba70faee46a30945283</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/jovie-4.9.0.tar.xz">jovie-4.9.0</a></td>
   <td align="right">357kB</td>
   <td><tt>2e5218951425e32d725001f4836283a2d2ac412f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/juk-4.9.0.tar.xz">juk-4.9.0</a></td>
   <td align="right">429kB</td>
   <td><tt>fdd079faeb1572ed286bd2c1cfdd0de15d632c7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kaccessible-4.9.0.tar.xz">kaccessible-4.9.0</a></td>
   <td align="right">19kB</td>
   <td><tt>a13180088fae411aa03ec3f2125ed766cd807160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kactivities-4.9.0.tar.xz">kactivities-4.9.0</a></td>
   <td align="right">81kB</td>
   <td><tt>d7c3b9bd2d4ec4b64e208d02571eb62f9ac4ee90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kalgebra-4.9.0.tar.xz">kalgebra-4.9.0</a></td>
   <td align="right">428kB</td>
   <td><tt>38a49f91dc4391868053efd1735582e86c879d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kalzium-4.9.0.tar.xz">kalzium-4.9.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>da8c782a9e758a860a76204435aaeab15f5edd64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kamera-4.9.0.tar.xz">kamera-4.9.0</a></td>
   <td align="right">35kB</td>
   <td><tt>8f9bd832d7cb88dd6345b4c4da8e00133544c5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kanagram-4.9.0.tar.xz">kanagram-4.9.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>b7dba4d67a119039bf7eea1abfbcca079ff9c04c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kate-4.9.0.tar.xz">kate-4.9.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>0d093dc9e66a8b2740e2b19069ca9b763bc1eefa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kbruch-4.9.0.tar.xz">kbruch-4.9.0</a></td>
   <td align="right">883kB</td>
   <td><tt>177d4410ab596baf80c046caf1207b65a82944c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kcalc-4.9.0.tar.xz">kcalc-4.9.0</a></td>
   <td align="right">84kB</td>
   <td><tt>b21a8eae3eda400137397b0048b0c96c502bd077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kcharselect-4.9.0.tar.xz">kcharselect-4.9.0</a></td>
   <td align="right">83kB</td>
   <td><tt>b14f0f6ec1fb469c9f6ecb8035ce1c25b7c32a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kcolorchooser-4.9.0.tar.xz">kcolorchooser-4.9.0</a></td>
   <td align="right">4kB</td>
   <td><tt>3b1069b69d6718f974708f59ff1295a57aa21317</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdeadmin-4.9.0.tar.xz">kdeadmin-4.9.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d584265701d1fd17e98f756a21dd5a21a02df4a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdeartwork-4.9.0.tar.xz">kdeartwork-4.9.0</a></td>
   <td align="right">132MB</td>
   <td><tt>d4531e0ba2fff19d74b1486390843da5d470117f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-baseapps-4.9.0.tar.xz">kde-baseapps-4.9.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>f5c358e3c7902b15328908a9966f98774827988e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-base-artwork-4.9.0.tar.xz">kde-base-artwork-4.9.0</a></td>
   <td align="right">15MB</td>
   <td><tt>3985dc77e449ef553e74bc64babe48d38184181b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdegames-4.9.0.tar.xz">kdegames-4.9.0</a></td>
   <td align="right">53MB</td>
   <td><tt>993c00841d9ab322e1bc1bd39b368579c62f4c45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdegraphics-mobipocket-4.9.0.tar.xz">kdegraphics-mobipocket-4.9.0</a></td>
   <td align="right">18kB</td>
   <td><tt>5d3b549ca12914b649096da61b96fa8568976674</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdegraphics-strigi-analyzer-4.9.0.tar.xz">kdegraphics-strigi-analyzer-4.9.0</a></td>
   <td align="right">38kB</td>
   <td><tt>ec0f4aa6600aafeb8e616765645b4bc99c8dcca8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdegraphics-thumbnailers-4.9.0.tar.xz">kdegraphics-thumbnailers-4.9.0</a></td>
   <td align="right">40kB</td>
   <td><tt>8d6a7da3e34c8d9dc88465e65a5b31ecb1fd10f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdelibs-4.9.0.tar.xz">kdelibs-4.9.0</a></td>
   <td align="right">11MB</td>
   <td><tt>9daa3a93182ac3c50759d7369a7c1db30890cf46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdenetwork-4.9.0.tar.xz">kdenetwork-4.9.0</a></td>
   <td align="right">8.5MB</td>
   <td><tt>f5963684301d6569af4cfce2a39dbef140c1dc4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdepim-4.9.0.tar.xz">kdepim-4.9.0</a></td>
   <td align="right">13MB</td>
   <td><tt>5c2f2ef3a3be118ad673ebe8b307bf7fe15bffbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdepimlibs-4.9.0.tar.xz">kdepimlibs-4.9.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>a5c3d362561320832f2e796e0f167f047bab4a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdepim-runtime-4.9.0.tar.xz">kdepim-runtime-4.9.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4358e9f39e22040d617a112c8a66a7fee93a62db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdeplasma-addons-4.9.0.tar.xz">kdeplasma-addons-4.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bf3f548c1a86b9aedee0ee2962b0b10aa27c9c05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-runtime-4.9.0.tar.xz">kde-runtime-4.9.0</a></td>
   <td align="right">6.0MB</td>
   <td><tt>89a9e5c7e52cb925217b45a568a354cc041bc28d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdesdk-4.9.0.tar.xz">kdesdk-4.9.0</a></td>
   <td align="right">4.8MB</td>
   <td><tt>0e396586d49f74c5677749a762ceffbde1db4b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdetoys-4.9.0.tar.xz">kdetoys-4.9.0</a></td>
   <td align="right">368kB</td>
   <td><tt>d08249578b5f94c732156231f69b99070628ebae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-wallpapers-4.9.0.tar.xz">kde-wallpapers-4.9.0</a></td>
   <td align="right">73MB</td>
   <td><tt>9b6c1f7302eae9f85aa8f86e6029ff42ea72be00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdewebdev-4.9.0.tar.xz">kdewebdev-4.9.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>5bc5318ce7b2ef04b1c57b8f8a25bb4b8a561075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-workspace-4.9.0.tar.xz">kde-workspace-4.9.0</a></td>
   <td align="right">21MB</td>
   <td><tt>fa614c7f59a43e24e09229374c4193eea86f6865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kdf-4.9.0.tar.xz">kdf-4.9.0</a></td>
   <td align="right">151kB</td>
   <td><tt>691aae64d68c5f998f2bc6aad5f4ed182580ccd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kfloppy-4.9.0.tar.xz">kfloppy-4.9.0</a></td>
   <td align="right">58kB</td>
   <td><tt>d066f74e7513aad2121fa0222fc50eceb61bcc9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kgamma-4.9.0.tar.xz">kgamma-4.9.0</a></td>
   <td align="right">25kB</td>
   <td><tt>51e519a3337188313f81bd79eb7e73ed0f4f9437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kgeography-4.9.0.tar.xz">kgeography-4.9.0</a></td>
   <td align="right">6.4MB</td>
   <td><tt>5cedfb17606878dbc8900a11f846f6baa558bb66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kgpg-4.9.0.tar.xz">kgpg-4.9.0</a></td>
   <td align="right">789kB</td>
   <td><tt>24caeaf1837ace0b164d8ba0f0b6a3f630dd2bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/khangman-4.9.0.tar.xz">khangman-4.9.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>a8a5f3250bcb73def0ddd670f27b30f2a4621b19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kig-4.9.0.tar.xz">kig-4.9.0</a></td>
   <td align="right">1.4MB</td>
   <td><tt>170616856665f4a0ca8413f6bb9185ca54ee98d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kimono-4.9.0.tar.xz">kimono-4.9.0</a></td>
   <td align="right">910kB</td>
   <td><tt>5c196ced2b07e58ecdc66e779f21e4c412da8b4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kiten-4.9.0.tar.xz">kiten-4.9.0</a></td>
   <td align="right">11MB</td>
   <td><tt>60729b6df981d6102266eb159359827a58d34c7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/klettres-4.9.0.tar.xz">klettres-4.9.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>fef07c9bd7f0f0a7ffe96274e8d09fcddd06e691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kmag-4.9.0.tar.xz">kmag-4.9.0</a></td>
   <td align="right">89kB</td>
   <td><tt>32a2b02c78f3f3dac33df72dbeaf0c18ddf91269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kmix-4.9.0.tar.xz">kmix-4.9.0</a></td>
   <td align="right">293kB</td>
   <td><tt>b112295964112c4fb0afa2971926939328cbc569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kmousetool-4.9.0.tar.xz">kmousetool-4.9.0</a></td>
   <td align="right">41kB</td>
   <td><tt>ea14b338f3f078fdffb3f7b0f69ebbddcc4b016d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kmouth-4.9.0.tar.xz">kmouth-4.9.0</a></td>
   <td align="right">310kB</td>
   <td><tt>cfd00c317c5928b355ef095c3d46ed7ed581afeb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kmplot-4.9.0.tar.xz">kmplot-4.9.0</a></td>
   <td align="right">660kB</td>
   <td><tt>fcae6ed767ea6effac98cda2f3be79c41a538ce8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kolourpaint-4.9.0.tar.xz">kolourpaint-4.9.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>0110bc9c818995592589f52715eecf727979fdb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/konsole-4.9.0.tar.xz">konsole-4.9.0</a></td>
   <td align="right">422kB</td>
   <td><tt>4ee3d7da93512788959f4d52e58d7a98c646e854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/korundum-4.9.0.tar.xz">korundum-4.9.0</a></td>
   <td align="right">156kB</td>
   <td><tt>7c97b549bb6958223fc0b28f657fec09bb95b7e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kremotecontrol-4.9.0.tar.xz">kremotecontrol-4.9.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d21512621bbdeb0bc520261b4e639cd79f74a20f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kross-interpreters-4.9.0.tar.xz">kross-interpreters-4.9.0</a></td>
   <td align="right">127kB</td>
   <td><tt>fb6bb9e50d9ec03a86f29f44e9433c521d29761c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kruler-4.9.0.tar.xz">kruler-4.9.0</a></td>
   <td align="right">129kB</td>
   <td><tt>981d221c7cdbbf6e0d716bc6a01ee4b891bff484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ksaneplugin-4.9.0.tar.xz">ksaneplugin-4.9.0</a></td>
   <td align="right">12kB</td>
   <td><tt>ebd38d9b089d1e3f95733c9d53f3c3973e6be6fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kscd-4.9.0.tar.xz">kscd-4.9.0</a></td>
   <td align="right">90kB</td>
   <td><tt>f2559914081ba7b2ad9da1a4772d6e8462a21cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ksnapshot-4.9.0.tar.xz">ksnapshot-4.9.0</a></td>
   <td align="right">256kB</td>
   <td><tt>5c3e26a08a43f2221ef66458b01c88ae191c0db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kstars-4.9.0.tar.xz">kstars-4.9.0</a></td>
   <td align="right">11MB</td>
   <td><tt>ecb774bc2b946afd2fd3c4db48ae7109239272a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ktimer-4.9.0.tar.xz">ktimer-4.9.0</a></td>
   <td align="right">146kB</td>
   <td><tt>fd0961124cd8a0b8bf23eef08dd72885d78be66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/ktouch-4.9.0.tar.xz">ktouch-4.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>8a9d25044d9a33281bd982e32a3c6fd72f5d22fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kturtle-4.9.0.tar.xz">kturtle-4.9.0</a></td>
   <td align="right">206kB</td>
   <td><tt>013d88bfd86183138eacf3129722efdfa0742064</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kwallet-4.9.0.tar.xz">kwallet-4.9.0</a></td>
   <td align="right">273kB</td>
   <td><tt>d9c48dcc35a6eae6d3c4680d1f12bc745773d6ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kwordquiz-4.9.0.tar.xz">kwordquiz-4.9.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>026fedf11d7392d30703b127325671978d03c1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkcddb-4.9.0.tar.xz">libkcddb-4.9.0</a></td>
   <td align="right">153kB</td>
   <td><tt>4a2639ca08cdbaf6eee28b7145c46718f685a651</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkcompactdisc-4.9.0.tar.xz">libkcompactdisc-4.9.0</a></td>
   <td align="right">73kB</td>
   <td><tt>70c10ce02960c8eb00cb126471831a50b7d6262e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkdcraw-4.9.0.tar.xz">libkdcraw-4.9.0</a></td>
   <td align="right">260kB</td>
   <td><tt>4f23263c1f38374fcfa482de8a79b0c85e2fb250</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkdeedu-4.9.0.tar.xz">libkdeedu-4.9.0</a></td>
   <td align="right">204kB</td>
   <td><tt>cf98e194c8d7230120e15c27f72efeec392ff4f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkexiv2-4.9.0.tar.xz">libkexiv2-4.9.0</a></td>
   <td align="right">129kB</td>
   <td><tt>121c63ebf328ca87e67b7cf0cf72d0f276e4ae2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libkipi-4.9.0.tar.xz">libkipi-4.9.0</a></td>
   <td align="right">73kB</td>
   <td><tt>a50fe30343f720f7402b42edbe7f6b59b2add19a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/libksane-4.9.0.tar.xz">libksane-4.9.0</a></td>
   <td align="right">77kB</td>
   <td><tt>0a7a18454d78a5c3c4cf22696163c2383bf6e333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/marble-4.9.0.tar.xz">marble-4.9.0</a></td>
   <td align="right">18MB</td>
   <td><tt>2eb264123f487629399d807151e1ae6ea1c6c8bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/mplayerthumbs-4.9.0.tar.xz">mplayerthumbs-4.9.0</a></td>
   <td align="right">26kB</td>
   <td><tt>7965c695a0e11ab03e8fb6ba447616d2efe18e9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/nepomuk-core-4.9.0.tar.xz">nepomuk-core-4.9.0</a></td>
   <td align="right">367kB</td>
   <td><tt>55dc228d5155220052c4a5d38984092a90a9cae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/okular-4.9.0.tar.xz">okular-4.9.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>c2e70c106de3af3a7e2e4cc77e80da736d9abe39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/oxygen-icons-4.9.0.tar.xz">oxygen-icons-4.9.0</a></td>
   <td align="right">265MB</td>
   <td><tt>079506b51f0aa7c004052d72ca5098a5f26b1dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/pairs-4.9.0.tar.xz">pairs-4.9.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d040039b3cffc4b3375b6d5eca2e0a026187f359</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/parley-4.9.0.tar.xz">parley-4.9.0</a></td>
   <td align="right">7.8MB</td>
   <td><tt>5f4b600939ec81557f38eb39eca07f6abee30d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/perlkde-4.9.0.tar.xz">perlkde-4.9.0</a></td>
   <td align="right">39kB</td>
   <td><tt>cc716e7b285efc8c90a086d8881a7e9ff0d49263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/perlqt-4.9.0.tar.xz">perlqt-4.9.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>c51a788cee16f6222e70c96361083581fad1fb51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/printer-applet-4.9.0.tar.xz">printer-applet-4.9.0</a></td>
   <td align="right">34kB</td>
   <td><tt>165ec419ac95770699ff17fee1c2da7902931926</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/pykde4-4.9.0.tar.xz">pykde4-4.9.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>eb51fcadd14a184895195be822e4ed704e74d3ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/qtruby-4.9.0.tar.xz">qtruby-4.9.0</a></td>
   <td align="right">517kB</td>
   <td><tt>04146719f7e6e2001a1f2318b5a45d47f58ac0b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/qyoto-4.9.0.tar.xz">qyoto-4.9.0</a></td>
   <td align="right">495kB</td>
   <td><tt>91e43ce4a1860e186fd93fdfec0bbe2da10133ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/rocs-4.9.0.tar.xz">rocs-4.9.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>e84667bf68c3f5d48b8153d0f15b033cac5267bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/smokegen-4.9.0.tar.xz">smokegen-4.9.0</a></td>
   <td align="right">142kB</td>
   <td><tt>7470301b856703a365cf8bbd43d0f297ef4fff08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/smokekde-4.9.0.tar.xz">smokekde-4.9.0</a></td>
   <td align="right">35kB</td>
   <td><tt>ab796e48995560a59d1f741e9e2125eaa4263aa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/smokeqt-4.9.0.tar.xz">smokeqt-4.9.0</a></td>
   <td align="right">29kB</td>
   <td><tt>d9c0b21882263e038cdb3de9d0e99ecbf2df7986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/step-4.9.0.tar.xz">step-4.9.0</a></td>
   <td align="right">361kB</td>
   <td><tt>6d8c2e7e2d295418515f3e3787a4649226716cc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/superkaramba-4.9.0.tar.xz">superkaramba-4.9.0</a></td>
   <td align="right">374kB</td>
   <td><tt>3f0d2f3134cf240a588f1490e5f0c2d4b02b6aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/svgpart-4.9.0.tar.xz">svgpart-4.9.0</a></td>
   <td align="right">8kB</td>
   <td><tt>e66323aef77e08d3d7faee0fab8a7a69a1708489</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/sweeper-4.9.0.tar.xz">sweeper-4.9.0</a></td>
   <td align="right">81kB</td>
   <td><tt>39a2ddd22ef2afb32062f4e3bacd4ad28b86bfa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ar-4.9.0.tar.xz">kde-l10n-ar-4.9.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d2834032e577a372712d66cecf4d991520ef38bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-bg-4.9.0.tar.xz">kde-l10n-bg-4.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>15408457f5c06c8fab0e1c9129772725e3819538</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-bs-4.9.0.tar.xz">kde-l10n-bs-4.9.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3d502383236d1f18e41b203afc9c6076350beb99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ca-4.9.0.tar.xz">kde-l10n-ca-4.9.0</a></td>
   <td align="right">10MB</td>
   <td><tt>f9e48923c4e039476b12741673d300d0d422de30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ca@valencia-4.9.0.tar.xz">kde-l10n-ca@valencia-4.9.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4efb5521fbb96d450772f7afabbeae5dc620f618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-cs-4.9.0.tar.xz">kde-l10n-cs-4.9.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>03169606611a83b2e6a4352a24824a8ad6f7c722</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-da-4.9.0.tar.xz">kde-l10n-da-4.9.0</a></td>
   <td align="right">12MB</td>
   <td><tt>9c870176dead293d55a144de576353e2416d5647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-de-4.9.0.tar.xz">kde-l10n-de-4.9.0</a></td>
   <td align="right">36MB</td>
   <td><tt>f5c08155ccde6d9a9c444a1cb3d575eec01e6a98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-el-4.9.0.tar.xz">kde-l10n-el-4.9.0</a></td>
   <td align="right">4.5MB</td>
   <td><tt>ea1dd16f74abf7d55d22519a6f06986b8a197548</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-en_GB-4.9.0.tar.xz">kde-l10n-en_GB-4.9.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>86a4ab5500306887a7d535d719004bcfe854ca4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-es-4.9.0.tar.xz">kde-l10n-es-4.9.0</a></td>
   <td align="right">22MB</td>
   <td><tt>5891be858d64969d2dc54b9cbb07076fdc723146</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-et-4.9.0.tar.xz">kde-l10n-et-4.9.0</a></td>
   <td align="right">7.1MB</td>
   <td><tt>de2817fc86c3eedf1905e2ee62a97bb6fd50d1e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-eu-4.9.0.tar.xz">kde-l10n-eu-4.9.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d1ad66f498ddf5e2e28a0b7162d5bec0c56b6417</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-fa-4.9.0.tar.xz">kde-l10n-fa-4.9.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>ea02beb09a34b8de6c03fb7e35d8bc8d06f58c14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-fi-4.9.0.tar.xz">kde-l10n-fi-4.9.0</a></td>
   <td align="right">2.5MB</td>
   <td><tt>d0ff603d97b8b2d83ae7c2268d3530ad031391a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-fr-4.9.0.tar.xz">kde-l10n-fr-4.9.0</a></td>
   <td align="right">36MB</td>
   <td><tt>e9a2b7f975a45a3c91619f970addfb05eff8f621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ga-4.9.0.tar.xz">kde-l10n-ga-4.9.0</a></td>
   <td align="right">2.7MB</td>
   <td><tt>0116761f7eac235c6c2ad2812e4ca0d0ee3c2e2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-gl-4.9.0.tar.xz">kde-l10n-gl-4.9.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>9c29148c9060cf117c6a133844c1d0341390b0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-he-4.9.0.tar.xz">kde-l10n-he-4.9.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>305fc8664a094258f32e85931faf2f24a145262a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-hi-4.9.0.tar.xz">kde-l10n-hi-4.9.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1c054d1bf4a34268b00ff922bbd198dadf965d0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-hr-4.9.0.tar.xz">kde-l10n-hr-4.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9a76800a52e451395d1a6668b231f91efc8c50fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-hu-4.9.0.tar.xz">kde-l10n-hu-4.9.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>18f6ad2aea3d08656a129746486e39ff655d054a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ia-4.9.0.tar.xz">kde-l10n-ia-4.9.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>53ea5947b11d8fc45dd2ce92ec6a0994d8678215</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-is-4.9.0.tar.xz">kde-l10n-is-4.9.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>738a15d2b7ab1adfc223bbe961aab31a2d130f38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-it-4.9.0.tar.xz">kde-l10n-it-4.9.0</a></td>
   <td align="right">9.9MB</td>
   <td><tt>a55beb31be0ea29ebebf50a2a0752ac8a4b2bfbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ja-4.9.0.tar.xz">kde-l10n-ja-4.9.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4fcd7dcc7b21f6e569e73f1043b70fdb678ddc24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-kk-4.9.0.tar.xz">kde-l10n-kk-4.9.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e0f32a9f2722f6a8a26d3bf06c7871617f2d91b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-km-4.9.0.tar.xz">kde-l10n-km-4.9.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>bd26547342b3fc82888271cc76302a49ec1bce33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ko-4.9.0.tar.xz">kde-l10n-ko-4.9.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d0174b1e181022bfe4d307183b0c683954960a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-lt-4.9.0.tar.xz">kde-l10n-lt-4.9.0</a></td>
   <td align="right">10MB</td>
   <td><tt>73e4075a5abde7e4682b826c498d8b10879efd90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-lv-4.9.0.tar.xz">kde-l10n-lv-4.9.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>80bd7bced7c56c1bc09378c8ee05cba315a6fd44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-nb-4.9.0.tar.xz">kde-l10n-nb-4.9.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>216ad859888dc4ce44978724a162437af874ee20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-nds-4.9.0.tar.xz">kde-l10n-nds-4.9.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>ad1499051302b80a76afb61460a871847a36167b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-nl-4.9.0.tar.xz">kde-l10n-nl-4.9.0</a></td>
   <td align="right">15MB</td>
   <td><tt>aad760730e7bb4f5d38a2975f0f6e795d0bcd672</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-nn-4.9.0.tar.xz">kde-l10n-nn-4.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b1c2ca6510a7a41bb1c0cee70ef33ec720992469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-pa-4.9.0.tar.xz">kde-l10n-pa-4.9.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3de5c99e7591e3faa9a5e9bc7f876ab1f0320481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-pl-4.9.0.tar.xz">kde-l10n-pl-4.9.0</a></td>
   <td align="right">16MB</td>
   <td><tt>b049afac84d68c8980648bc6dda2d7264842c72f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-pt-4.9.0.tar.xz">kde-l10n-pt-4.9.0</a></td>
   <td align="right">5.6MB</td>
   <td><tt>d0115eef0184bb4699fe1ce583c7c490102625f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-pt_BR-4.9.0.tar.xz">kde-l10n-pt_BR-4.9.0</a></td>
   <td align="right">25MB</td>
   <td><tt>f770c416fbf8021b20e7e62a1bab48124e55e512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ro-4.9.0.tar.xz">kde-l10n-ro-4.9.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>37fb248c52d87ca13e19848fc2064b0d7a6f0923</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ru-4.9.0.tar.xz">kde-l10n-ru-4.9.0</a></td>
   <td align="right">22MB</td>
   <td><tt>60d039b852ef8e08612d5a0c922acd4a5f25db13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-si-4.9.0.tar.xz">kde-l10n-si-4.9.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ac8e47fde163f2c5300bed579a93ae0ae04223ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-sk-4.9.0.tar.xz">kde-l10n-sk-4.9.0</a></td>
   <td align="right">4.1MB</td>
   <td><tt>12eab6c222bcc6a6f6baca1a0e6b65c71318fda8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-sl-4.9.0.tar.xz">kde-l10n-sl-4.9.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>e3fbbf557dc8ad010fa72c084774b044d000d09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-sr-4.9.0.tar.xz">kde-l10n-sr-4.9.0</a></td>
   <td align="right">5.7MB</td>
   <td><tt>107bc1ccf117b707295617ce8f3446f3a0eb1583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-sv-4.9.0.tar.xz">kde-l10n-sv-4.9.0</a></td>
   <td align="right">15MB</td>
   <td><tt>fa5262c904fdc793167eada078ea159c3af4dee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-tg-4.9.0.tar.xz">kde-l10n-tg-4.9.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ff4a4dc734c8b27c9b1840ff65d4a901a408c6bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-th-4.9.0.tar.xz">kde-l10n-th-4.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>669935f3e5ba44f0c6560199f1beeed21919f16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-tr-4.9.0.tar.xz">kde-l10n-tr-4.9.0</a></td>
   <td align="right">3.8MB</td>
   <td><tt>73f8b38b0b86c3e8c99c4151f11a5411800cfe21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-ug-4.9.0.tar.xz">kde-l10n-ug-4.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1b263ce1ea0945db50be22407dc483e26b8aa6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-uk-4.9.0.tar.xz">kde-l10n-uk-4.9.0</a></td>
   <td align="right">22MB</td>
   <td><tt>bc448c5ee234d42823ae2662c93f51e600ecb834</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-vi-4.9.0.tar.xz">kde-l10n-vi-4.9.0</a></td>
   <td align="right">916kB</td>
   <td><tt>256b3a6990d6d30dc87422f76704fccaa797cd6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-wa-4.9.0.tar.xz">kde-l10n-wa-4.9.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5845ef799aaccd032f408970ea80eeb96991ddb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-zh_CN-4.9.0.tar.xz">kde-l10n-zh_CN-4.9.0</a></td>
   <td align="right">3.3MB</td>
   <td><tt>64fa5404c4eabfedc5882c2207643417bc774a33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.9.0/src/kde-l10n/kde-l10n-zh_TW-4.9.0.tar.xz">kde-l10n-zh_TW-4.9.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3afbfd8ba63ae57b85b667b3faca9b4a56e71fae</tt></td>
</tr>

</table>
