<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-20.08.3.tar.xz">akonadi-20.08.3</a></td>
   <td align="right">1554kB</td>
   <td><tt>9eff31eb0d9a1eaa76014eee0a55588ff52f28c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-calendar-20.08.3.tar.xz">akonadi-calendar-20.08.3</a></td>
   <td align="right">336kB</td>
   <td><tt>43af64190d4c1e866b5113721c1a046f715ccb12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-calendar-tools-20.08.3.tar.xz">akonadi-calendar-tools-20.08.3</a></td>
   <td align="right">223kB</td>
   <td><tt>58f1d7cb35b52d8ea1136d18e59130705f18bf9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadiconsole-20.08.3.tar.xz">akonadiconsole-20.08.3</a></td>
   <td align="right">190kB</td>
   <td><tt>46a43415404fd16e432eded8cecfaef2dd8351a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-contacts-20.08.3.tar.xz">akonadi-contacts-20.08.3</a></td>
   <td align="right">400kB</td>
   <td><tt>5b26ea5b9e05cef4942851bc5897474c59b57e63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-import-wizard-20.08.3.tar.xz">akonadi-import-wizard-20.08.3</a></td>
   <td align="right">494kB</td>
   <td><tt>7a111128af3365f50cf4258dddca5bcdd138ac4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-mime-20.08.3.tar.xz">akonadi-mime-20.08.3</a></td>
   <td align="right">134kB</td>
   <td><tt>d845e81eff0465b5daa7224d4fb70aa46a5508da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-notes-20.08.3.tar.xz">akonadi-notes-20.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>2f00713e7ad881dafdcbfcbf0a3cf06abd567e65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akonadi-search-20.08.3.tar.xz">akonadi-search-20.08.3</a></td>
   <td align="right">92kB</td>
   <td><tt>b6cd21f8dd652212056916ea43ca705def8a689c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/akregator-20.08.3.tar.xz">akregator-20.08.3</a></td>
   <td align="right">2152kB</td>
   <td><tt>7737fd84f753af1a9359ba22dd4e8c0707a7d023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/analitza-20.08.3.tar.xz">analitza-20.08.3</a></td>
   <td align="right">330kB</td>
   <td><tt>53a22c1fae3a40b469eb1ef2543942944b5af937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ark-20.08.3.tar.xz">ark-20.08.3</a></td>
   <td align="right">2648kB</td>
   <td><tt>798902a1e58af0aeae4ed0c12f06009fd0bc6bae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/artikulate-20.08.3.tar.xz">artikulate-20.08.3</a></td>
   <td align="right">1058kB</td>
   <td><tt>7d2831352a9d47fe5a6b32268dd09abe843bb647</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/audiocd-kio-20.08.3.tar.xz">audiocd-kio-20.08.3</a></td>
   <td align="right">486kB</td>
   <td><tt>c692f92a57dd0beb716ad3012377070d5f3f40f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/baloo-widgets-20.08.3.tar.xz">baloo-widgets-20.08.3</a></td>
   <td align="right">255kB</td>
   <td><tt>9dd9316ea9a6a49f613b63b5c03f3db611fc67ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/blinken-20.08.3.tar.xz">blinken-20.08.3</a></td>
   <td align="right">2762kB</td>
   <td><tt>d807847ead00053515388b7f7270d5c78a1890b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/bomber-20.08.3.tar.xz">bomber-20.08.3</a></td>
   <td align="right">805kB</td>
   <td><tt>e1141cc8c5b3085b706de8b711f68e40a8821579</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/bovo-20.08.3.tar.xz">bovo-20.08.3</a></td>
   <td align="right">201kB</td>
   <td><tt>abd5f1b10bb976a5c32807ed758bec67ad3bd185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/calendarsupport-20.08.3.tar.xz">calendarsupport-20.08.3</a></td>
   <td align="right">646kB</td>
   <td><tt>8fbb0dadcaa7fcdc443a648c9af47fd9db7eed2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/cantor-20.08.3.tar.xz">cantor-20.08.3</a></td>
   <td align="right">8869kB</td>
   <td><tt>86a74fa54d0a47e54e5b51be4c41e63284f3c4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/cervisia-20.08.3.tar.xz">cervisia-20.08.3</a></td>
   <td align="right">1844kB</td>
   <td><tt>aa80cc06a10d0c141e37f443cbae25b85aaea880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/dolphin-20.08.3.tar.xz">dolphin-20.08.3</a></td>
   <td align="right">4975kB</td>
   <td><tt>78d52ecd308a9ee5dd6e4a3fac7f2bc2122a5cf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/dolphin-plugins-20.08.3.tar.xz">dolphin-plugins-20.08.3</a></td>
   <td align="right">224kB</td>
   <td><tt>a9a7463ded51d1374fc6d13cb8ff05b937aa9e60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/dragon-20.08.3.tar.xz">dragon-20.08.3</a></td>
   <td align="right">1618kB</td>
   <td><tt>09b2b1aecd2ed031457ff57efa791bfe10ffea67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/elisa-20.08.3.tar.xz">elisa-20.08.3</a></td>
   <td align="right">1597kB</td>
   <td><tt>6107510c36033ab10f4b5e52d19d2ca717ad10bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/eventviews-20.08.3.tar.xz">eventviews-20.08.3</a></td>
   <td align="right">434kB</td>
   <td><tt>9370916cb6ef63b48876c4ff561598fd2a2b543e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ffmpegthumbs-20.08.3.tar.xz">ffmpegthumbs-20.08.3</a></td>
   <td align="right">31kB</td>
   <td><tt>a658b987a2debff381029f1bd80fcf52e17a33da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/filelight-20.08.3.tar.xz">filelight-20.08.3</a></td>
   <td align="right">652kB</td>
   <td><tt>5f11db1daa85c68c756e6a3677165214aa927621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/granatier-20.08.3.tar.xz">granatier-20.08.3</a></td>
   <td align="right">1905kB</td>
   <td><tt>a7eaaba04de779a2ff344bdb8d4fc2d2a9dda1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/grantlee-editor-20.08.3.tar.xz">grantlee-editor-20.08.3</a></td>
   <td align="right">109kB</td>
   <td><tt>bc834d7dce48ede71f53fe72e4cebbdd3e238c82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/grantleetheme-20.08.3.tar.xz">grantleetheme-20.08.3</a></td>
   <td align="right">54kB</td>
   <td><tt>d25c816f9dbde39df79aa0c4b05b389e688ef004</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/gwenview-20.08.3.tar.xz">gwenview-20.08.3</a></td>
   <td align="right">6584kB</td>
   <td><tt>1e84f9bb850a0401a9c2a415980d9e2c9910dfcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/incidenceeditor-20.08.3.tar.xz">incidenceeditor-20.08.3</a></td>
   <td align="right">530kB</td>
   <td><tt>5e40fe26ab3d3a1fc738f026a8cf2a2b141c531f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/juk-20.08.3.tar.xz">juk-20.08.3</a></td>
   <td align="right">1951kB</td>
   <td><tt>149e26d49d6c60e2a66f40a014b4f671fceaa076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/k3b-20.08.3.tar.xz">k3b-20.08.3</a></td>
   <td align="right">10434kB</td>
   <td><tt>f8b3f92a8705bf41256f2ac49d0f4a64c2a53fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kaccounts-integration-20.08.3.tar.xz">kaccounts-integration-20.08.3</a></td>
   <td align="right">74kB</td>
   <td><tt>6f4c2d7db2de8c0134ea926c6d83b3402978c288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kaccounts-providers-20.08.3.tar.xz">kaccounts-providers-20.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>56b1c5f76580c73ed1d7fc0cfe98deff21847fa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kaddressbook-20.08.3.tar.xz">kaddressbook-20.08.3</a></td>
   <td align="right">3093kB</td>
   <td><tt>cf8851e6466227ef4326b7fc414be3d458015ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kajongg-20.08.3.tar.xz">kajongg-20.08.3</a></td>
   <td align="right">4370kB</td>
   <td><tt>88ce649989a8be39a3426ac677d2589193510927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kalarm-20.08.3.tar.xz">kalarm-20.08.3</a></td>
   <td align="right">1938kB</td>
   <td><tt>1e5dce08abef6d6ed3748c25b8c84e5b97a94bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kalarmcal-20.08.3.tar.xz">kalarmcal-20.08.3</a></td>
   <td align="right">561kB</td>
   <td><tt>d0740d0ca1cb5cce897b9e4e7d09d40fd3bb1aed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kalgebra-20.08.3.tar.xz">kalgebra-20.08.3</a></td>
   <td align="right">1137kB</td>
   <td><tt>f4b662328f213799f3a69962277c5af4e94beeb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kalzium-20.08.3.tar.xz">kalzium-20.08.3</a></td>
   <td align="right">23950kB</td>
   <td><tt>1bc94f6ccab1df8a29b21d0519eaac362b3372c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kamera-20.08.3.tar.xz">kamera-20.08.3</a></td>
   <td align="right">106kB</td>
   <td><tt>1212bb11630fb3f722a0937bc45cf4b3131237e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kamoso-20.08.3.tar.xz">kamoso-20.08.3</a></td>
   <td align="right">207kB</td>
   <td><tt>9d0c56871900e83f72f93ad31ede5ae136a71f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kanagram-20.08.3.tar.xz">kanagram-20.08.3</a></td>
   <td align="right">7842kB</td>
   <td><tt>1bc10ff96d3c6a37564982a2e8fa0d64e15c69f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kapman-20.08.3.tar.xz">kapman-20.08.3</a></td>
   <td align="right">2472kB</td>
   <td><tt>01aff3f2fc1c899d26e62ad328789cfd60786acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kapptemplate-20.08.3.tar.xz">kapptemplate-20.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>81889afdb0c527f2ef062b2c23928913eb670fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kate-20.08.3.tar.xz">kate-20.08.3</a></td>
   <td align="right">5716kB</td>
   <td><tt>25d4616bce8f4b7ee7cd4675bb1327885889e16f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/katomic-20.08.3.tar.xz">katomic-20.08.3</a></td>
   <td align="right">1395kB</td>
   <td><tt>9fa98a906af7e806d109bff3ecb5ae8063fd4151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kbackup-20.08.3.tar.xz">kbackup-20.08.3</a></td>
   <td align="right">366kB</td>
   <td><tt>3233ff868c0ba81d94888ee95569060fe1e28a3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kblackbox-20.08.3.tar.xz">kblackbox-20.08.3</a></td>
   <td align="right">439kB</td>
   <td><tt>de57e717549e744bf26f82afaff5d701713a467c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kblocks-20.08.3.tar.xz">kblocks-20.08.3</a></td>
   <td align="right">1862kB</td>
   <td><tt>6341a0826ff39eb1535dbd2fbec7bd359b823ab9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kbounce-20.08.3.tar.xz">kbounce-20.08.3</a></td>
   <td align="right">3363kB</td>
   <td><tt>b9952e32863fe8509fcc883df6f62a0775359500</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kbreakout-20.08.3.tar.xz">kbreakout-20.08.3</a></td>
   <td align="right">2229kB</td>
   <td><tt>1d07403b4a8669bedebd178e7786bce708de4757</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kbruch-20.08.3.tar.xz">kbruch-20.08.3</a></td>
   <td align="right">5483kB</td>
   <td><tt>42235b19423901471b1662db949207f741897ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcachegrind-20.08.3.tar.xz">kcachegrind-20.08.3</a></td>
   <td align="right">772kB</td>
   <td><tt>4a1ba4ccf438f16f8c66ec914db17321523e767b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcalc-20.08.3.tar.xz">kcalc-20.08.3</a></td>
   <td align="right">370kB</td>
   <td><tt>dbd74c9a53da8a009785637e40c71ebb4c12c938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcalutils-20.08.3.tar.xz">kcalutils-20.08.3</a></td>
   <td align="right">317kB</td>
   <td><tt>64fa96485e1865d08fe84b3188aeab88ded38ca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcharselect-20.08.3.tar.xz">kcharselect-20.08.3</a></td>
   <td align="right">357kB</td>
   <td><tt>1d37f3953e8cb49aeb59b94819c7a514fe3a3a5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcolorchooser-20.08.3.tar.xz">kcolorchooser-20.08.3</a></td>
   <td align="right">26kB</td>
   <td><tt>e15e1df5634ea7169c9bac6141b719ce1882e6e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kcron-20.08.3.tar.xz">kcron-20.08.3</a></td>
   <td align="right">877kB</td>
   <td><tt>5560fdd3bf13fca64ea41754f5c5db2b6d095bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdebugsettings-20.08.3.tar.xz">kdebugsettings-20.08.3</a></td>
   <td align="right">66kB</td>
   <td><tt>73ea18dfa7794223065ff96bd1df38ac239204b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdeconnect-kde-20.08.3.tar.xz">kdeconnect-kde-20.08.3</a></td>
   <td align="right">410kB</td>
   <td><tt>eb94ccf48db4b9cbd067a94fd89d2cc5758ca3e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kde-dev-scripts-20.08.3.tar.xz">kde-dev-scripts-20.08.3</a></td>
   <td align="right">357kB</td>
   <td><tt>1624b3322c47483eb66b91a5fc8bf63ff04c03e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kde-dev-utils-20.08.3.tar.xz">kde-dev-utils-20.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>2f19d66eff390bdc17cadda12db8ea451eab1b07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdeedu-data-20.08.3.tar.xz">kdeedu-data-20.08.3</a></td>
   <td align="right">327kB</td>
   <td><tt>e1654cdd7489ca6941ed4ed43e79876078f96811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdegraphics-mobipocket-20.08.3.tar.xz">kdegraphics-mobipocket-20.08.3</a></td>
   <td align="right">16kB</td>
   <td><tt>367807e4f734dd06d0c1160916a53f79c28b368d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdegraphics-thumbnailers-20.08.3.tar.xz">kdegraphics-thumbnailers-20.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>9ca448194fe7c6b4620fc7c9691df635bc625e71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdenetwork-filesharing-20.08.3.tar.xz">kdenetwork-filesharing-20.08.3</a></td>
   <td align="right">314kB</td>
   <td><tt>6324d7eb0c38ab1d65ec57797be86356c6048a35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdenlive-20.08.3.tar.xz">kdenlive-20.08.3</a></td>
   <td align="right">11116kB</td>
   <td><tt>a262a42c32eba973a0ef9bed064173492a6fb9d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdepim-addons-20.08.3.tar.xz">kdepim-addons-20.08.3</a></td>
   <td align="right">2023kB</td>
   <td><tt>f8621c81b61d5d539305a485da27dd240d410843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdepim-apps-libs-20.08.3.tar.xz">kdepim-apps-libs-20.08.3</a></td>
   <td align="right">58kB</td>
   <td><tt>b437ff02e6776f7ff7364f6c01fd5df86637c39a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdepim-runtime-20.08.3.tar.xz">kdepim-runtime-20.08.3</a></td>
   <td align="right">1713kB</td>
   <td><tt>d5d2906428a14f338913cbfdd3eefff789fe9b04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdesdk-kioslaves-20.08.3.tar.xz">kdesdk-kioslaves-20.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>d2352072f75a15bcd5549383c6d60fdefbe407fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdesdk-thumbnailers-20.08.3.tar.xz">kdesdk-thumbnailers-20.08.3</a></td>
   <td align="right">17kB</td>
   <td><tt>34e4d9b03504e4443ef86dbc4729cae413287e11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdf-20.08.3.tar.xz">kdf-20.08.3</a></td>
   <td align="right">456kB</td>
   <td><tt>8ac8e6008f9813dee4466ccf41bc86420752b6d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdialog-20.08.3.tar.xz">kdialog-20.08.3</a></td>
   <td align="right">105kB</td>
   <td><tt>e8bbc910fcf6abffdac10b7790c42416abab1b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kdiamond-20.08.3.tar.xz">kdiamond-20.08.3</a></td>
   <td align="right">4587kB</td>
   <td><tt>47536938cb9cdfc461ad9ed0fff440b20fe9c035</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/keditbookmarks-20.08.3.tar.xz">keditbookmarks-20.08.3</a></td>
   <td align="right">186kB</td>
   <td><tt>615b622438534aac6a845cb90f2741942bb0675e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kfind-20.08.3.tar.xz">kfind-20.08.3</a></td>
   <td align="right">272kB</td>
   <td><tt>4264afcbbfef28ce6469360414d145d280c74a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kfloppy-20.08.3.tar.xz">kfloppy-20.08.3</a></td>
   <td align="right">199kB</td>
   <td><tt>190a8bea2b95bb7e58a9ee6363a3d978c569503d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kfourinline-20.08.3.tar.xz">kfourinline-20.08.3</a></td>
   <td align="right">628kB</td>
   <td><tt>f1bb7e3d1ab6d4ef0c369ab9dcddf0db904a03fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kgeography-20.08.3.tar.xz">kgeography-20.08.3</a></td>
   <td align="right">10512kB</td>
   <td><tt>9543031b7b4c8e972c515d7b42f96907f603f1b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kget-20.08.3.tar.xz">kget-20.08.3</a></td>
   <td align="right">5452kB</td>
   <td><tt>9f19d94027bbe8b2d9730ff8553ab0d4516bfdc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kgoldrunner-20.08.3.tar.xz">kgoldrunner-20.08.3</a></td>
   <td align="right">4340kB</td>
   <td><tt>f6440011f9c3786a42368ed3de89f71d4a41f98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kgpg-20.08.3.tar.xz">kgpg-20.08.3</a></td>
   <td align="right">2816kB</td>
   <td><tt>be0094222db23a50e9ac49f8a00aad7107ccf246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/khangman-20.08.3.tar.xz">khangman-20.08.3</a></td>
   <td align="right">7233kB</td>
   <td><tt>d9326d638bd311e2d401144a427a7bfb699b1fe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/khelpcenter-20.08.3.tar.xz">khelpcenter-20.08.3</a></td>
   <td align="right">4151kB</td>
   <td><tt>7ee226e0ad81b5fbb1993e5c1e7562263a31f0f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kidentitymanagement-20.08.3.tar.xz">kidentitymanagement-20.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>1e6caa5097f7ab96c9d6e051b622cd1797b973d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kig-20.08.3.tar.xz">kig-20.08.3</a></td>
   <td align="right">3385kB</td>
   <td><tt>f127e3a3af26296c4704645e6e8a7f43452e96f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kigo-20.08.3.tar.xz">kigo-20.08.3</a></td>
   <td align="right">5109kB</td>
   <td><tt>8fddc0859c8b7f7f0d50ed3b93c0561d2aca95bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/killbots-20.08.3.tar.xz">killbots-20.08.3</a></td>
   <td align="right">1156kB</td>
   <td><tt>d63ac81b4455d6b3ec738df47a6f64d21501bd91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kimagemapeditor-20.08.3.tar.xz">kimagemapeditor-20.08.3</a></td>
   <td align="right">1052kB</td>
   <td><tt>3336086c72d994e79596451558e5a68f7ab2b7d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kimap-20.08.3.tar.xz">kimap-20.08.3</a></td>
   <td align="right">117kB</td>
   <td><tt>074f58a63d002ad2d44184c1e7bd4c9e7ebaaa25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kio-extras-20.08.3.tar.xz">kio-extras-20.08.3</a></td>
   <td align="right">616kB</td>
   <td><tt>b5d06495ee6b219e33718096ab4db408b30ee4ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kio-gdrive-20.08.3.tar.xz">kio-gdrive-20.08.3</a></td>
   <td align="right">56kB</td>
   <td><tt>6e0e345a2c097246e45cb0d83c09b22be4c6c64c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kipi-plugins-20.08.3.tar.xz">kipi-plugins-20.08.3</a></td>
   <td align="right">1605kB</td>
   <td><tt>4276183d1175dfaecda0269ec8bb2823b1019613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kirigami-gallery-20.08.3.tar.xz">kirigami-gallery-20.08.3</a></td>
   <td align="right">281kB</td>
   <td><tt>ec8ec5a43284dc6b0ff47c07783ee78a1e8a2703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kiriki-20.08.3.tar.xz">kiriki-20.08.3</a></td>
   <td align="right">369kB</td>
   <td><tt>bb7a00eec47282d5e45e7ed93e43ae9f00336798</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kiten-20.08.3.tar.xz">kiten-20.08.3</a></td>
   <td align="right">11034kB</td>
   <td><tt>0989ac12d3748dba16f087a0dde52007f13eb387</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kitinerary-20.08.3.tar.xz">kitinerary-20.08.3</a></td>
   <td align="right">1715kB</td>
   <td><tt>6c61315d5c84e90d3cd8949392ec86e8929feaed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kjumpingcube-20.08.3.tar.xz">kjumpingcube-20.08.3</a></td>
   <td align="right">283kB</td>
   <td><tt>3bc4a8ff59132643a15f959c6a741ab589b42bc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kldap-20.08.3.tar.xz">kldap-20.08.3</a></td>
   <td align="right">160kB</td>
   <td><tt>8634599ba3243fe855c1187ce0e34572ab818928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kleopatra-20.08.3.tar.xz">kleopatra-20.08.3</a></td>
   <td align="right">1898kB</td>
   <td><tt>c406f27be27ba3c4382e878be24a39646fdb7263</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/klettres-20.08.3.tar.xz">klettres-20.08.3</a></td>
   <td align="right">45737kB</td>
   <td><tt>fa2bebfc46a9f54196e5d9812a7831440e4a03e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/klickety-20.08.3.tar.xz">klickety-20.08.3</a></td>
   <td align="right">1362kB</td>
   <td><tt>904da835d6e6a45354a19af2e00a4933cce48bd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/klines-20.08.3.tar.xz">klines-20.08.3</a></td>
   <td align="right">1748kB</td>
   <td><tt>a0893736845226d548046e668a1b7eeb37d224b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmag-20.08.3.tar.xz">kmag-20.08.3</a></td>
   <td align="right">681kB</td>
   <td><tt>1bba66060c0ef690499a4e4faedb10494c57cad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmahjongg-20.08.3.tar.xz">kmahjongg-20.08.3</a></td>
   <td align="right">3354kB</td>
   <td><tt>71191218cb117ae22b3e812144505a17655ecca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmail-20.08.3.tar.xz">kmail-20.08.3</a></td>
   <td align="right">5036kB</td>
   <td><tt>fc725091043f7a7bf148a3774da12d8c9423b02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmail-account-wizard-20.08.3.tar.xz">kmail-account-wizard-20.08.3</a></td>
   <td align="right">158kB</td>
   <td><tt>283fd39751d674e90c92587599e7100f5116f062</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmailtransport-20.08.3.tar.xz">kmailtransport-20.08.3</a></td>
   <td align="right">164kB</td>
   <td><tt>78d9e4f0a6431aaa691c41f3653ce9a1860627ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmbox-20.08.3.tar.xz">kmbox-20.08.3</a></td>
   <td align="right">24kB</td>
   <td><tt>bde1f2e006817b7ff6002f5e1cb2a38196ecee7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmime-20.08.3.tar.xz">kmime-20.08.3</a></td>
   <td align="right">148kB</td>
   <td><tt>f71d2a540b19a9d4d4a23590a9ad7bde868d4d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmines-20.08.3.tar.xz">kmines-20.08.3</a></td>
   <td align="right">934kB</td>
   <td><tt>ea28f434bd8076f0a643d5ea2c1781cab388633d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmix-20.08.3.tar.xz">kmix-20.08.3</a></td>
   <td align="right">1081kB</td>
   <td><tt>6cbe531990df6bdcdd819f73a10c1d2df68156a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmousetool-20.08.3.tar.xz">kmousetool-20.08.3</a></td>
   <td align="right">113kB</td>
   <td><tt>98fbdf00ab780f9d7457398bb521fee1e154fe82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmouth-20.08.3.tar.xz">kmouth-20.08.3</a></td>
   <td align="right">2035kB</td>
   <td><tt>9ad3115e64581fbb20a3e573c70fe82895c8734a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kmplot-20.08.3.tar.xz">kmplot-20.08.3</a></td>
   <td align="right">2983kB</td>
   <td><tt>e557877b512e3d7cb4e43dceb8abcbb6610b578f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/knavalbattle-20.08.3.tar.xz">knavalbattle-20.08.3</a></td>
   <td align="right">1257kB</td>
   <td><tt>80577f185e4e7d0e9aeb4ad875e9979f8fed4c06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/knetwalk-20.08.3.tar.xz">knetwalk-20.08.3</a></td>
   <td align="right">1237kB</td>
   <td><tt>3b71f6c3c2325dd36b5d75108e534678f784476f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/knights-20.08.3.tar.xz">knights-20.08.3</a></td>
   <td align="right">3451kB</td>
   <td><tt>bdfaae55db50919b1ef1b917f8b6aa61b1796f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/knotes-20.08.3.tar.xz">knotes-20.08.3</a></td>
   <td align="right">314kB</td>
   <td><tt>b41ecf8ca582edddeec12cfb26799dadb8994d6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kolf-20.08.3.tar.xz">kolf-20.08.3</a></td>
   <td align="right">1005kB</td>
   <td><tt>7ab53e1bd592f7160360bf6e0146390be49ed943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kollision-20.08.3.tar.xz">kollision-20.08.3</a></td>
   <td align="right">281kB</td>
   <td><tt>39b343a21b33567c03351028ac5f69ae40844c44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kolourpaint-20.08.3.tar.xz">kolourpaint-20.08.3</a></td>
   <td align="right">5553kB</td>
   <td><tt>9e10a9c16bc19685651b53e01ece23d8fd0f286e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kompare-20.08.3.tar.xz">kompare-20.08.3</a></td>
   <td align="right">902kB</td>
   <td><tt>42da11dc2697657e8bfd045d2b669d7a1e118b42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/konqueror-20.08.3.tar.xz">konqueror-20.08.3</a></td>
   <td align="right">7004kB</td>
   <td><tt>d140742e1e1500c8cf4bd9b9e469966999d8070e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/konquest-20.08.3.tar.xz">konquest-20.08.3</a></td>
   <td align="right">650kB</td>
   <td><tt>820c5aeff48b93ba88c962e3e30cea7271b079f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/konsole-20.08.3.tar.xz">konsole-20.08.3</a></td>
   <td align="right">1184kB</td>
   <td><tt>54ab62d397a7435e6c50f667798c8593495f3009</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kontact-20.08.3.tar.xz">kontact-20.08.3</a></td>
   <td align="right">776kB</td>
   <td><tt>30ef86d9e9769b88f4dbbe1791af0852df5674c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kontactinterface-20.08.3.tar.xz">kontactinterface-20.08.3</a></td>
   <td align="right">35kB</td>
   <td><tt>b630c4e275195f0262c2a29ebf32d22b707399b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kopete-20.08.3.tar.xz">kopete-20.08.3</a></td>
   <td align="right">9165kB</td>
   <td><tt>b51efdfb09b6739f1f5f5079e0bf407b9422a1fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/korganizer-20.08.3.tar.xz">korganizer-20.08.3</a></td>
   <td align="right">2199kB</td>
   <td><tt>4b62959021e4782d7130cd1b4f4ba7e5b4d9f66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kpat-20.08.3.tar.xz">kpat-20.08.3</a></td>
   <td align="right">3501kB</td>
   <td><tt>c57b4c45e0e257680ac7e86695d35dabce7fd8fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kpimtextedit-20.08.3.tar.xz">kpimtextedit-20.08.3</a></td>
   <td align="right">184kB</td>
   <td><tt>0d63e6d006ed13720da3aeca43af359962035023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kpkpass-20.08.3.tar.xz">kpkpass-20.08.3</a></td>
   <td align="right">22kB</td>
   <td><tt>e8986ddb8421413ddff7a3ad7bde3f1324a6d6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kqtquickcharts-20.08.3.tar.xz">kqtquickcharts-20.08.3</a></td>
   <td align="right">29kB</td>
   <td><tt>b1fae5828c3e416acb9a536be17eed98090fd833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/krdc-20.08.3.tar.xz">krdc-20.08.3</a></td>
   <td align="right">1527kB</td>
   <td><tt>aa4153ded7c40a908ceb81e46f4bd7bf13702ee6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kreversi-20.08.3.tar.xz">kreversi-20.08.3</a></td>
   <td align="right">930kB</td>
   <td><tt>8260df23c1f94e69669d2d5ae2ce00000db9c0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/krfb-20.08.3.tar.xz">krfb-20.08.3</a></td>
   <td align="right">1252kB</td>
   <td><tt>5f27f60ebe74dd803175a51c24a5c4157e2a1239</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kross-interpreters-20.08.3.tar.xz">kross-interpreters-20.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>5f56b9a780d7b4940a131098dfcddf830db7ab9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kruler-20.08.3.tar.xz">kruler-20.08.3</a></td>
   <td align="right">266kB</td>
   <td><tt>a33491b14665282f237376e94ff804c67335fcb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kshisen-20.08.3.tar.xz">kshisen-20.08.3</a></td>
   <td align="right">807kB</td>
   <td><tt>a05a35162daa1d5081f0099daa574af7c26e824f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksirk-20.08.3.tar.xz">ksirk-20.08.3</a></td>
   <td align="right">6828kB</td>
   <td><tt>f95d8f539eb6769b9bf6c708194c82b459f32ab4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksmtp-20.08.3.tar.xz">ksmtp-20.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>703baaba069baabbbf5bc93e4b7898ff980fa0ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksnakeduel-20.08.3.tar.xz">ksnakeduel-20.08.3</a></td>
   <td align="right">531kB</td>
   <td><tt>55b0bf526345cc83eaf2df96654e93fb9368a3ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kspaceduel-20.08.3.tar.xz">kspaceduel-20.08.3</a></td>
   <td align="right">603kB</td>
   <td><tt>0df218556c0fde10a8e48550ecd9c14b9b2ccf3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksquares-20.08.3.tar.xz">ksquares-20.08.3</a></td>
   <td align="right">260kB</td>
   <td><tt>094ec53e8b5b3c488abe12815fee46ac983ec31f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksudoku-20.08.3.tar.xz">ksudoku-20.08.3</a></td>
   <td align="right">1629kB</td>
   <td><tt>da6ff3b277d9707010f28574dbb3e1d2dec55f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ksystemlog-20.08.3.tar.xz">ksystemlog-20.08.3</a></td>
   <td align="right">1890kB</td>
   <td><tt>597fbf8ce5c3c984c5df6605ebef7cf32c232932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kteatime-20.08.3.tar.xz">kteatime-20.08.3</a></td>
   <td align="right">287kB</td>
   <td><tt>6cd3037ae994437f6947b2c18c4de47c1d587cc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktimer-20.08.3.tar.xz">ktimer-20.08.3</a></td>
   <td align="right">376kB</td>
   <td><tt>f2866b92e2ef7d4b3b94ef3d1a21c48dc11bcd5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktnef-20.08.3.tar.xz">ktnef-20.08.3</a></td>
   <td align="right">292kB</td>
   <td><tt>2664ad7b22bdeb4aa95bc02e8e35d268851518f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktouch-20.08.3.tar.xz">ktouch-20.08.3</a></td>
   <td align="right">4827kB</td>
   <td><tt>55d757e263e69d686501ecfdd9d184ab94e09837</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-accounts-kcm-20.08.3.tar.xz">ktp-accounts-kcm-20.08.3</a></td>
   <td align="right">256kB</td>
   <td><tt>4beec02d6da385eb146f8881d1e7c7af2297617c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-approver-20.08.3.tar.xz">ktp-approver-20.08.3</a></td>
   <td align="right">36kB</td>
   <td><tt>b51d79ea7f32450f1da69749b673a269bb423972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-auth-handler-20.08.3.tar.xz">ktp-auth-handler-20.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>67fd0aa1d49750de4258f6eb71433c07c3168d39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-call-ui-20.08.3.tar.xz">ktp-call-ui-20.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>18227cd9520c073b2174c2385246a63a399bafa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-common-internals-20.08.3.tar.xz">ktp-common-internals-20.08.3</a></td>
   <td align="right">439kB</td>
   <td><tt>7832c5de1986509874a34fa9b699dafd9391d282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-contact-list-20.08.3.tar.xz">ktp-contact-list-20.08.3</a></td>
   <td align="right">146kB</td>
   <td><tt>c1bd3892cdd1846279949361878a41656f81ef9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-contact-runner-20.08.3.tar.xz">ktp-contact-runner-20.08.3</a></td>
   <td align="right">41kB</td>
   <td><tt>07633a6d124eca2de38a5a38c46daf69cd7a1540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-desktop-applets-20.08.3.tar.xz">ktp-desktop-applets-20.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>206532e936de641bf6b20e9ed3b9416fa10e5a9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-filetransfer-handler-20.08.3.tar.xz">ktp-filetransfer-handler-20.08.3</a></td>
   <td align="right">45kB</td>
   <td><tt>e0a852dac288c4b53e1083cedf68fbf30ade7acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-kded-module-20.08.3.tar.xz">ktp-kded-module-20.08.3</a></td>
   <td align="right">96kB</td>
   <td><tt>78fe4f79cdbd27d99d3697b0aaf3bc035f0aac6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-send-file-20.08.3.tar.xz">ktp-send-file-20.08.3</a></td>
   <td align="right">27kB</td>
   <td><tt>a979f5e782cb5dffc7d05240055e749844aa7f25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktp-text-ui-20.08.3.tar.xz">ktp-text-ui-20.08.3</a></td>
   <td align="right">459kB</td>
   <td><tt>26225445cc282a27c3fe811ba617b974bc5cdce5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/ktuberling-20.08.3.tar.xz">ktuberling-20.08.3</a></td>
   <td align="right">69049kB</td>
   <td><tt>291fb35d98e0ece47b99c224604a7c938e7e7b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kturtle-20.08.3.tar.xz">kturtle-20.08.3</a></td>
   <td align="right">1794kB</td>
   <td><tt>5543dd7ac8b9bb4246800e01467451349ed942bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kubrick-20.08.3.tar.xz">kubrick-20.08.3</a></td>
   <td align="right">324kB</td>
   <td><tt>e8eb3e27695eb0db7fdb6a95acdfad6c5a741a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kwalletmanager-20.08.3.tar.xz">kwalletmanager-20.08.3</a></td>
   <td align="right">755kB</td>
   <td><tt>a1bc30057e7d3a0c229146f6aa42570896a403f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kwave-20.08.3.tar.xz">kwave-20.08.3</a></td>
   <td align="right">6717kB</td>
   <td><tt>81c1e40953765be2ec92294e0debe529a2c7c33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/kwordquiz-20.08.3.tar.xz">kwordquiz-20.08.3</a></td>
   <td align="right">4089kB</td>
   <td><tt>852d629666465aea56d7ececb3defea6500d5e4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libgravatar-20.08.3.tar.xz">libgravatar-20.08.3</a></td>
   <td align="right">32kB</td>
   <td><tt>b0ebeefe4276da9b310823cdbd126291276b1f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkcddb-20.08.3.tar.xz">libkcddb-20.08.3</a></td>
   <td align="right">415kB</td>
   <td><tt>f7c73db164246bcfb0f6d2ef489b5ff28a01cb7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkcompactdisc-20.08.3.tar.xz">libkcompactdisc-20.08.3</a></td>
   <td align="right">94kB</td>
   <td><tt>923d66ed6e5d69404c5b4cddbe1b09a318d32bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkdcraw-20.08.3.tar.xz">libkdcraw-20.08.3</a></td>
   <td align="right">40kB</td>
   <td><tt>57b8a522e4520530c77e82364a01ace75c82929a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkdegames-20.08.3.tar.xz">libkdegames-20.08.3</a></td>
   <td align="right">6241kB</td>
   <td><tt>b85d400266f2ce9603495be1d781618bb0eeedf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkdepim-20.08.3.tar.xz">libkdepim-20.08.3</a></td>
   <td align="right">243kB</td>
   <td><tt>0b474858b73de86795d2fab87707ed9648fab09f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkeduvocdocument-20.08.3.tar.xz">libkeduvocdocument-20.08.3</a></td>
   <td align="right">209kB</td>
   <td><tt>8cbb6f07cb862d1777f6f7339c6da9305b5f7ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkexiv2-20.08.3.tar.xz">libkexiv2-20.08.3</a></td>
   <td align="right">63kB</td>
   <td><tt>954b2b0bd85daa4437871a94414378751716e885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkgapi-20.08.3.tar.xz">libkgapi-20.08.3</a></td>
   <td align="right">236kB</td>
   <td><tt>222da4d5d9729268eb4aa8bd8c130984f8e2f246</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkgeomap-20.08.3.tar.xz">libkgeomap-20.08.3</a></td>
   <td align="right">147kB</td>
   <td><tt>ccb6e1ed244fbfebb75938b3a8bd361f637bebdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkipi-20.08.3.tar.xz">libkipi-20.08.3</a></td>
   <td align="right">101kB</td>
   <td><tt>00762319b552d9346689bc6c73bab40b50017f07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkleo-20.08.3.tar.xz">libkleo-20.08.3</a></td>
   <td align="right">346kB</td>
   <td><tt>42781a30b5306d5c92a7383a74d231c6574b3325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkmahjongg-20.08.3.tar.xz">libkmahjongg-20.08.3</a></td>
   <td align="right">1651kB</td>
   <td><tt>c532eef04375e84190ac9cc3e187310f3fbc62cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libkomparediff2-20.08.3.tar.xz">libkomparediff2-20.08.3</a></td>
   <td align="right">158kB</td>
   <td><tt>e3876b8399a0cd654b24a64bbfc1ed88474c0e40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libksane-20.08.3.tar.xz">libksane-20.08.3</a></td>
   <td align="right">141kB</td>
   <td><tt>0a138a338ac5f705aa3a6548bc89670043334226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/libksieve-20.08.3.tar.xz">libksieve-20.08.3</a></td>
   <td align="right">547kB</td>
   <td><tt>d57405984ecd4df9c2dc3a7c03b00e2cb0c12074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/lokalize-20.08.3.tar.xz">lokalize-20.08.3</a></td>
   <td align="right">1940kB</td>
   <td><tt>c58f9ab8f57cfa55f0b32c0462112ad579e67b32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/lskat-20.08.3.tar.xz">lskat-20.08.3</a></td>
   <td align="right">1196kB</td>
   <td><tt>fdb37c19c70df4217ee69cba88d9f45adc12fd7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/mailcommon-20.08.3.tar.xz">mailcommon-20.08.3</a></td>
   <td align="right">692kB</td>
   <td><tt>a1b6206086fea24a2b6d29bdc4bb00acd31af726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/mailimporter-20.08.3.tar.xz">mailimporter-20.08.3</a></td>
   <td align="right">528kB</td>
   <td><tt>51f06fdd2c33b63af64c6b72a79d3ef8a32dec02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/marble-20.08.3.tar.xz">marble-20.08.3</a></td>
   <td align="right">50968kB</td>
   <td><tt>1f29c0fa46424db5b0ab30e485a7eb2ad09c0bc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/mbox-importer-20.08.3.tar.xz">mbox-importer-20.08.3</a></td>
   <td align="right">33kB</td>
   <td><tt>2aee8605411e0140799f027a1a70415d6aecfa52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/messagelib-20.08.3.tar.xz">messagelib-20.08.3</a></td>
   <td align="right">10284kB</td>
   <td><tt>eef023ef6026e8917d3a99141a1c9a64aaa4bd65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/minuet-20.08.3.tar.xz">minuet-20.08.3</a></td>
   <td align="right">27073kB</td>
   <td><tt>7eb801391e6bd8285b3d897d54699c74f59fbe57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/okular-20.08.3.tar.xz">okular-20.08.3</a></td>
   <td align="right">7343kB</td>
   <td><tt>b6d1e6067e302073f0be721fd3533cb042798e9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/palapeli-20.08.3.tar.xz">palapeli-20.08.3</a></td>
   <td align="right">2030kB</td>
   <td><tt>37911e9a17023c6f57dd64efe0ffc619afb01ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/parley-20.08.3.tar.xz">parley-20.08.3</a></td>
   <td align="right">8635kB</td>
   <td><tt>424046773e10b88cbaa45b3276a9d53d06faf3de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/picmi-20.08.3.tar.xz">picmi-20.08.3</a></td>
   <td align="right">1335kB</td>
   <td><tt>c2c0f08f00fccaf3a6c6a2ede91244701f570950</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/pimcommon-20.08.3.tar.xz">pimcommon-20.08.3</a></td>
   <td align="right">348kB</td>
   <td><tt>4be0ca7e52a23f3d69fea1b9b037323dc3bbb090</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/pim-data-exporter-20.08.3.tar.xz">pim-data-exporter-20.08.3</a></td>
   <td align="right">390kB</td>
   <td><tt>1eacdaeb1b4d712b822bac6a5d8729c643effaaa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/pim-sieve-editor-20.08.3.tar.xz">pim-sieve-editor-20.08.3</a></td>
   <td align="right">443kB</td>
   <td><tt>6a3f598df85e405b536d4d1ad613f5f0828b509a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/poxml-20.08.3.tar.xz">poxml-20.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>34b7bcc204575c237052cd8a782016cca693c07e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/print-manager-20.08.3.tar.xz">print-manager-20.08.3</a></td>
   <td align="right">252kB</td>
   <td><tt>d55328e174eb35a6709e603679ffdd13e68d25b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/rocs-20.08.3.tar.xz">rocs-20.08.3</a></td>
   <td align="right">1463kB</td>
   <td><tt>0e7395743cf1037ecbf1fc2a7ac7e85b433c1bb8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/signon-kwallet-extension-20.08.3.tar.xz">signon-kwallet-extension-20.08.3</a></td>
   <td align="right">10kB</td>
   <td><tt>fc21ef65db58918970385816e01d12c5bfc5f6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/spectacle-20.08.3.tar.xz">spectacle-20.08.3</a></td>
   <td align="right">1129kB</td>
   <td><tt>151a88ca2e7728d8202af41be18d927b08a699d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/step-20.08.3.tar.xz">step-20.08.3</a></td>
   <td align="right">929kB</td>
   <td><tt>3730f45e7ed4b1faafa1e28a8047c2703b1a3040</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/svgpart-20.08.3.tar.xz">svgpart-20.08.3</a></td>
   <td align="right">20kB</td>
   <td><tt>71220e8cab72ac80eb1e845111f410389ca800a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/sweeper-20.08.3.tar.xz">sweeper-20.08.3</a></td>
   <td align="right">363kB</td>
   <td><tt>2513559e2a8c65f40be370d806519ba35df86e36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/umbrello-20.08.3.tar.xz">umbrello-20.08.3</a></td>
   <td align="right">5424kB</td>
   <td><tt>754b1f366799278137c6e69921cf0209318f47cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/yakuake-20.08.3.tar.xz">yakuake-20.08.3</a></td>
   <td align="right">372kB</td>
   <td><tt>364ac6ea1adec60bc597fee9df59326e551b7b0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/20.08.3/src/zeroconf-ioslave-20.08.3.tar.xz">zeroconf-ioslave-20.08.3</a></td>
   <td align="right">42kB</td>
   <td><tt>50e2294b0db538654e87cefbd607396a81cfe129</tt></td>
</tr>

</table>
