<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/bluedevil-5.18.2.tar.xz">bluedevil-5.18.2</a></td>
   <td align="right">163kB</td>
   <td><tt>da5c241329416ac7f7c989e0ff111a822b013be1feb8566323066e8d61c58c8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/breeze-5.18.2.tar.xz">breeze-5.18.2</a></td>
   <td align="right">20MB</td>
   <td><tt>0b9e8c86ff40cb63bd596e3e9641d78cb236a092fe19c9e78384409388fdfe20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/breeze-grub-5.18.2.tar.xz">breeze-grub-5.18.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>95cd3d742953358258c8c5f6cf98b797eda50d2b8cee6a692c5a24f8c6a4154f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/breeze-gtk-5.18.2.tar.xz">breeze-gtk-5.18.2</a></td>
   <td align="right">41kB</td>
   <td><tt>d4e84944e9041a37a53fc946bf476b60460de01b6bdc031cd14f7fb103cdd243</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/breeze-plymouth-5.18.2.tar.xz">breeze-plymouth-5.18.2</a></td>
   <td align="right">103kB</td>
   <td><tt>f2d19b49a62a43c9cf7dab96c7a3b8114a6bfbc0b4adb2545eca8d2be522d767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/discover-5.18.2.tar.xz">discover-5.18.2</a></td>
   <td align="right">9.9MB</td>
   <td><tt>941278b1845b3a7f344650630de0be040589e2f3f03c097c88f33b69b187bffc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/drkonqi-5.18.2.tar.xz">drkonqi-5.18.2</a></td>
   <td align="right">729kB</td>
   <td><tt>f622e9d83361956fd9de4336253ee679bffe6ded97779b201f09d4490d56b452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kactivitymanagerd-5.18.2.tar.xz">kactivitymanagerd-5.18.2</a></td>
   <td align="right">84kB</td>
   <td><tt>a11f4d0a234ef2e56451e3122e30dea6b958682024f5ca9a40a1bf1cfc912dce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kde-cli-tools-5.18.2.tar.xz">kde-cli-tools-5.18.2</a></td>
   <td align="right">578kB</td>
   <td><tt>33339740329723d8e70e280c0dd57a3a8e149ab7dd0046fd49ef29ea79ced76a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kdecoration-5.18.2.tar.xz">kdecoration-5.18.2</a></td>
   <td align="right">42kB</td>
   <td><tt>4930680158119bbd5357ff59ee4515d77c5e21c6f7914c68b2302f409f7a7595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kde-gtk-config-5.18.2.tar.xz">kde-gtk-config-5.18.2</a></td>
   <td align="right">23kB</td>
   <td><tt>6285acf54816d8c63e11ff97699e3818dbdef5a596273b340f2f6c4e3a2d6c41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kdeplasma-addons-5.18.2.tar.xz">kdeplasma-addons-5.18.2</a></td>
   <td align="right">600kB</td>
   <td><tt>634b346a6d5f9352477a7edc27350ef0c229b64eaf2da08e05ea2bf9c262c4e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kgamma5-5.18.2.tar.xz">kgamma5-5.18.2</a></td>
   <td align="right">78kB</td>
   <td><tt>3dc1acebd9559b008b59fe681100a05f004480ba50aba5b68d394a15dd18946d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/khotkeys-5.18.2.tar.xz">khotkeys-5.18.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9190df066c3e67b814f9b9c8cd122701bbe39fa9a03bd0fc3b42ca8a439bc878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kinfocenter-5.18.2.tar.xz">kinfocenter-5.18.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>00e613deb35739d3f387fbd2de8062cdce597f15bf1153838156aae0331a0b94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kmenuedit-5.18.2.tar.xz">kmenuedit-5.18.2</a></td>
   <td align="right">794kB</td>
   <td><tt>51d96d7dab7180f4594e1becaa607faf5befb92c8bfa8063c935fe0b07de88fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kscreen-5.18.2.tar.xz">kscreen-5.18.2</a></td>
   <td align="right">110kB</td>
   <td><tt>7e221a7a4192f91b94bc6d30d422989a18d457670c6e79c69abc103289f858d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kscreenlocker-5.18.2.tar.xz">kscreenlocker-5.18.2</a></td>
   <td align="right">122kB</td>
   <td><tt>691828d4526d707ac38cf1c2782a08d21d34bfdb766cf9d885ee78c9be40cda3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/ksshaskpass-5.18.2.tar.xz">ksshaskpass-5.18.2</a></td>
   <td align="right">21kB</td>
   <td><tt>d3456e02a3779e66907459319dffb780e3e780e3bbfdcc686b2dfb7d81caf74f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/ksysguard-5.18.2.tar.xz">ksysguard-5.18.2</a></td>
   <td align="right">505kB</td>
   <td><tt>53549f51cabf31bbf17c96492eae9025fad32c6659c412fe5c2eb5a4efbcf4e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kwallet-pam-5.18.2.tar.xz">kwallet-pam-5.18.2</a></td>
   <td align="right">19kB</td>
   <td><tt>ad9396368fe1709e9e8cde5b0c47d665178226e397f265ef0bfe2303298ee57d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kwayland-integration-5.18.2.tar.xz">kwayland-integration-5.18.2</a></td>
   <td align="right">20kB</td>
   <td><tt>e6a0d5eeaccd1bf6c27811b0deba2411b855bcc3f5916845e2eecb750360075d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kwin-5.18.2.tar.xz">kwin-5.18.2</a></td>
   <td align="right">5.9MB</td>
   <td><tt>9535d7c71ea4561a8b492ca111d62c5efeea2907070f8f510764fe5c2b29fc5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/kwrited-5.18.2.tar.xz">kwrited-5.18.2</a></td>
   <td align="right">19kB</td>
   <td><tt>3896296124a99333353445331496c5d2da414dc0c5174747ddf6fcce833e76f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/libkscreen-5.18.2.tar.xz">libkscreen-5.18.2</a></td>
   <td align="right">83kB</td>
   <td><tt>641ec1d3db0bf21751b3f8d6ba174fcf077d13a5a8e8b77a764e670d522906af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/libksysguard-5.18.2.tar.xz">libksysguard-5.18.2</a></td>
   <td align="right">595kB</td>
   <td><tt>5e6046b5e07282f8bb46711717eee10b8feb9a7296e220124f6f72778cc7aedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/milou-5.18.2.tar.xz">milou-5.18.2</a></td>
   <td align="right">62kB</td>
   <td><tt>1476a8ff6ea7e9a9c5942a1be5b110f14e10b585eb3d29fdcfd07a24e1173378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/oxygen-5.18.2.tar.xz">oxygen-5.18.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>e11266436adf02e47f4b322c50c0e954e2b88649803ff73dc266ac3fcb724f2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-browser-integration-5.18.2.tar.xz">plasma-browser-integration-5.18.2</a></td>
   <td align="right">152kB</td>
   <td><tt>988a59559c0399dab6ec2c4ad2d1b9280dd34ce5d031ff32134b3fd9de9ac3b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-desktop-5.18.2.tar.xz">plasma-desktop-5.18.2</a></td>
   <td align="right">8.9MB</td>
   <td><tt>4cc9d3b2d2eb014549263013e3da81bdb408c7071e061675322efbe08701bea4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-integration-5.18.2.tar.xz">plasma-integration-5.18.2</a></td>
   <td align="right">56kB</td>
   <td><tt>479eb0ecb66f70e25b916807932fcc765920db2516a60d62f5c368858b47449c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-nano-5.18.2.tar.xz">plasma-nano-5.18.2</a></td>
   <td align="right">30kB</td>
   <td><tt>19965004d94916e78810accb923b2ce09a41c163998a1ed1556b8d9b6361fb3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-nm-5.18.2.tar.xz">plasma-nm-5.18.2</a></td>
   <td align="right">807kB</td>
   <td><tt>e49b39d9c62a1e245bf452e3cba0092768ffe6934a6057bfb184c80fa859c4af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-pa-5.18.2.tar.xz">plasma-pa-5.18.2</a></td>
   <td align="right">102kB</td>
   <td><tt>350531cb0e37cdcf024632edeb2b973c206d880c062f33524b367eb550736418</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-phone-components-5.18.2.tar.xz">plasma-phone-components-5.18.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bf8bdf1755eb8538dcb63f9d74c2e6d2694407b688beb8838df3af61bbfe0591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-sdk-5.18.2.tar.xz">plasma-sdk-5.18.2</a></td>
   <td align="right">256kB</td>
   <td><tt>f1c86e5ba1ac0bf5377a99cc9528a129dbe4853582585e835377192530ff260f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-tests-5.18.2.tar.xz">plasma-tests-5.18.2</a></td>
   <td align="right">1kB</td>
   <td><tt>d1584fc81e40a78beaa88ad25097d4dd8e9039bae06795d454d7d58a7da38dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-thunderbolt-5.18.2.tar.xz">plasma-thunderbolt-5.18.2</a></td>
   <td align="right">49kB</td>
   <td><tt>99fdc6c67ab53443e828706e584b544e5b714a9ee3a77e14e915ba8e1a312126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-vault-5.18.2.tar.xz">plasma-vault-5.18.2</a></td>
   <td align="right">133kB</td>
   <td><tt>8ed452c231ced034ffe3d9dc423a0357e7a8bc2282893e6158ee5ce8822e607a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-workspace-5.18.2.tar.xz">plasma-workspace-5.18.2</a></td>
   <td align="right">5.4MB</td>
   <td><tt>f530e422a549c58058b67adbbc65d64f8e0371d4148efe9f85d9382970401fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plasma-workspace-wallpapers-5.18.2.tar.xz">plasma-workspace-wallpapers-5.18.2</a></td>
   <td align="right">35MB</td>
   <td><tt>b5fe558d7da275834bd1cb4cdb398a619a606fe267b4d4b580cc0c8db10db1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/plymouth-kcm-5.18.2.tar.xz">plymouth-kcm-5.18.2</a></td>
   <td align="right">40kB</td>
   <td><tt>ca5e3119220fefa03c10cb7c5c0d4409d5fc5d9f9024c1b45e6af306c98f9e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/polkit-kde-agent-1-5.18.2.tar.xz">polkit-kde-agent-1-5.18.2</a></td>
   <td align="right">43kB</td>
   <td><tt>d4c38900d1ec3986c6ebba626f92c3adb8706904bef5e98ec26215d1d388eb5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/powerdevil-5.18.2.tar.xz">powerdevil-5.18.2</a></td>
   <td align="right">583kB</td>
   <td><tt>8f47adecc542219a2483fdeab3673f74f4d013c94d29c8535fbb7efe9ab2cb24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/sddm-kcm-5.18.2.tar.xz">sddm-kcm-5.18.2</a></td>
   <td align="right">60kB</td>
   <td><tt>191444ac6d7796393467f34842b6b1011c3cb9b0a040cca2d03a2e175ccfbe2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/systemsettings-5.18.2.tar.xz">systemsettings-5.18.2</a></td>
   <td align="right">171kB</td>
   <td><tt>0426459b8f592e22e0512300c155c34c29a2dac9949c464e6d0bf388193ff35c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/user-manager-5.18.2.tar.xz">user-manager-5.18.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>26b177416f61c743e084fb58dffca3806d794e420fa162a01ef517df03e2d052</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.18.2/xdg-desktop-portal-kde-5.18.2.tar.xz">xdg-desktop-portal-kde-5.18.2</a></td>
   <td align="right">63kB</td>
   <td><tt>9ebd095f3dbc0503bd412a2bf2f0c507208a60af0a54acbab417620d04cde96f</tt></td>
</tr>

</table>
