<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/bluedevil-5.19.5.tar.xz">bluedevil-5.19.5</a></td>
   <td align="right">164kB</td>
   <td><tt>e857e3c73a3d6c08bb44506f35a8359b480e960d32ae189b9b5bddcbcf5ffe2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/breeze-5.19.5.tar.xz">breeze-5.19.5</a></td>
   <td align="right">21MB</td>
   <td><tt>61116665a534a0acd833f9bb499dbe983bb07088c0006988fbd929f60f0ff336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/breeze-grub-5.19.5.tar.xz">breeze-grub-5.19.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a0b2efc175e75078330b72c3784603e4f52056498266c1637d5e8e039cf81843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/breeze-gtk-5.19.5.tar.xz">breeze-gtk-5.19.5</a></td>
   <td align="right">41kB</td>
   <td><tt>5213b2f6815e542cda6bf9ae153636285e178962c6a59ff9ab4fe5c07dc256c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/breeze-plymouth-5.19.5.tar.xz">breeze-plymouth-5.19.5</a></td>
   <td align="right">103kB</td>
   <td><tt>60f0e1b3631493c05b29e59063e3ada81c413f535c75f656aff231afea7f5b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/discover-5.19.5.tar.xz">discover-5.19.5</a></td>
   <td align="right">9.8MB</td>
   <td><tt>6f989060450fbbfa596424fa6d3c4d0c5ea6ab532d09e58a935a109c628a3f82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/drkonqi-5.19.5.tar.xz">drkonqi-5.19.5</a></td>
   <td align="right">726kB</td>
   <td><tt>43bcf7141115e98d590384b1e2081de5c055a341ce38c76b0cda9933b00f7771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kactivitymanagerd-5.19.5.tar.xz">kactivitymanagerd-5.19.5</a></td>
   <td align="right">83kB</td>
   <td><tt>eec1a0996812d89b98e93a3a2dec15527fd553c2c9c608ad7f1858f01749c3b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kde-cli-tools-5.19.5.tar.xz">kde-cli-tools-5.19.5</a></td>
   <td align="right">586kB</td>
   <td><tt>07314832aee0b424451120e0aad59fdaab96ba713279dc1937cf36ef9b5389c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kdecoration-5.19.5.tar.xz">kdecoration-5.19.5</a></td>
   <td align="right">42kB</td>
   <td><tt>ce3ef7bb09405645699939cc3481d1fad67b1c5b758b64adfc4d81e5ffb1c85e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kde-gtk-config-5.19.5.tar.xz">kde-gtk-config-5.19.5</a></td>
   <td align="right">25kB</td>
   <td><tt>e9b79917994a18001691ce675d5f2e95367c872694d82540fb245ab6e57035a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kdeplasma-addons-5.19.5.tar.xz">kdeplasma-addons-5.19.5</a></td>
   <td align="right">614kB</td>
   <td><tt>659e10b553c7db1abd488f77c43a919046f5e7f29126972926afe1350f93ff23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kgamma5-5.19.5.tar.xz">kgamma5-5.19.5</a></td>
   <td align="right">78kB</td>
   <td><tt>d6e70e2638c65283895ead3791957853553d02ee864b2f928c3b0df4611ca023</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/khotkeys-5.19.5.tar.xz">khotkeys-5.19.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>568cb61eb385a3776d96b21aa77188377b02e56e3bf46f9d9ffddb83a9b31bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kinfocenter-5.19.5.tar.xz">kinfocenter-5.19.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>ffae6f6fc311cedfac2b380dcbc9f15588952cbcd66b144f4ae717801cb2bc31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kmenuedit-5.19.5.tar.xz">kmenuedit-5.19.5</a></td>
   <td align="right">875kB</td>
   <td><tt>f4701c74c304d46f5146943aa297300fb38a9c3b1efad39d4fbf3238d49989f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kscreen-5.19.5.tar.xz">kscreen-5.19.5</a></td>
   <td align="right">111kB</td>
   <td><tt>0d72c687a405358e6aa6b388a648134e8e9236b7ed60e36a31068960d07b56e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kscreenlocker-5.19.5.tar.xz">kscreenlocker-5.19.5</a></td>
   <td align="right">123kB</td>
   <td><tt>b13b2081971db1347d6a77dec416725995ca20a5b7bf05f21c72a68e15d6a5b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/ksshaskpass-5.19.5.tar.xz">ksshaskpass-5.19.5</a></td>
   <td align="right">23kB</td>
   <td><tt>51c7dbcc434fb993ae756ce6ef8bf7511033617cc3367478382e1490b6505bcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/ksysguard-5.19.5.tar.xz">ksysguard-5.19.5</a></td>
   <td align="right">529kB</td>
   <td><tt>e1a66dc9750482ada19da5d3e9ec06893f859930f0e8e5a910a5751e9f267c47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kwallet-pam-5.19.5.tar.xz">kwallet-pam-5.19.5</a></td>
   <td align="right">19kB</td>
   <td><tt>788aed97654b82b3512870dbf2b0d0f521503631d094bba07a7eff1125a7916f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kwayland-integration-5.19.5.tar.xz">kwayland-integration-5.19.5</a></td>
   <td align="right">20kB</td>
   <td><tt>6d1bed734cd256604736417846f891abad9bd7c2a45527fc6fc10560322c8a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kwayland-server-5.19.5.tar.xz">kwayland-server-5.19.5</a></td>
   <td align="right">224kB</td>
   <td><tt>50fd9c9f68fd514dfd1ad05e65c8767afa154a3eed792f335214eee188c8541a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kwin-5.19.5.tar.xz">kwin-5.19.5</a></td>
   <td align="right">5.9MB</td>
   <td><tt>36afa37b773d31c0bcb8f4e32fa1f06cc33e15ad00e729ba36f120bbe034903b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/kwrited-5.19.5.tar.xz">kwrited-5.19.5</a></td>
   <td align="right">19kB</td>
   <td><tt>c934d9c85581db575da0559713f1c0bba0541749ea36a51f9cbce7454c2af4db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/libkscreen-5.19.5.tar.xz">libkscreen-5.19.5</a></td>
   <td align="right">83kB</td>
   <td><tt>11351cbed924264c6ccd8b95bd7fcaeed3477abb31e962894b0630ef41bdc165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/libksysguard-5.19.5.tar.xz">libksysguard-5.19.5</a></td>
   <td align="right">659kB</td>
   <td><tt>d8adb311dae1a699a3fd3fbdc9e6cdde037503ca303b70f12d33b985ee80a0cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/milou-5.19.5.tar.xz">milou-5.19.5</a></td>
   <td align="right">63kB</td>
   <td><tt>edc6e5c646a98f6f3eada802995c1308c84a5ae7aef467e9d4ce1deaf8a9040e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/oxygen-5.19.5.tar.xz">oxygen-5.19.5</a></td>
   <td align="right">4.2MB</td>
   <td><tt>4217d4da0f851d6e3fc25cdaa3f3123611e5e89d676ba33fa1c0fd02cddb0c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-browser-integration-5.19.5.tar.xz">plasma-browser-integration-5.19.5</a></td>
   <td align="right">172kB</td>
   <td><tt>29cb30b86f9f25857ba7e67bcb892e9a1dabfd4eec1767b0c4ca0a1400d61dcf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-desktop-5.19.5.tar.xz">plasma-desktop-5.19.5</a></td>
   <td align="right">8.9MB</td>
   <td><tt>c63e1c81edc438656f9159e235be31e3b1b11a3f8ecbe5b97b21fcc91eb71a70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-integration-5.19.5.tar.xz">plasma-integration-5.19.5</a></td>
   <td align="right">56kB</td>
   <td><tt>f7fdd854e78e366a310116ef190bd7bed42df15a059d8ad75b763cbcebfb6389</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-nano-5.19.5.tar.xz">plasma-nano-5.19.5</a></td>
   <td align="right">31kB</td>
   <td><tt>71a2b5ae19cb2468ae215b8321894f3c9702774143be2b4de93c818414090e61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-nm-5.19.5.tar.xz">plasma-nm-5.19.5</a></td>
   <td align="right">835kB</td>
   <td><tt>433fe0329bacaede666d4d0962c5dedf6b4449f7c7ad08870ae9554ad64f2bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-pa-5.19.5.tar.xz">plasma-pa-5.19.5</a></td>
   <td align="right">105kB</td>
   <td><tt>b00eb9bc7c7bd35f3ae78f58522cea8d1dd86b9b20585dff83fb93ef64af91d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-phone-components-5.19.5.tar.xz">plasma-phone-components-5.19.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>408a242f502ad5a9cf5eaaeb5b306353b5aae28a69fee9bcc047d5268ee54a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-sdk-5.19.5.tar.xz">plasma-sdk-5.19.5</a></td>
   <td align="right">257kB</td>
   <td><tt>8c434adbb6c68ce42581152269d7e0717f16362017290a96f2c5f1922930da20</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-tests-5.19.5.tar.xz">plasma-tests-5.19.5</a></td>
   <td align="right">1kB</td>
   <td><tt>31dffd8f449c02165cdeb99d16dc562d913de1a3e693b445a22649ff712390fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-thunderbolt-5.19.5.tar.xz">plasma-thunderbolt-5.19.5</a></td>
   <td align="right">50kB</td>
   <td><tt>959b4eb43b58d46895c94c94c082b28277ca197cdcaa25880800502ace6d0295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-vault-5.19.5.tar.xz">plasma-vault-5.19.5</a></td>
   <td align="right">142kB</td>
   <td><tt>7f81321f32f3784683fa7d9511dca9bfba70a7a9181a33e832d864c639b05204</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-workspace-5.19.5.tar.xz">plasma-workspace-5.19.5</a></td>
   <td align="right">5.4MB</td>
   <td><tt>490329e08e63016edd696a9132bf80b76ef51dacf53308b865d2e27b67ce8127</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plasma-workspace-wallpapers-5.19.5.tar.xz">plasma-workspace-wallpapers-5.19.5</a></td>
   <td align="right">39MB</td>
   <td><tt>4aeec36035356cca71c0966e9d7dbc7d9fca6be4c27abd990f0fa954a91374f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/plymouth-kcm-5.19.5.tar.xz">plymouth-kcm-5.19.5</a></td>
   <td align="right">40kB</td>
   <td><tt>ca9b6faa00e451a7fa3d689e540903c9877fd1194fa6964c1fc127d887ddff76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/polkit-kde-agent-1-5.19.5.tar.xz">polkit-kde-agent-1-5.19.5</a></td>
   <td align="right">43kB</td>
   <td><tt>076129f450a82780f354d7ec18300094db3f7233cb52f4e57298b973750adb30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/powerdevil-5.19.5.tar.xz">powerdevil-5.19.5</a></td>
   <td align="right">586kB</td>
   <td><tt>d15f013c50928097f6b719aca46ec2a93a997dcbb7584bcb09f18015cca8ac1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/sddm-kcm-5.19.5.tar.xz">sddm-kcm-5.19.5</a></td>
   <td align="right">61kB</td>
   <td><tt>3ba2c6821fc847fca2cb8123748bf05cdd9c45557a0ecab5dc43a37a5ebde738</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/systemsettings-5.19.5.tar.xz">systemsettings-5.19.5</a></td>
   <td align="right">179kB</td>
   <td><tt>ba8fdc2b8c861e7271bad7f6c5cdb92b0c2eee08ef81b86e28bba064259e2ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/user-manager-5.19.5.tar.xz">user-manager-5.19.5</a></td>
   <td align="right">9.4MB</td>
   <td><tt>39260b2575f6287c8086984417bba18682ca2ba3840d93f95667d0d2faa461cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.19.5/xdg-desktop-portal-kde-5.19.5.tar.xz">xdg-desktop-portal-kde-5.19.5</a></td>
   <td align="right">74kB</td>
   <td><tt>055e7c379dc3e0edb8d87515468b8d16a70bd99765f269a211ce655eb3e1ea45</tt></td>
</tr>

</table>
