<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-19.11.90.tar.xz">akonadi-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>f56c2ebbde3a257fd06d5b95e69ac506f554fcf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-calendar-19.11.90.tar.xz">akonadi-calendar-19.11.90</a></td>
   <td align="right">324kB</td>
   <td><tt>4fa9f31e6cf61533cc6dbcc8102eba7bb45cdd9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-calendar-tools-19.11.90.tar.xz">akonadi-calendar-tools-19.11.90</a></td>
   <td align="right">219kB</td>
   <td><tt>40fa24f659d1a51b68835435ae4fcf7c2a3f4aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadiconsole-19.11.90.tar.xz">akonadiconsole-19.11.90</a></td>
   <td align="right">189kB</td>
   <td><tt>96397731f8754ab8df37956a33d53f0f7cb5b66a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-contacts-19.11.90.tar.xz">akonadi-contacts-19.11.90</a></td>
   <td align="right">384kB</td>
   <td><tt>2bde5d60ce59a3198df9dfc525f2ecbd3bcda878</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-import-wizard-19.11.90.tar.xz">akonadi-import-wizard-19.11.90</a></td>
   <td align="right">428kB</td>
   <td><tt>e884d15e064350b6fa0a7356527cdf8b18248057</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-mime-19.11.90.tar.xz">akonadi-mime-19.11.90</a></td>
   <td align="right">129kB</td>
   <td><tt>30054d96fd8dc1b748507048316817ccc0eff35b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-notes-19.11.90.tar.xz">akonadi-notes-19.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>3b6f90cde0916e68712e46e6bc5f5287bc748162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akonadi-search-19.11.90.tar.xz">akonadi-search-19.11.90</a></td>
   <td align="right">81kB</td>
   <td><tt>1460a146f30f305f57131fbc7afd24fd4cbe555b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/akregator-19.11.90.tar.xz">akregator-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>ea69a3cad4f1c5508b6a233d6c086beefef8b24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/analitza-19.11.90.tar.xz">analitza-19.11.90</a></td>
   <td align="right">324kB</td>
   <td><tt>15a6e6b60166b6d52f4f9af775c72366034ecdfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ark-19.11.90.tar.xz">ark-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>35b3d02aa2a94d7134b2d884ef8e90da4d4144a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/artikulate-19.11.90.tar.xz">artikulate-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>f12deef966700c6405b9556da1efab459e7f8dba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/audiocd-kio-19.11.90.tar.xz">audiocd-kio-19.11.90</a></td>
   <td align="right">348kB</td>
   <td><tt>170bd733330fe8fa286d09626769d9b7e741a25c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/baloo-widgets-19.11.90.tar.xz">baloo-widgets-19.11.90</a></td>
   <td align="right">256kB</td>
   <td><tt>e5e066bdf585940b48e54f4bb4aefada6a3b6df8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/blinken-19.11.90.tar.xz">blinken-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>2c93979f29354616ca32b96075d53f8983f7e0a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/bomber-19.11.90.tar.xz">bomber-19.11.90</a></td>
   <td align="right">802kB</td>
   <td><tt>0eb8465f356b0b6c5263420e5df7e10f7e587e6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/bovo-19.11.90.tar.xz">bovo-19.11.90</a></td>
   <td align="right">195kB</td>
   <td><tt>0b37f8074c4a6ddcfe8b5b7d9c0f7f8f4e9ca447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/calendarsupport-19.11.90.tar.xz">calendarsupport-19.11.90</a></td>
   <td align="right">629kB</td>
   <td><tt>b6511b05da2e71c8e2267c62c4a9f81d5f2b94b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/cantor-19.11.90.tar.xz">cantor-19.11.90</a></td>
   <td align="right">8MB</td>
   <td><tt>b437a4a0e3803e99f7e1b01eeb0fbef485ed0497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/cervisia-19.11.90.tar.xz">cervisia-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>7e3946bc4e7a97225442e2ba8b155c5ba56d6316</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/dolphin-19.11.90.tar.xz">dolphin-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>c2a50507608b275dc3cdb966c5575daee7ba1b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/dolphin-plugins-19.11.90.tar.xz">dolphin-plugins-19.11.90</a></td>
   <td align="right">189kB</td>
   <td><tt>9c4a25be577cc253fb75cac1f8fa8d3bca40b919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/dragon-19.11.90.tar.xz">dragon-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>777fe325063f88a7e765003e680e9a32f4a0dbe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/elisa-19.11.90.tar.xz">elisa-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>ccb2b380e50f3c89d285ad55d5c91fc57ba0940a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/eventviews-19.11.90.tar.xz">eventviews-19.11.90</a></td>
   <td align="right">433kB</td>
   <td><tt>ed693066e2a981ca090af1277efb37336780af07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ffmpegthumbs-19.11.90.tar.xz">ffmpegthumbs-19.11.90</a></td>
   <td align="right">26kB</td>
   <td><tt>8f606f4fcc1364d4c907ce596ecc72d4f25311d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/filelight-19.11.90.tar.xz">filelight-19.11.90</a></td>
   <td align="right">646kB</td>
   <td><tt>891c46303ee93dab217f87b1c3111a4a031df5c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/granatier-19.11.90.tar.xz">granatier-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>d0143003ef48449bb41ba7fcff8604b4faf4451d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/grantlee-editor-19.11.90.tar.xz">grantlee-editor-19.11.90</a></td>
   <td align="right">109kB</td>
   <td><tt>e6cf32b53fbbd760f79c32afad773a625a0f75a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/grantleetheme-19.11.90.tar.xz">grantleetheme-19.11.90</a></td>
   <td align="right">53kB</td>
   <td><tt>66966462d27b95dfbeec3878d05fa580827711e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/gwenview-19.11.90.tar.xz">gwenview-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>e76febd81c57a8a9d66964744983b698f07009ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/incidenceeditor-19.11.90.tar.xz">incidenceeditor-19.11.90</a></td>
   <td align="right">536kB</td>
   <td><tt>d33a5a16468f02045ccbb4f2624883048dc924e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/juk-19.11.90.tar.xz">juk-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>882c39fa78bf0794af4b0782f3cfc52d526d455d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/k3b-19.11.90.tar.xz">k3b-19.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>04bf49849df53d0afaf445a58c23e26b44bf711b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kaccounts-integration-19.11.90.tar.xz">kaccounts-integration-19.11.90</a></td>
   <td align="right">65kB</td>
   <td><tt>d3e8bcd5dfae737f4929a0d1cc7e7c5c2463da82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kaccounts-providers-19.11.90.tar.xz">kaccounts-providers-19.11.90</a></td>
   <td align="right">31kB</td>
   <td><tt>26309ad0a319c88d6839c6263b5de57c53634e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kaddressbook-19.11.90.tar.xz">kaddressbook-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>374bce0cb950cfefadb812ead1ef8d15c936ac30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kajongg-19.11.90.tar.xz">kajongg-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>bc1af493c528d117b82d1aa4dd940de7daf67e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kalarm-19.11.90.tar.xz">kalarm-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>600e45ead774011f5e74e5164993ca9d3f02d431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kalarmcal-19.11.90.tar.xz">kalarmcal-19.11.90</a></td>
   <td align="right">560kB</td>
   <td><tt>02f103b58f31b1035e6ec2ffe1f2e31248db9656</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kalgebra-19.11.90.tar.xz">kalgebra-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>25e2d490fb19f6d54984b056865bf626de51b3b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kalzium-19.11.90.tar.xz">kalzium-19.11.90</a></td>
   <td align="right">25MB</td>
   <td><tt>cb8f8605314d6327fdea7ff3a8dfe664c3b29f37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kamera-19.11.90.tar.xz">kamera-19.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>6551a33df8a0883c9e5314a607ab918b2c35fd10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kamoso-19.11.90.tar.xz">kamoso-19.11.90</a></td>
   <td align="right">198kB</td>
   <td><tt>0701427fae92e223abe38fdedc236ff20e785881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kanagram-19.11.90.tar.xz">kanagram-19.11.90</a></td>
   <td align="right">7MB</td>
   <td><tt>fa14f54a3b1faced6a8c876ebf59d66d4bd175bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kapman-19.11.90.tar.xz">kapman-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>4cbdccf990318e07abfd1598927e2d9c394eff70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kapptemplate-19.11.90.tar.xz">kapptemplate-19.11.90</a></td>
   <td align="right">308kB</td>
   <td><tt>f0b05dbdea1bdca0a2e9f1dfbd724554f8b7295b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kate-19.11.90.tar.xz">kate-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>9fb9053be0e8f1a52d8aaf6a014c102593f5a261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/katomic-19.11.90.tar.xz">katomic-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>907be99f7e7dc670b09ec029ec5ffb32df37092a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kbackup-19.11.90.tar.xz">kbackup-19.11.90</a></td>
   <td align="right">350kB</td>
   <td><tt>acc19d8887fe2901c781ce91f69c0921bbfb05a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kblackbox-19.11.90.tar.xz">kblackbox-19.11.90</a></td>
   <td align="right">436kB</td>
   <td><tt>a4582324b59e51683c320e1d16da34293937729b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kblocks-19.11.90.tar.xz">kblocks-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>add7a7c2cd3a12440f89d1124c400f561c77a9d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kblog-19.11.90.tar.xz">kblog-19.11.90</a></td>
   <td align="right">71kB</td>
   <td><tt>5ce4f3817860ff1e5b8b64a4792fe5a62a2ac5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kbounce-19.11.90.tar.xz">kbounce-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>20a68e2a1573ecee35847b56523fea311efb0355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kbreakout-19.11.90.tar.xz">kbreakout-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>5e96992f6a36edbd9dea95a7fffab77a99634d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kbruch-19.11.90.tar.xz">kbruch-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>5bf30c0f2951c0e258ee2047ca88b62f72eb982f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcachegrind-19.11.90.tar.xz">kcachegrind-19.11.90</a></td>
   <td align="right">795kB</td>
   <td><tt>3d624a39004fd835d89d19109f0d1684c3ac03e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcalc-19.11.90.tar.xz">kcalc-19.11.90</a></td>
   <td align="right">365kB</td>
   <td><tt>b77b98d65ddc4e3401c1634e8eac0055cfb43c94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcalutils-19.11.90.tar.xz">kcalutils-19.11.90</a></td>
   <td align="right">313kB</td>
   <td><tt>db218d39f76787cdb666d3a77c3a1514f26b670f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcharselect-19.11.90.tar.xz">kcharselect-19.11.90</a></td>
   <td align="right">327kB</td>
   <td><tt>e521704256fb372048ccc3b6a37b83f6d5ed450a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcolorchooser-19.11.90.tar.xz">kcolorchooser-19.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>345c3d37772fba044f61810fb8255a9b64bb749d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kcron-19.11.90.tar.xz">kcron-19.11.90</a></td>
   <td align="right">869kB</td>
   <td><tt>1b54801fab2d4a6cb1d91faf23fc86d2938208ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdav-19.11.90.tar.xz">kdav-19.11.90</a></td>
   <td align="right">53kB</td>
   <td><tt>ac2ac31fa7cc55e2637d6fd15e1c33a7c713b695</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdebugsettings-19.11.90.tar.xz">kdebugsettings-19.11.90</a></td>
   <td align="right">61kB</td>
   <td><tt>a30356670079d2c4042c3eca47f515369f55a6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kde-dev-scripts-19.11.90.tar.xz">kde-dev-scripts-19.11.90</a></td>
   <td align="right">369kB</td>
   <td><tt>f6cbe3e667721d0025c31bf4767b87f4fa16ebe3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kde-dev-utils-19.11.90.tar.xz">kde-dev-utils-19.11.90</a></td>
   <td align="right">62kB</td>
   <td><tt>9602e899bb4d3b7f4600edc6cad4e847db85d1a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdeedu-data-19.11.90.tar.xz">kdeedu-data-19.11.90</a></td>
   <td align="right">319kB</td>
   <td><tt>b4ef664f9949c86523b1fd005893073838f1c643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdegraphics-mobipocket-19.11.90.tar.xz">kdegraphics-mobipocket-19.11.90</a></td>
   <td align="right">15kB</td>
   <td><tt>a529dbd96595b8ba307dcc6f17850b5974c924ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdegraphics-thumbnailers-19.11.90.tar.xz">kdegraphics-thumbnailers-19.11.90</a></td>
   <td align="right">44kB</td>
   <td><tt>aec2a82042e2a5b3621807fbb1de840555bbdb01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdenetwork-filesharing-19.11.90.tar.xz">kdenetwork-filesharing-19.11.90</a></td>
   <td align="right">310kB</td>
   <td><tt>31370d617c76d5a9b48428fae3884cce9bfe979d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdenlive-19.11.90.tar.xz">kdenlive-19.11.90</a></td>
   <td align="right">11MB</td>
   <td><tt>2de610bd2c76f78c195cd78a6482ed391b9bd315</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdepim-addons-19.11.90.tar.xz">kdepim-addons-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>60d0fca7f2c0f37b7da356462bbd60c3cade3328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdepim-apps-libs-19.11.90.tar.xz">kdepim-apps-libs-19.11.90</a></td>
   <td align="right">80kB</td>
   <td><tt>ff5b228fbc901cb627c2accd9aee6858510cc027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdepim-runtime-19.11.90.tar.xz">kdepim-runtime-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>e62a4e5ee96f942fe6f7423d0961451e31d84983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdesdk-kioslaves-19.11.90.tar.xz">kdesdk-kioslaves-19.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>6f35a9089e61ff985ef353d9f631da8e96d7a9fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdesdk-thumbnailers-19.11.90.tar.xz">kdesdk-thumbnailers-19.11.90</a></td>
   <td align="right">16kB</td>
   <td><tt>3339cca2cf904af72c3598d092af9e97c91d9c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdf-19.11.90.tar.xz">kdf-19.11.90</a></td>
   <td align="right">451kB</td>
   <td><tt>adbb355b1a76e18324edb2f3a60cc8281de8d764</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdialog-19.11.90.tar.xz">kdialog-19.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>d9a8742b819abca929734ed5b4ceb0eae28e26db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kdiamond-19.11.90.tar.xz">kdiamond-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>b6bf55402a5138865cfed86f9c121a6f396f0fcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/keditbookmarks-19.11.90.tar.xz">keditbookmarks-19.11.90</a></td>
   <td align="right">183kB</td>
   <td><tt>310a583346f7f1a6a08e76669ceffa5ab7371fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kfind-19.11.90.tar.xz">kfind-19.11.90</a></td>
   <td align="right">264kB</td>
   <td><tt>19b603db612c837de0bfb190818625c88bc68185</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kfloppy-19.11.90.tar.xz">kfloppy-19.11.90</a></td>
   <td align="right">194kB</td>
   <td><tt>d043f5239660696890ddcff707d37fe12c84b6f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kfourinline-19.11.90.tar.xz">kfourinline-19.11.90</a></td>
   <td align="right">624kB</td>
   <td><tt>c16943bf1eba4f1105790126f3f1253f2c5fe00a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kgeography-19.11.90.tar.xz">kgeography-19.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>ac3301154185d80f347b23440552d4d3eabe81a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kget-19.11.90.tar.xz">kget-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>67ead09ae1fe3779efe2c5920ddd8fd8e0d10396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kgoldrunner-19.11.90.tar.xz">kgoldrunner-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>0c7c60ad33a233f8bcaa88e41e2b7bb9341e82c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kgpg-19.11.90.tar.xz">kgpg-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>919040569ba03676a73278799da18dc9f1bc9b84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/khangman-19.11.90.tar.xz">khangman-19.11.90</a></td>
   <td align="right">6MB</td>
   <td><tt>443492b54f78143665fefa9cf2a620a7f04ee447</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/khelpcenter-19.11.90.tar.xz">khelpcenter-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>4b4a69840785bb5c7fb4b5dc73227c9c432f12aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kidentitymanagement-19.11.90.tar.xz">kidentitymanagement-19.11.90</a></td>
   <td align="right">145kB</td>
   <td><tt>040075b3ad2f9d3540892ba583a0374e9756e189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kig-19.11.90.tar.xz">kig-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>b1b7d616a3819d15911dd48ae36bd51bf806692c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kigo-19.11.90.tar.xz">kigo-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>c85f36c52fb19ccd8a687f3bdfb83a920f89243e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/killbots-19.11.90.tar.xz">killbots-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>9faf42d2d3ac28709bec9233aed4d549fd8bd2ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kimagemapeditor-19.11.90.tar.xz">kimagemapeditor-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>2d2390e79ab5876e22b4415b4882261b84cb1197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kimap-19.11.90.tar.xz">kimap-19.11.90</a></td>
   <td align="right">117kB</td>
   <td><tt>c4d356de0d3ab73818312db4490cc40e14a92768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kio-extras-19.11.90.tar.xz">kio-extras-19.11.90</a></td>
   <td align="right">565kB</td>
   <td><tt>1943a2747832345c9ed5a035724b2bb119b9871b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kipi-plugins-19.11.90.tar.xz">kipi-plugins-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>fe0b0b585ba8c8112574aa9e51ca9d092d61e6af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kirigami-gallery-19.11.90.tar.xz">kirigami-gallery-19.11.90</a></td>
   <td align="right">271kB</td>
   <td><tt>f7058937ada3232e92e8bcef67c672e21c7d23b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kiriki-19.11.90.tar.xz">kiriki-19.11.90</a></td>
   <td align="right">364kB</td>
   <td><tt>776e2896ebcbb06594d8b8baf32627f914934029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kiten-19.11.90.tar.xz">kiten-19.11.90</a></td>
   <td align="right">10MB</td>
   <td><tt>de6853ed2c83d170963c80868a23f9d051a379a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kitinerary-19.11.90.tar.xz">kitinerary-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>4853757a79d4abf21e17af09b217e8b10351c630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kjumpingcube-19.11.90.tar.xz">kjumpingcube-19.11.90</a></td>
   <td align="right">282kB</td>
   <td><tt>1ca78922cd596b67c511a6bd4464384f3f6541d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kldap-19.11.90.tar.xz">kldap-19.11.90</a></td>
   <td align="right">152kB</td>
   <td><tt>c9fa48ec8865639c73e85fa5e960fa86a7ca1e5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kleopatra-19.11.90.tar.xz">kleopatra-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>dc00590a87a16880d4a9e93fd6579cb613cd906e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/klettres-19.11.90.tar.xz">klettres-19.11.90</a></td>
   <td align="right">38MB</td>
   <td><tt>329dcefe0f1c65af54a61af0da1fda17b716e78b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/klickety-19.11.90.tar.xz">klickety-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>88065ee35e82ddab3e2d859a47fdb3e7bb7a4e33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/klines-19.11.90.tar.xz">klines-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>4c4562c21fbad31b3ae38cb7852d5f32a8e00666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmag-19.11.90.tar.xz">kmag-19.11.90</a></td>
   <td align="right">658kB</td>
   <td><tt>b06608188ede8226354ec3fcfe73f64ff3fda1c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmahjongg-19.11.90.tar.xz">kmahjongg-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>bdb6f6bc21b661df1f1b689d9d14c4790f0dc661</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmail-19.11.90.tar.xz">kmail-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>b86f2ce4e83f4ea0e0164392d7f1f20840dcbdac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmail-account-wizard-19.11.90.tar.xz">kmail-account-wizard-19.11.90</a></td>
   <td align="right">154kB</td>
   <td><tt>bf3aec33e85b6e6ef02197abc9d42c4b5215e229</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmailtransport-19.11.90.tar.xz">kmailtransport-19.11.90</a></td>
   <td align="right">162kB</td>
   <td><tt>1941fc9c945e6a1c8abc06a7f3f4366411ebf83a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmbox-19.11.90.tar.xz">kmbox-19.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>71163b507271d3dba7e5da38d63f2b93be56bc5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmime-19.11.90.tar.xz">kmime-19.11.90</a></td>
   <td align="right">143kB</td>
   <td><tt>09db7780bf779f711c96644fe47ef379d72af587</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmines-19.11.90.tar.xz">kmines-19.11.90</a></td>
   <td align="right">878kB</td>
   <td><tt>a9f720e7daf0c59e1434bb1657639c249634033e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmix-19.11.90.tar.xz">kmix-19.11.90</a></td>
   <td align="right">983kB</td>
   <td><tt>c1ca319c8b0edc3a23d677a6e5b66776a0a38ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmousetool-19.11.90.tar.xz">kmousetool-19.11.90</a></td>
   <td align="right">111kB</td>
   <td><tt>a30b4090c31d1cedf629019d8c100eae840740f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmouth-19.11.90.tar.xz">kmouth-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>2e0b6fe8ad2dcf3477617ecebf39478ec995db69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kmplot-19.11.90.tar.xz">kmplot-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>cb1f3c9b783d8b3bf4aabecf173d2fdca6d220b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/knavalbattle-19.11.90.tar.xz">knavalbattle-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>4aec4879e038a8bb93615c40b36542ea8027a865</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/knetwalk-19.11.90.tar.xz">knetwalk-19.11.90</a></td>
   <td align="right">1017kB</td>
   <td><tt>28ec931372350d9ab872056868b36561ade60b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/knights-19.11.90.tar.xz">knights-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>0da6389ca21e03991fbdcfe1408d6bdd8a57f6d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/knotes-19.11.90.tar.xz">knotes-19.11.90</a></td>
   <td align="right">312kB</td>
   <td><tt>a9f23f6c898494e752dc90b5d8d4c2c2b202945a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kolf-19.11.90.tar.xz">kolf-19.11.90</a></td>
   <td align="right">1002kB</td>
   <td><tt>b9ce8d16da264c63359ecd2515718eb2b7e0189e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kollision-19.11.90.tar.xz">kollision-19.11.90</a></td>
   <td align="right">274kB</td>
   <td><tt>65a62b46e57c51f5817d6cdfb04ed2346980cb00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kolourpaint-19.11.90.tar.xz">kolourpaint-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>3e718e5fd3d95ed4c3ed3e28f89d85cdc4bf88b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kompare-19.11.90.tar.xz">kompare-19.11.90</a></td>
   <td align="right">781kB</td>
   <td><tt>8282e29875cbf7906a897271820cdee05e60efc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/konqueror-19.11.90.tar.xz">konqueror-19.11.90</a></td>
   <td align="right">7MB</td>
   <td><tt>3d24a431e008d1355ce728a84b7e38f77a1c78bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/konquest-19.11.90.tar.xz">konquest-19.11.90</a></td>
   <td align="right">643kB</td>
   <td><tt>c31a9c1af9e4348951a770ec5397c30998d776f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/konsole-19.11.90.tar.xz">konsole-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>549ea93299d6d85d1d620a8d8d0de2b1895a7684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kontact-19.11.90.tar.xz">kontact-19.11.90</a></td>
   <td align="right">775kB</td>
   <td><tt>26177e9f9ee93bfe69d5dbf373f709a3b6360f14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kontactinterface-19.11.90.tar.xz">kontactinterface-19.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>194f9c273bb2030061b93f7c2f48c212a7e1b6b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kopete-19.11.90.tar.xz">kopete-19.11.90</a></td>
   <td align="right">8MB</td>
   <td><tt>6f14fb828452ec00f2c50555773fffcdcc4c11e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/korganizer-19.11.90.tar.xz">korganizer-19.11.90</a></td>
   <td align="right">2MB</td>
   <td><tt>100f1598cd56afa8b9df33bc64a94cf96cb4f065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kpat-19.11.90.tar.xz">kpat-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>a79e5a7ca802064040e898d4e245b72820a35567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kpimtextedit-19.11.90.tar.xz">kpimtextedit-19.11.90</a></td>
   <td align="right">163kB</td>
   <td><tt>6167bf5ca0a4e6b032f080fa010fc9e73b7135ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kpkpass-19.11.90.tar.xz">kpkpass-19.11.90</a></td>
   <td align="right">22kB</td>
   <td><tt>6b50a90454a4a9f4e5b16349c32c20091d5635ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kqtquickcharts-19.11.90.tar.xz">kqtquickcharts-19.11.90</a></td>
   <td align="right">24kB</td>
   <td><tt>18b6ba5851990c7f991c9bc145e0750cae1008c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/krdc-19.11.90.tar.xz">krdc-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>23da208262f3286f15630ba6594a24228552b818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kreversi-19.11.90.tar.xz">kreversi-19.11.90</a></td>
   <td align="right">923kB</td>
   <td><tt>a56c33d42fe7efc1886db71d47190ffdd7dcc7b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/krfb-19.11.90.tar.xz">krfb-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>30d1d3b188030862afbeb830555ae889bfe70883</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kross-interpreters-19.11.90.tar.xz">kross-interpreters-19.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>071f585cbbb6ac6afb6e13514e095421791812e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kruler-19.11.90.tar.xz">kruler-19.11.90</a></td>
   <td align="right">244kB</td>
   <td><tt>7258424bf22329ea175bdee167416ac17b181ce0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kshisen-19.11.90.tar.xz">kshisen-19.11.90</a></td>
   <td align="right">803kB</td>
   <td><tt>beab0a8734bbc60efa02b26e806bc0842d0b548b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksirk-19.11.90.tar.xz">ksirk-19.11.90</a></td>
   <td align="right">6MB</td>
   <td><tt>4c133214553b488a162eede57345591b0f1f6561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksmtp-19.11.90.tar.xz">ksmtp-19.11.90</a></td>
   <td align="right">39kB</td>
   <td><tt>960cdf1a4e66b35f460e32db96d133c9b29c9b30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksnakeduel-19.11.90.tar.xz">ksnakeduel-19.11.90</a></td>
   <td align="right">591kB</td>
   <td><tt>b9a58bcc3e588d37d5c64a0f3e430a3f24de49c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kspaceduel-19.11.90.tar.xz">kspaceduel-19.11.90</a></td>
   <td align="right">597kB</td>
   <td><tt>a404c55b786dc39734098d1a1e138125ab2c598e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksquares-19.11.90.tar.xz">ksquares-19.11.90</a></td>
   <td align="right">254kB</td>
   <td><tt>c2e7dec844acb84fc6d8a40c97105da96d5f085b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksudoku-19.11.90.tar.xz">ksudoku-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>5945de0fe5f35f320025ce39ee5352c9ae7aae6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ksystemlog-19.11.90.tar.xz">ksystemlog-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>fcc106b83e2324fda4a940bfc99f6b5dbea4d66c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kteatime-19.11.90.tar.xz">kteatime-19.11.90</a></td>
   <td align="right">280kB</td>
   <td><tt>83211c2623b047c5b9fb71fcfa5355708548c8de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktimer-19.11.90.tar.xz">ktimer-19.11.90</a></td>
   <td align="right">368kB</td>
   <td><tt>02d0d40be9f5101cd3a8eec9e41a6d9d8d96fa08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktnef-19.11.90.tar.xz">ktnef-19.11.90</a></td>
   <td align="right">292kB</td>
   <td><tt>ad7a32a2acd6bf717196ebce68f1adefe03a234c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktouch-19.11.90.tar.xz">ktouch-19.11.90</a></td>
   <td align="right">4MB</td>
   <td><tt>d941caf4e1ed95540af0f607ae6b104fcd940e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-accounts-kcm-19.11.90.tar.xz">ktp-accounts-kcm-19.11.90</a></td>
   <td align="right">258kB</td>
   <td><tt>ff5e0528483fa76a9455ae4a3ea1d9b5d1721155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-approver-19.11.90.tar.xz">ktp-approver-19.11.90</a></td>
   <td align="right">36kB</td>
   <td><tt>15b8873691d6cbfbc6aa7b5d7aff3b9b16375d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-auth-handler-19.11.90.tar.xz">ktp-auth-handler-19.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>ab5931272bf0899f4215a421a9be869537d210fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-call-ui-19.11.90.tar.xz">ktp-call-ui-19.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>af9b25f3b0c56cb9482a0ba82e2a28a19dbae8d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-common-internals-19.11.90.tar.xz">ktp-common-internals-19.11.90</a></td>
   <td align="right">434kB</td>
   <td><tt>126986f523a517e0234ff1169f69414705ef2148</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-contact-list-19.11.90.tar.xz">ktp-contact-list-19.11.90</a></td>
   <td align="right">146kB</td>
   <td><tt>595f981225025864ffa840d8a82020c41e2246f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-contact-runner-19.11.90.tar.xz">ktp-contact-runner-19.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>f145cae7e5ef28116be98366c9c94c4180926734</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-desktop-applets-19.11.90.tar.xz">ktp-desktop-applets-19.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>7fda6713a1896d034eef0f356aa20307d7ac2c39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-filetransfer-handler-19.11.90.tar.xz">ktp-filetransfer-handler-19.11.90</a></td>
   <td align="right">45kB</td>
   <td><tt>9eaa0151e5d02f5bce671b2e6efebb85f6755ad7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-kded-module-19.11.90.tar.xz">ktp-kded-module-19.11.90</a></td>
   <td align="right">95kB</td>
   <td><tt>53975c3f6ab60d0b534dcc2e1d63d732589c300e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-send-file-19.11.90.tar.xz">ktp-send-file-19.11.90</a></td>
   <td align="right">28kB</td>
   <td><tt>00993ae0f36daa3d7ef868ec86a47d3e50095e5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktp-text-ui-19.11.90.tar.xz">ktp-text-ui-19.11.90</a></td>
   <td align="right">460kB</td>
   <td><tt>55adcb2965fc9b2f03a10bf139d93d2740580e76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/ktuberling-19.11.90.tar.xz">ktuberling-19.11.90</a></td>
   <td align="right">67MB</td>
   <td><tt>08b98848272d509cc04cafc94f711f122ce7df2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kturtle-19.11.90.tar.xz">kturtle-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>eff31031397c6955f8af204c74e8fc65f2fd4919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kubrick-19.11.90.tar.xz">kubrick-19.11.90</a></td>
   <td align="right">306kB</td>
   <td><tt>d428a39c4063934bdda5b3405ad5fa128b6b092e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kwalletmanager-19.11.90.tar.xz">kwalletmanager-19.11.90</a></td>
   <td align="right">770kB</td>
   <td><tt>db7102735950aa4b2661294180c59a62ad8b41b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kwave-19.11.90.tar.xz">kwave-19.11.90</a></td>
   <td align="right">5MB</td>
   <td><tt>9d1109dad6faa45042f5b245a976696fbe7dbd46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/kwordquiz-19.11.90.tar.xz">kwordquiz-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>8719397f41c0e139d30456083e24172cf4977175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libgravatar-19.11.90.tar.xz">libgravatar-19.11.90</a></td>
   <td align="right">30kB</td>
   <td><tt>d502101558956704d1b3bb1dca1340d4503b97de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkcddb-19.11.90.tar.xz">libkcddb-19.11.90</a></td>
   <td align="right">414kB</td>
   <td><tt>663c00c483add42de82fb1f801ddfb80101123f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkcompactdisc-19.11.90.tar.xz">libkcompactdisc-19.11.90</a></td>
   <td align="right">87kB</td>
   <td><tt>82eb709edf174204da2c937c3af2e18de826b9bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkdcraw-19.11.90.tar.xz">libkdcraw-19.11.90</a></td>
   <td align="right">41kB</td>
   <td><tt>7e1dc8b15f63c2ef1df761abae8ce39efa4e48c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkdegames-19.11.90.tar.xz">libkdegames-19.11.90</a></td>
   <td align="right">6MB</td>
   <td><tt>8b7cf2b5a2366b935d1c11bcf1e0ea547b4c287d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkdepim-19.11.90.tar.xz">libkdepim-19.11.90</a></td>
   <td align="right">325kB</td>
   <td><tt>1754203043a4b336334eb6b58c35b83a4df0b6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkeduvocdocument-19.11.90.tar.xz">libkeduvocdocument-19.11.90</a></td>
   <td align="right">206kB</td>
   <td><tt>be28aaa20dc2d98e7451f3561c674cc3e5735193</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkexiv2-19.11.90.tar.xz">libkexiv2-19.11.90</a></td>
   <td align="right">63kB</td>
   <td><tt>0685b8e3dd5ba66e23b4c168260d2d3637e2a11b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkgapi-19.11.90.tar.xz">libkgapi-19.11.90</a></td>
   <td align="right">232kB</td>
   <td><tt>e00c8bf7c4a96f7d7c711082743171632cd93ba3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkgeomap-19.11.90.tar.xz">libkgeomap-19.11.90</a></td>
   <td align="right">147kB</td>
   <td><tt>43f44bbaff3aa861952c29d881d68b137e1a730d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkipi-19.11.90.tar.xz">libkipi-19.11.90</a></td>
   <td align="right">101kB</td>
   <td><tt>6d4812b04eee5a76ae49ec99a6b4c171d1397861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkleo-19.11.90.tar.xz">libkleo-19.11.90</a></td>
   <td align="right">336kB</td>
   <td><tt>f09fd4be571c6a319c33f72242f43cfd0264a058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkmahjongg-19.11.90.tar.xz">libkmahjongg-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>ba4be0e47ab6f6ee7aa643486d04135f51468c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libkomparediff2-19.11.90.tar.xz">libkomparediff2-19.11.90</a></td>
   <td align="right">169kB</td>
   <td><tt>4ccbc6dd621753c54b355384a183596619eb3dbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libksane-19.11.90.tar.xz">libksane-19.11.90</a></td>
   <td align="right">135kB</td>
   <td><tt>8df5b448f1ed6aab1d8bbf2150cebf023d97b415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/libksieve-19.11.90.tar.xz">libksieve-19.11.90</a></td>
   <td align="right">539kB</td>
   <td><tt>8cbb8ab7267abe66bfff2c39f11b3cfbba194ec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/lokalize-19.11.90.tar.xz">lokalize-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>ea11a9fd01284256e3f345a246f7534f241b5ac8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/lskat-19.11.90.tar.xz">lskat-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>f28645521d07bce036a98db531e90a917f4d4227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/mailcommon-19.11.90.tar.xz">mailcommon-19.11.90</a></td>
   <td align="right">684kB</td>
   <td><tt>c1b7f1246d7db429aefda3624983da622bfb75ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/mailimporter-19.11.90.tar.xz">mailimporter-19.11.90</a></td>
   <td align="right">527kB</td>
   <td><tt>fd568a8e9947eb4ba8b1843d5536d28ed8edbc4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/marble-19.11.90.tar.xz">marble-19.11.90</a></td>
   <td align="right">49MB</td>
   <td><tt>7d4c2a36d8bd767a5bdfe93bfc2c714e7404d58b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/mbox-importer-19.11.90.tar.xz">mbox-importer-19.11.90</a></td>
   <td align="right">32kB</td>
   <td><tt>96e2b63cd048129dacd7086b436732c7ae06777f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/messagelib-19.11.90.tar.xz">messagelib-19.11.90</a></td>
   <td align="right">9MB</td>
   <td><tt>46dea5285cedf67f0a18800067ed891385adc982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/minuet-19.11.90.tar.xz">minuet-19.11.90</a></td>
   <td align="right">26MB</td>
   <td><tt>0ea99e5c6c4f41438b1a2ea93693388d9d444983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/okular-19.11.90.tar.xz">okular-19.11.90</a></td>
   <td align="right">6MB</td>
   <td><tt>b8694382f971a2692ba49f0a45aa4daeb2446ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/palapeli-19.11.90.tar.xz">palapeli-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>19f3c5c834ba9341c8bba16559f0847ba5cad268</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/parley-19.11.90.tar.xz">parley-19.11.90</a></td>
   <td align="right">8MB</td>
   <td><tt>90eadf3427e3284dd66ddc2cdbbaf47add139e4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/picmi-19.11.90.tar.xz">picmi-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>ab445b495c2a682a83315f5ca1b1dc8c7a9ad634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/pimcommon-19.11.90.tar.xz">pimcommon-19.11.90</a></td>
   <td align="right">288kB</td>
   <td><tt>95896b219ff33153c82681f1889460867f892539</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/pim-data-exporter-19.11.90.tar.xz">pim-data-exporter-19.11.90</a></td>
   <td align="right">199kB</td>
   <td><tt>24d9058335500eb05ec304007aa7b8d09a7f6a81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/pim-sieve-editor-19.11.90.tar.xz">pim-sieve-editor-19.11.90</a></td>
   <td align="right">440kB</td>
   <td><tt>eca353e20e8fda4df044ae66aefb95a65756d84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/poxml-19.11.90.tar.xz">poxml-19.11.90</a></td>
   <td align="right">42kB</td>
   <td><tt>31fe6dd04a09c452f2d8a9cbc5cf7dbc917ee291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/print-manager-19.11.90.tar.xz">print-manager-19.11.90</a></td>
   <td align="right">244kB</td>
   <td><tt>9a8090684098eabac097d591752b3b6e7e10730f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/rocs-19.11.90.tar.xz">rocs-19.11.90</a></td>
   <td align="right">1MB</td>
   <td><tt>51e55dcbc4b8f6a9903cd7e48de189bec13cb80c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/signon-kwallet-extension-19.11.90.tar.xz">signon-kwallet-extension-19.11.90</a></td>
   <td align="right">10kB</td>
   <td><tt>b17c373b52c08154b1b8f20864adb8789dd2cf35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/spectacle-19.11.90.tar.xz">spectacle-19.11.90</a></td>
   <td align="right">915kB</td>
   <td><tt>d8e9743171573eb6fb964392b6f1aecece6c53be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/step-19.11.90.tar.xz">step-19.11.90</a></td>
   <td align="right">861kB</td>
   <td><tt>a17afbf3e02095d104f7e8d0391bdb6b14a0036f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/svgpart-19.11.90.tar.xz">svgpart-19.11.90</a></td>
   <td align="right">20kB</td>
   <td><tt>aa6b10f6056bdc8ab2931069f75c4dcc8d91a06d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/sweeper-19.11.90.tar.xz">sweeper-19.11.90</a></td>
   <td align="right">360kB</td>
   <td><tt>60b3bd46bc4ad299aaecba78a46e24f0cd5f9484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/umbrello-19.11.90.tar.xz">umbrello-19.11.90</a></td>
   <td align="right">3MB</td>
   <td><tt>cc4d86b4d94c6110de1945ba8ad6d9fe08c41cd9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/yakuake-19.11.90.tar.xz">yakuake-19.11.90</a></td>
   <td align="right">363kB</td>
   <td><tt>ca1991e36f690d6a60cb6b6e7bb4a6a21e00057b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/19.11.90/src/zeroconf-ioslave-19.11.90.tar.xz">zeroconf-ioslave-19.11.90</a></td>
   <td align="right">40kB</td>
   <td><tt>0662890046eb50640aba8bcfcacd16c5a69f1973</tt></td>
</tr>

</table>
