<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/bluedevil-5.4.0.tar.xz">bluedevil-5.4.0</a></td>
   <td align="right">123kB</td>
   <td><tt>cc5c10a76ac06732aa98e2beab1c0906d5afeffb3efb220d05b7b9d407f2cd4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/breeze-5.4.0.tar.xz">breeze-5.4.0</a></td>
   <td align="right">34MB</td>
   <td><tt>ad20ed013e789da2f434fa8c5d81e2d6775c9494b7a70b955deb5fff104aade2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kde-cli-tools-5.4.0.tar.xz">kde-cli-tools-5.4.0</a></td>
   <td align="right">473kB</td>
   <td><tt>f01bd52809e31b3239cb77e408d85bd8ad1b0544ddf0ff78fd9fac74e92a5d0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kdecoration-5.4.0.tar.xz">kdecoration-5.4.0</a></td>
   <td align="right">32kB</td>
   <td><tt>924f61e6a1191902622141ada6548cf44922d62fdd1b9b8d5277db456cf3b153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kde-gtk-config-5.4.0.tar.xz">kde-gtk-config-5.4.0</a></td>
   <td align="right">140kB</td>
   <td><tt>7f7dbb8297bf94816d34ba7e8422788148b696f2332e9b8d850baec9d9a1e1e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kdeplasma-addons-5.4.0.tar.xz">kdeplasma-addons-5.4.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>46a8e31f4feb9b94ca5e4438369cc4cc4d86ef9535c55e9820b07e0f9f322fd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kgamma5-5.4.0.tar.xz">kgamma5-5.4.0</a></td>
   <td align="right">57kB</td>
   <td><tt>1d937f86c4cb8d3ac7d2a47dbb7cf88d55743be1d172e6f5eeac907926aa50e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/khelpcenter-5.4.0.tar.xz">khelpcenter-5.4.0</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8f4431198efe0ceded634b3b98ba744a6b315431a25be01b9e66d3fd84447e57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/khotkeys-5.4.0.tar.xz">khotkeys-5.4.0</a></td>
   <td align="right">593kB</td>
   <td><tt>e6a81b49b92189a01ce3204be1d5302abf676629dd7e8fb42f0ce5b9fead716e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kinfocenter-5.4.0.tar.xz">kinfocenter-5.4.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>cb7af02fc44de84b0373b798bbfe7df983f6713d0a793653f72db8457413bb66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kmenuedit-5.4.0.tar.xz">kmenuedit-5.4.0</a></td>
   <td align="right">431kB</td>
   <td><tt>d82263c69e9b7160d87fcf7ce598e1481a5b3b53ab8149fc82d933b131dd6e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kscreen-5.4.0.tar.xz">kscreen-5.4.0</a></td>
   <td align="right">97kB</td>
   <td><tt>a587ef8c827f8b741f9d2414c8fe04ad3d5863aef36c5b0a6680f965341b5b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/ksshaskpass-5.4.0.tar.xz">ksshaskpass-5.4.0</a></td>
   <td align="right">18kB</td>
   <td><tt>5379415c581ec8cba356d1b18549b127096d30dfe685556389752f8fe2b802c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/ksysguard-5.4.0.tar.xz">ksysguard-5.4.0</a></td>
   <td align="right">469kB</td>
   <td><tt>ae380bd85d7677fb7ca31250e31d6b533c44341752377b72872ef5efb6e2009c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kwallet-pam-5.4.0.tar.xz">kwallet-pam-5.4.0</a></td>
   <td align="right">15kB</td>
   <td><tt>2c32c7e471f802ac959ad5f24279f2583f79e82944411ec18c26a08f1e94b1bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kwayland-5.4.0.tar.xz">kwayland-5.4.0</a></td>
   <td align="right">109kB</td>
   <td><tt>7730e8f2bc77172a89987c4ec59de6e8bb454cb1524beac53a9b19ee7f09447b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kwayland-integration-5.4.0.tar.xz">kwayland-integration-5.4.0</a></td>
   <td align="right">13kB</td>
   <td><tt>86d400b4b0268ca6592f4eb0d0460d1dc47caea35fc6dcf74a2663ff9ff26d66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kwin-5.4.0.tar.xz">kwin-5.4.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>81f0caced49288f38ef1b34f70d4f62f4f261bdf57f6875631ec1017cfd6c7d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/kwrited-5.4.0.tar.xz">kwrited-5.4.0</a></td>
   <td align="right">19kB</td>
   <td><tt>7a2ccd8e2d2ba8625c3d25132027248536aaead3249c741d87ac9bbc3c098ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/libkscreen-5.4.0.tar.xz">libkscreen-5.4.0</a></td>
   <td align="right">70kB</td>
   <td><tt>927af891cef0849f8a7a6012c017f2272fb715d87d3311605aacd3416d8d40e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/libksysguard-5.4.0.tar.xz">libksysguard-5.4.0</a></td>
   <td align="right">548kB</td>
   <td><tt>08fe41edd2b918e0fc02cc455df30f31211d851c04954232b61fb2340c65efa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/milou-5.4.0.tar.xz">milou-5.4.0</a></td>
   <td align="right">49kB</td>
   <td><tt>01df5524bf57eb6869f7fbb793fe29d9379ee30dc4300d168aaa1527bd7bf152</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/muon-5.4.0.tar.xz">muon-5.4.0</a></td>
   <td align="right">992kB</td>
   <td><tt>e4b36bb70ea5d051f63b52d313a91e0f843423b61c4f345e8d6895f7530ceff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/oxygen-5.4.0.tar.xz">oxygen-5.4.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>de5e0ee8491db19c4483936499d6130757336b8d82de2c929781cdc684853efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/oxygen-fonts-5.4.0.tar.xz">oxygen-fonts-5.4.0</a></td>
   <td align="right">157kB</td>
   <td><tt>00d808f9f5109d1ed81f45ae32f2cd2d56318e97edca730a32ce0281ec5c2f98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-desktop-5.4.0.tar.xz">plasma-desktop-5.4.0</a></td>
   <td align="right">5.9MB</td>
   <td><tt>21e2f2651cf0e63ddebec38f3c490a38cf7606de9ef978ed9bad148c5c659160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-mediacenter-5.4.0.tar.xz">plasma-mediacenter-5.4.0</a></td>
   <td align="right">154kB</td>
   <td><tt>62dfd4de58c56629ffb00ef7dea173c482bc3263039d9ae46c1201427e1b5a8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-nm-5.4.0.tar.xz">plasma-nm-5.4.0</a></td>
   <td align="right">534kB</td>
   <td><tt>127b4eb083f1ca65fdc35a1f3d5db0549a49c85cdc1a0b81375863956cdb8194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-pa-5.4.0.tar.xz">plasma-pa-5.4.0</a></td>
   <td align="right">34kB</td>
   <td><tt>6d2a74021cb914fbdb2206779bdc8c74406a40e5bf26c70f8c724e7e0dfe04d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-sdk-5.4.0.tar.xz">plasma-sdk-5.4.0</a></td>
   <td align="right">630kB</td>
   <td><tt>b24fe640b497adccfeb4d7b151b4bd6187ade62085638d8c9a9e1976c22eb2bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-workspace-5.4.0.tar.xz">plasma-workspace-5.4.0</a></td>
   <td align="right">6.6MB</td>
   <td><tt>102e06f9d8c1f2be18aefe009c8d66fa99a1d986f392474490fe37d4d1f3993f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/plasma-workspace-wallpapers-5.4.0.tar.xz">plasma-workspace-wallpapers-5.4.0</a></td>
   <td align="right">48MB</td>
   <td><tt>71a67a759b670b46d3ba34d3d77df4fc30b635ca88121bd9935596364294120c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/polkit-kde-agent-1-5.4.0.tar.xz">polkit-kde-agent-1-5.4.0</a></td>
   <td align="right">38kB</td>
   <td><tt>829b1019f3adde20d62ada5e64d7d265064c36d37cd09b7938a70b3e661225a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/powerdevil-5.4.0.tar.xz">powerdevil-5.4.0</a></td>
   <td align="right">338kB</td>
   <td><tt>81b8bbcee694c4e1cf54cd342cfec9086a8b7dbed9eafd616ef401344c24bb83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/sddm-kcm-5.4.0.tar.xz">sddm-kcm-5.4.0</a></td>
   <td align="right">46kB</td>
   <td><tt>9d13c94b5fff2d66c07ba0b9e4d904bbaa058c5d2fab347e68773d22a6700f27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/systemsettings-5.4.0.tar.xz">systemsettings-5.4.0</a></td>
   <td align="right">153kB</td>
   <td><tt>b571b9eaba94333c36e71bcdf13139e5ea2f251f6fa1ce86ebd36b9158060313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.4.0/user-manager-5.4.0.tar.xz">user-manager-5.4.0</a></td>
   <td align="right">53kB</td>
   <td><tt>6e3222db51811209064232f978b7d9facf33b9e3cd86b1372f80bd1f4333119a</tt></td>
</tr>

</table>
