<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-16.08.1.tar.xz">akonadi-16.08.1</a></td>
   <td align="right">997kB</td>
   <td><tt>3015cb948fac87bd0644a7b812f52ff9c5b43973</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-calendar-16.08.1.tar.xz">akonadi-calendar-16.08.1</a></td>
   <td align="right">112kB</td>
   <td><tt>86f21f1617d1e0e0705a1e76c3090170390e0630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-contacts-16.08.1.tar.xz">akonadi-contacts-16.08.1</a></td>
   <td align="right">145kB</td>
   <td><tt>7535487afff0f811a662b484df73eb956c0af1b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-mime-16.08.1.tar.xz">akonadi-mime-16.08.1</a></td>
   <td align="right">54kB</td>
   <td><tt>1ccb85e546ad475bc97eb3242c033ec7c1d7c0b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-notes-16.08.1.tar.xz">akonadi-notes-16.08.1</a></td>
   <td align="right">18kB</td>
   <td><tt>9cf674706757b8f09a64bcae93d152b42b064d51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/akonadi-search-16.08.1.tar.xz">akonadi-search-16.08.1</a></td>
   <td align="right">69kB</td>
   <td><tt>f8fe17b8d6838ea758b287e9dc2845e12cc04b8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/analitza-16.08.1.tar.xz">analitza-16.08.1</a></td>
   <td align="right">229kB</td>
   <td><tt>caf4e29e6cc8b614f30538c5e8ec4f3c69ecf7de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ark-16.08.1.tar.xz">ark-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>88430fb3c6986e6f47e3babd8f9a168ca23f957a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/artikulate-16.08.1.tar.xz">artikulate-16.08.1</a></td>
   <td align="right">3.4MB</td>
   <td><tt>a773ceb87a3327240646488f8e19fb024adefbfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/audiocd-kio-16.08.1.tar.xz">audiocd-kio-16.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>92426197a47c69d828a986a0d39475c0c0a8409b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/baloo-widgets-16.08.1.tar.xz">baloo-widgets-16.08.1</a></td>
   <td align="right">55kB</td>
   <td><tt>6f1237d8eb46cc54b92232acd7935a6c1108dd65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/blinken-16.08.1.tar.xz">blinken-16.08.1</a></td>
   <td align="right">549kB</td>
   <td><tt>0e4699a94f2d02ee7947f83cf77441afa3ea6604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/bomber-16.08.1.tar.xz">bomber-16.08.1</a></td>
   <td align="right">698kB</td>
   <td><tt>e850ba21533912849d4466f38e6430448e5e72f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/bovo-16.08.1.tar.xz">bovo-16.08.1</a></td>
   <td align="right">135kB</td>
   <td><tt>64c1772cb6e47995238e960f920ce32377c3f554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/calendarsupport-16.08.1.tar.xz">calendarsupport-16.08.1</a></td>
   <td align="right">97kB</td>
   <td><tt>af5aedcedcdca32f7c2f2df9ad7e1d79557cd13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/cantor-16.08.1.tar.xz">cantor-16.08.1</a></td>
   <td align="right">352kB</td>
   <td><tt>50cd2456b5267863d7ebe6ce703b5a1465c94c0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/cervisia-16.08.1.tar.xz">cervisia-16.08.1</a></td>
   <td align="right">449kB</td>
   <td><tt>001d5b1ce2c639bda86afd6d6f402ce2616a75cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/dolphin-16.08.1.tar.xz">dolphin-16.08.1</a></td>
   <td align="right">659kB</td>
   <td><tt>779e54e88c278b7c34f31308a1a27aa03facdd0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/dolphin-plugins-16.08.1.tar.xz">dolphin-plugins-16.08.1</a></td>
   <td align="right">59kB</td>
   <td><tt>1a1231612d359995733bb08871ac291ce8250a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/dragon-16.08.1.tar.xz">dragon-16.08.1</a></td>
   <td align="right">467kB</td>
   <td><tt>d9dd4d8fc99dbfe9a2797ea36ee398848c2b86e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/eventviews-16.08.1.tar.xz">eventviews-16.08.1</a></td>
   <td align="right">143kB</td>
   <td><tt>a54472cb56a899bb604fa8de5718602f7214104f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ffmpegthumbs-16.08.1.tar.xz">ffmpegthumbs-16.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>5ce8e2d5f6dbfd7dbb529a4f7b195207c578bb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/filelight-16.08.1.tar.xz">filelight-16.08.1</a></td>
   <td align="right">207kB</td>
   <td><tt>4bda934d4b4db7cd6d890bc94302e01465f4d1a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/gpgmepp-16.08.1.tar.xz">gpgmepp-16.08.1</a></td>
   <td align="right">66kB</td>
   <td><tt>09f42c590b55d330605c8ff6b2a7c860a2e19d63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/granatier-16.08.1.tar.xz">granatier-16.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>468e2138613cf6e1f2185ee109570c9122b96106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/grantleetheme-16.08.1.tar.xz">grantleetheme-16.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>6625a87ad886e7ec584dc82345747fc3ee2a117a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/gwenview-16.08.1.tar.xz">gwenview-16.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>33e91d2e3121b4bda2d6ee8cc55ebd02abafd444</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/incidenceeditor-16.08.1.tar.xz">incidenceeditor-16.08.1</a></td>
   <td align="right">118kB</td>
   <td><tt>9dc07c579ef707f2a11170d0ec70a2f8a4324aab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/jovie-16.08.1.tar.xz">jovie-16.08.1</a></td>
   <td align="right">384kB</td>
   <td><tt>728143683be2b2ba6e3d6265cf73815a9a24aab7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/juk-16.08.1.tar.xz">juk-16.08.1</a></td>
   <td align="right">435kB</td>
   <td><tt>08f58384db9f504847a65356172ad3fd7ec19703</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kaccessible-16.08.1.tar.xz">kaccessible-16.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>09c182920a793396899e638388752d4e9564ec2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kaccounts-integration-16.08.1.tar.xz">kaccounts-integration-16.08.1</a></td>
   <td align="right">45kB</td>
   <td><tt>3b4bc6d9c2480b0988f85365d907d9093a5c24c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kaccounts-providers-16.08.1.tar.xz">kaccounts-providers-16.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>ec18c75634092036671df559272196b712dc9232</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kajongg-16.08.1.tar.xz">kajongg-16.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d4322730d643d888b8d88d41f4c3be5f60ffc811</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kalarmcal-16.08.1.tar.xz">kalarmcal-16.08.1</a></td>
   <td align="right">85kB</td>
   <td><tt>f9ca69436ecb1368ec1902f434f12296530b93d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kalgebra-16.08.1.tar.xz">kalgebra-16.08.1</a></td>
   <td align="right">316kB</td>
   <td><tt>009bcca2ba7ad4fe855c57de715fca51d50ea5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kalzium-16.08.1.tar.xz">kalzium-16.08.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>bad75e9f785526f62d223e950f6d71fbc90fcca9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kamera-16.08.1.tar.xz">kamera-16.08.1</a></td>
   <td align="right">36kB</td>
   <td><tt>1f88fc02dba88f70f698206482f9774c94d754de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kanagram-16.08.1.tar.xz">kanagram-16.08.1</a></td>
   <td align="right">5.2MB</td>
   <td><tt>ac860cfc1972880cf0b5874359797535515ead67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kapman-16.08.1.tar.xz">kapman-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>dae48223d5d62fa165d56ca3ba5d0b4e89a5f81e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kapptemplate-16.08.1.tar.xz">kapptemplate-16.08.1</a></td>
   <td align="right">390kB</td>
   <td><tt>a047e0016dcde2e323104e346d94c195a93a9aca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kate-16.08.1.tar.xz">kate-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b513acb03e8af98f27816704fb5fa86139c64e53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/katomic-16.08.1.tar.xz">katomic-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8aa9e948e5218a19d354b819d2eea329b2eb86dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kblackbox-16.08.1.tar.xz">kblackbox-16.08.1</a></td>
   <td align="right">217kB</td>
   <td><tt>f6901bb0da49b3b50bda4fe5e6c72075115ee79c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kblocks-16.08.1.tar.xz">kblocks-16.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>fc8716e65cc37b69cfde5c19a195042bd1696166</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kblog-16.08.1.tar.xz">kblog-16.08.1</a></td>
   <td align="right">42kB</td>
   <td><tt>e945659b02cb24f82cb223922e631d534e09fd8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kbounce-16.08.1.tar.xz">kbounce-16.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e7ff6242a35f662cf2be3d3ac2c688226a5f54ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kbreakout-16.08.1.tar.xz">kbreakout-16.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>bb964973de24f7467c49d5f99d67629e32f3fc4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kbruch-16.08.1.tar.xz">kbruch-16.08.1</a></td>
   <td align="right">700kB</td>
   <td><tt>e92f989a364f65d90ee1f6c0f261b88b33d519dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcachegrind-16.08.1.tar.xz">kcachegrind-16.08.1</a></td>
   <td align="right">233kB</td>
   <td><tt>eff6f167e5bb8a1b215fefcf5ccfab8e5900fc53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcalc-16.08.1.tar.xz">kcalc-16.08.1</a></td>
   <td align="right">81kB</td>
   <td><tt>55723e79a4651c2a9f2ab89a790b976e1fae5aaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcalcore-16.08.1.tar.xz">kcalcore-16.08.1</a></td>
   <td align="right">288kB</td>
   <td><tt>db0cf54172464adc8069415bb3d3b56dc304db32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcalutils-16.08.1.tar.xz">kcalutils-16.08.1</a></td>
   <td align="right">92kB</td>
   <td><tt>4784f8adca9188e22d9fa35fb3c0e2971b06867a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcharselect-16.08.1.tar.xz">kcharselect-16.08.1</a></td>
   <td align="right">90kB</td>
   <td><tt>1b179d0c859920ca4712456212b964071b1ba8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcolorchooser-16.08.1.tar.xz">kcolorchooser-16.08.1</a></td>
   <td align="right">4kB</td>
   <td><tt>ed629c571491ef28f15f85c16d1077e045b538bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcontacts-16.08.1.tar.xz">kcontacts-16.08.1</a></td>
   <td align="right">141kB</td>
   <td><tt>c0ae412d074f89d2a4d5f853741bbc4fd46384af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kcron-16.08.1.tar.xz">kcron-16.08.1</a></td>
   <td align="right">136kB</td>
   <td><tt>3114983765e091258f79ab835bbde115b33e57ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-baseapps-16.08.1.tar.xz">kde-baseapps-16.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a9564b4325f1287b2d0c8b158cecbdb5aa60f6d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdebugsettings-16.08.1.tar.xz">kdebugsettings-16.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>c4726eaade3baf92dcac03b660f7204ad48c3feb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-dev-scripts-16.08.1.tar.xz">kde-dev-scripts-16.08.1</a></td>
   <td align="right">303kB</td>
   <td><tt>f40361f8ac17c35f6a4d3d03b993ac62e56a16a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-dev-utils-16.08.1.tar.xz">kde-dev-utils-16.08.1</a></td>
   <td align="right">50kB</td>
   <td><tt>412066d78f0ae02e1d3085599b0b2c2c151c13c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdeedu-data-16.08.1.tar.xz">kdeedu-data-16.08.1</a></td>
   <td align="right">94kB</td>
   <td><tt>5502c102a85a7dc1bd9555cc0726185418aeb6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdegraphics-mobipocket-16.08.1.tar.xz">kdegraphics-mobipocket-16.08.1</a></td>
   <td align="right">14kB</td>
   <td><tt>8697f7d678762a9ec1e2d0527bd81eb3189659e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdegraphics-thumbnailers-16.08.1.tar.xz">kdegraphics-thumbnailers-16.08.1</a></td>
   <td align="right">40kB</td>
   <td><tt>2d3a43bfaabf888ea23353662bb178b3767b6093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdelibs-4.14.24.tar.xz">kdelibs-4.14.24</a></td>
   <td align="right">11MB</td>
   <td><tt>1ce08be17b5c55a1b8427ce859d1b897c6dc4bc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdenetwork-filesharing-16.08.1.tar.xz">kdenetwork-filesharing-16.08.1</a></td>
   <td align="right">27kB</td>
   <td><tt>5f614b8b6ca89824efe1a57d4d0145e2d19010be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdenlive-16.08.1.tar.xz">kdenlive-16.08.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>918f4ce572b07e00f5577a4c5e8b147882e33a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdepim-16.08.1.tar.xz">kdepim-16.08.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>579ae9ab2910b3a786702916ac1bc736bbe23cd6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdepim-addons-16.08.1.tar.xz">kdepim-addons-16.08.1</a></td>
   <td align="right">277kB</td>
   <td><tt>7a8565c439f84ccf33423ab69e782d9f4d600421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdepim-apps-libs-16.08.1.tar.xz">kdepim-apps-libs-16.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>c373a349c34be4e949efdf4ef26382130260dba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdepim-runtime-16.08.1.tar.xz">kdepim-runtime-16.08.1</a></td>
   <td align="right">720kB</td>
   <td><tt>dca69934f85f06fd3f06b4bd1f75e233e5e4d027</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-runtime-16.08.1.tar.xz">kde-runtime-16.08.1</a></td>
   <td align="right">7.5MB</td>
   <td><tt>b8efb2ac75126bd065ecb475ed0ba1a7342920e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdesdk-kioslaves-16.08.1.tar.xz">kdesdk-kioslaves-16.08.1</a></td>
   <td align="right">352kB</td>
   <td><tt>f4a9f19b5e4099a7656e775a2d45c411a4787114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdesdk-thumbnailers-16.08.1.tar.xz">kdesdk-thumbnailers-16.08.1</a></td>
   <td align="right">11kB</td>
   <td><tt>9a967a51a3512493429268e4bc499cf780d35b0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdewebdev-16.08.1.tar.xz">kdewebdev-16.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6c443101f7a5386677b1e21848c7e920a38a3f84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdf-16.08.1.tar.xz">kdf-16.08.1</a></td>
   <td align="right">140kB</td>
   <td><tt>16fc2a6ddd0f6769c16c6df6e72fd2fdbdf2ee30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdgantt2-16.08.1.tar.xz">kdgantt2-16.08.1</a></td>
   <td align="right">53kB</td>
   <td><tt>3b9172667dcee40ab2db4de27511c678a9744388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kdiamond-16.08.1.tar.xz">kdiamond-16.08.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>c32ce96358189eb4156082d337640d28b2ffa9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kfloppy-16.08.1.tar.xz">kfloppy-16.08.1</a></td>
   <td align="right">52kB</td>
   <td><tt>50be05bdd17882010296b16f8c812b74b94673ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kfourinline-16.08.1.tar.xz">kfourinline-16.08.1</a></td>
   <td align="right">449kB</td>
   <td><tt>fa961fa878a56f77ffc9c1300b4cf0fb853366b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kgeography-16.08.1.tar.xz">kgeography-16.08.1</a></td>
   <td align="right">6.4MB</td>
   <td><tt>877459839f05caba7bf861760cb9d3183b9c0f99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kget-16.08.1.tar.xz">kget-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>65b8d6bc9e924b20913e0166f4eb8bcf71217881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kgoldrunner-16.08.1.tar.xz">kgoldrunner-16.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5ba3566a0f5b64545b790421544dd99f47732aa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kgpg-16.08.1.tar.xz">kgpg-16.08.1</a></td>
   <td align="right">791kB</td>
   <td><tt>cae9987167abd71996eba102094da18034835d8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/khangman-16.08.1.tar.xz">khangman-16.08.1</a></td>
   <td align="right">4.0MB</td>
   <td><tt>4b58f2a7fd479e53f5c9b1ea4f1f2c6579d836fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/khelpcenter-16.08.1.tar.xz">khelpcenter-16.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>97687acbe9320a7479079761e14c855840336e01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kholidays-16.08.1.tar.xz">kholidays-16.08.1</a></td>
   <td align="right">171kB</td>
   <td><tt>718399ea9563e9aa745e627c9e758af42d40ab92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kidentitymanagement-16.08.1.tar.xz">kidentitymanagement-16.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>3de79ffe0205b92110021420e7e324ce75d40c6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kig-16.08.1.tar.xz">kig-16.08.1</a></td>
   <td align="right">1.4MB</td>
   <td><tt>efd0d2f4e1b056698aefc97eb9924f194b663058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kigo-16.08.1.tar.xz">kigo-16.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>a9f8cb3d3d6a573133e2925b1566d6ccedb23644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/killbots-16.08.1.tar.xz">killbots-16.08.1</a></td>
   <td align="right">940kB</td>
   <td><tt>144e3b895a805074e09834bf152f6f955d41c56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kimap-16.08.1.tar.xz">kimap-16.08.1</a></td>
   <td align="right">89kB</td>
   <td><tt>da2fa3e65239b3314955b8e58a7916f40f3282d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kio-extras-16.08.1.tar.xz">kio-extras-16.08.1</a></td>
   <td align="right">271kB</td>
   <td><tt>d8e16775fbcf126606b7a771eafbee2cd9abff47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kiriki-16.08.1.tar.xz">kiriki-16.08.1</a></td>
   <td align="right">252kB</td>
   <td><tt>7b514d6e2543eba8a8c74c0c9078c2aeb0eef428</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kiten-16.08.1.tar.xz">kiten-16.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>e804a4246f4ffd4619ec6a072dfae7ad9cb5e306</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kjumpingcube-16.08.1.tar.xz">kjumpingcube-16.08.1</a></td>
   <td align="right">132kB</td>
   <td><tt>c2ac8dbb20a2573dc7c1333d84e9849b6be464d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kldap-16.08.1.tar.xz">kldap-16.08.1</a></td>
   <td align="right">58kB</td>
   <td><tt>76b8df9e273871d94800ccedef4fd920433d8a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kleopatra-16.08.1.tar.xz">kleopatra-16.08.1</a></td>
   <td align="right">714kB</td>
   <td><tt>e3b9e99beadc74add9172971be7a9a448f14e299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/klettres-16.08.1.tar.xz">klettres-16.08.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>1b0cba4148d8702223c3e96a6b9d10fd4cd0b93b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/klickety-16.08.1.tar.xz">klickety-16.08.1</a></td>
   <td align="right">649kB</td>
   <td><tt>6647fcde143756129ac0bc6e24a3aa7375fe7f8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/klines-16.08.1.tar.xz">klines-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>818fa6b9209b49142b448495e619b88ed3750e0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmag-16.08.1.tar.xz">kmag-16.08.1</a></td>
   <td align="right">84kB</td>
   <td><tt>c2a5784b4617333033445db2848c5166592bea32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmahjongg-16.08.1.tar.xz">kmahjongg-16.08.1</a></td>
   <td align="right">988kB</td>
   <td><tt>a1c7ce22a05c42be63c4df81f1c34c18ebf3f948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmailtransport-16.08.1.tar.xz">kmailtransport-16.08.1</a></td>
   <td align="right">88kB</td>
   <td><tt>8ded7f0d1edde067e4e22c9804f0ddc0ac822684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmbox-16.08.1.tar.xz">kmbox-16.08.1</a></td>
   <td align="right">23kB</td>
   <td><tt>b40d7aab3b4a953d953e2204a2f8d527a6ecbd6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmime-16.08.1.tar.xz">kmime-16.08.1</a></td>
   <td align="right">119kB</td>
   <td><tt>e2ae0068e302aeda8b6225c41d2f4f629177eac6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmines-16.08.1.tar.xz">kmines-16.08.1</a></td>
   <td align="right">646kB</td>
   <td><tt>94170aef9a7e2f10e9b2cdee2507bb12e75d58c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmix-16.08.1.tar.xz">kmix-16.08.1</a></td>
   <td align="right">380kB</td>
   <td><tt>58daa2d03df3d313567ab40c8456a36812213273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmousetool-16.08.1.tar.xz">kmousetool-16.08.1</a></td>
   <td align="right">35kB</td>
   <td><tt>762427b98fd8db23202d891d0358de13e5f07fe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmouth-16.08.1.tar.xz">kmouth-16.08.1</a></td>
   <td align="right">270kB</td>
   <td><tt>6ea21e0198eb733c814ed4b780cf590c678c31bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kmplot-16.08.1.tar.xz">kmplot-16.08.1</a></td>
   <td align="right">558kB</td>
   <td><tt>03d666950cf3a29434453c4dc4b0bb6132b57e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/knavalbattle-16.08.1.tar.xz">knavalbattle-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f1b1a7dcd53046504f02654a6179a9fea4c30629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/knetwalk-16.08.1.tar.xz">knetwalk-16.08.1</a></td>
   <td align="right">884kB</td>
   <td><tt>a0ba9dff5116bba883e68b4e1e1ab7884cbbc6dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kolf-16.08.1.tar.xz">kolf-16.08.1</a></td>
   <td align="right">749kB</td>
   <td><tt>db77bab72dfc444206b06098065d842f597e7b80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kollision-16.08.1.tar.xz">kollision-16.08.1</a></td>
   <td align="right">221kB</td>
   <td><tt>1ecda3335a5fe8243fb2f06e7adfa6e90ddbb452</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kolourpaint-16.08.1.tar.xz">kolourpaint-16.08.1</a></td>
   <td align="right">1.1MB</td>
   <td><tt>10a6be126395fd2a6d54afdb7b43e7317787e311</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kompare-16.08.1.tar.xz">kompare-16.08.1</a></td>
   <td align="right">231kB</td>
   <td><tt>44ca0edc19db9f3c888b39e13f9630406c1e4f31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/konquest-16.08.1.tar.xz">konquest-16.08.1</a></td>
   <td align="right">396kB</td>
   <td><tt>3e3d8cf1ed0420ef3c6b86c2a3fc0381c5efa6aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/konsole-16.08.1.tar.xz">konsole-16.08.1</a></td>
   <td align="right">453kB</td>
   <td><tt>5b98c6b08731a66561bf83248ed0951aaad93d3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kontactinterface-16.08.1.tar.xz">kontactinterface-16.08.1</a></td>
   <td align="right">24kB</td>
   <td><tt>bcb7fa74045242f2496d618cdbf5b37e0b784249</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kopete-16.08.1.tar.xz">kopete-16.08.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6f3fd40ab617a2b57e587e7376a246229921b845</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kpat-16.08.1.tar.xz">kpat-16.08.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>d2fb94c4c63f3eb8f198dff4dfbf1e8f94f59e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kpimtextedit-16.08.1.tar.xz">kpimtextedit-16.08.1</a></td>
   <td align="right">76kB</td>
   <td><tt>4d8a2a284e372c3d20c76fb0097bf682c05fa8cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kppp-16.08.1.tar.xz">kppp-16.08.1</a></td>
   <td align="right">683kB</td>
   <td><tt>75afd5d353f23b048f5f505adae5aecf41082396</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kqtquickcharts-16.08.1.tar.xz">kqtquickcharts-16.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>24e58305d3e290fe3812028df540482544daf9fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/krdc-16.08.1.tar.xz">krdc-16.08.1</a></td>
   <td align="right">284kB</td>
   <td><tt>7238dd810527edaeba4583f509a5f59cfdbbb7a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kremotecontrol-16.08.1.tar.xz">kremotecontrol-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8a0f9e1e368f52960899527c3d9912830379b210</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kreversi-16.08.1.tar.xz">kreversi-16.08.1</a></td>
   <td align="right">464kB</td>
   <td><tt>974ff31e03d8234977dc33a6b1ef3142a8a204e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/krfb-16.08.1.tar.xz">krfb-16.08.1</a></td>
   <td align="right">317kB</td>
   <td><tt>d798eb5976103890a44a0d636c7e00e5fbecee90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kross-interpreters-16.08.1.tar.xz">kross-interpreters-16.08.1</a></td>
   <td align="right">141kB</td>
   <td><tt>4cec6620ad2b49547bab1c1c834a73537be0a5d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kruler-16.08.1.tar.xz">kruler-16.08.1</a></td>
   <td align="right">120kB</td>
   <td><tt>b0cb5920c6eb6d7a1c2df45497936da0a30d51a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksaneplugin-16.08.1.tar.xz">ksaneplugin-16.08.1</a></td>
   <td align="right">12kB</td>
   <td><tt>3488a46d3735bfb2ff2b0d1430622bf048346955</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kscd-16.08.1.tar.xz">kscd-16.08.1</a></td>
   <td align="right">90kB</td>
   <td><tt>81caec130d7bceae78a89fe4bf009880a7f0a3f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kshisen-16.08.1.tar.xz">kshisen-16.08.1</a></td>
   <td align="right">335kB</td>
   <td><tt>f581c38a397d33fb501c7eb3650a1a649f4fe934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksirk-16.08.1.tar.xz">ksirk-16.08.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>bbf6a77e3773b58bb15e18e40bc8e135843cb803</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksnakeduel-16.08.1.tar.xz">ksnakeduel-16.08.1</a></td>
   <td align="right">291kB</td>
   <td><tt>858f7b19cdcc138ff162f367ce3b67b55365911c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kspaceduel-16.08.1.tar.xz">kspaceduel-16.08.1</a></td>
   <td align="right">247kB</td>
   <td><tt>e1fd1a67f1a147e03b3ae5e15af4f0dc946e2c3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksquares-16.08.1.tar.xz">ksquares-16.08.1</a></td>
   <td align="right">133kB</td>
   <td><tt>98648f89295859943bba2e6e83aeba7fbfd5fa4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kstars-16.08.1.tar.xz">kstars-16.08.1</a></td>
   <td align="right">16MB</td>
   <td><tt>8a994a1432c696222036068453e4f13748c7b3cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksudoku-16.08.1.tar.xz">ksudoku-16.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>20ab762ef533bf002136145984d4a915285e655e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ksystemlog-16.08.1.tar.xz">ksystemlog-16.08.1</a></td>
   <td align="right">342kB</td>
   <td><tt>116797327c065ec917e399fb593a58c4ba27886c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kteatime-16.08.1.tar.xz">kteatime-16.08.1</a></td>
   <td align="right">88kB</td>
   <td><tt>3646bd9528725a145d97829ad4f3f666d7edf3e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktimer-16.08.1.tar.xz">ktimer-16.08.1</a></td>
   <td align="right">157kB</td>
   <td><tt>b5ed99315ad15a27ca28aa90d655987bd9f4323f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktnef-16.08.1.tar.xz">ktnef-16.08.1</a></td>
   <td align="right">227kB</td>
   <td><tt>791575d2229a26aeb1e710b3a24707b698e3fa6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktouch-16.08.1.tar.xz">ktouch-16.08.1</a></td>
   <td align="right">2.3MB</td>
   <td><tt>0c040a262c555bf55b9858c692d023b8fcb5de5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-accounts-kcm-16.08.1.tar.xz">ktp-accounts-kcm-16.08.1</a></td>
   <td align="right">87kB</td>
   <td><tt>82170da3fc83fd0d69a5c3e543b318ee9e87d04c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-approver-16.08.1.tar.xz">ktp-approver-16.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>18b23631f7870feac8eb6c561e77dcd8fe6567fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-auth-handler-16.08.1.tar.xz">ktp-auth-handler-16.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>688ed7c9e7e3ae1902a1602a4f47cda2b8f8d9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-call-ui-16.08.1.tar.xz">ktp-call-ui-16.08.1</a></td>
   <td align="right">44kB</td>
   <td><tt>0caf866420bc6fd855b9d04c0d8901f3f3b4de2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-common-internals-16.08.1.tar.xz">ktp-common-internals-16.08.1</a></td>
   <td align="right">309kB</td>
   <td><tt>6ac704e96551f129b3092e2a769076ec1a0770af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-contact-list-16.08.1.tar.xz">ktp-contact-list-16.08.1</a></td>
   <td align="right">47kB</td>
   <td><tt>6dd0ac70e15f64dca8198a31c246e326fcdd76d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-contact-runner-16.08.1.tar.xz">ktp-contact-runner-16.08.1</a></td>
   <td align="right">16kB</td>
   <td><tt>85a44068b13648afb47276f3d91ad7fb53f5a4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-desktop-applets-16.08.1.tar.xz">ktp-desktop-applets-16.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>3f1496c822ec0cd1501df6f3da5938874d827b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-filetransfer-handler-16.08.1.tar.xz">ktp-filetransfer-handler-16.08.1</a></td>
   <td align="right">22kB</td>
   <td><tt>3c2f4c727347a83d7f70abea80b17a8988ff709d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-kded-module-16.08.1.tar.xz">ktp-kded-module-16.08.1</a></td>
   <td align="right">37kB</td>
   <td><tt>ee55d0335b5fe2e2e6e0df693a3bec18abfe397a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-send-file-16.08.1.tar.xz">ktp-send-file-16.08.1</a></td>
   <td align="right">14kB</td>
   <td><tt>0be59e2bc29409f692a190f6b47f2e89eb0322e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktp-text-ui-16.08.1.tar.xz">ktp-text-ui-16.08.1</a></td>
   <td align="right">287kB</td>
   <td><tt>79c08ec0a97436562e5240eff5c2a7c9d7dfb868</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/ktuberling-16.08.1.tar.xz">ktuberling-16.08.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>6f4a7061f7696316f7f37a4751440535e24337c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kturtle-16.08.1.tar.xz">kturtle-16.08.1</a></td>
   <td align="right">189kB</td>
   <td><tt>1a2bba185e7d75bfc6f065cb42b9a4faf95b3041</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kubrick-16.08.1.tar.xz">kubrick-16.08.1</a></td>
   <td align="right">104kB</td>
   <td><tt>14921ba120213a208d6844cd5ef37f99cadd32fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kuser-16.08.1.tar.xz">kuser-16.08.1</a></td>
   <td align="right">132kB</td>
   <td><tt>5863ff3ca96261c5a9a580dae73b133e1fbfaa15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kwalletmanager-16.08.1.tar.xz">kwalletmanager-16.08.1</a></td>
   <td align="right">447kB</td>
   <td><tt>8ccd77a782906c27413ce34794c2e2f4bb0e2cb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kwordquiz-16.08.1.tar.xz">kwordquiz-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>dd3dd13e442b5a8f48a561b384619b796d472b65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libgravatar-16.08.1.tar.xz">libgravatar-16.08.1</a></td>
   <td align="right">20kB</td>
   <td><tt>c5a27d39bd352103ac4360738904d53c7b0cbb9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkcddb-16.08.1.tar.xz">libkcddb-16.08.1</a></td>
   <td align="right">154kB</td>
   <td><tt>b67d09859657ec89362937348e0c384715e3796c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkcompactdisc-16.08.1.tar.xz">libkcompactdisc-16.08.1</a></td>
   <td align="right">74kB</td>
   <td><tt>075dbb80b5717c6d00a50fd9905dd7b26a6156e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkdcraw-16.08.1.tar.xz">libkdcraw-16.08.1</a></td>
   <td align="right">41kB</td>
   <td><tt>23bfbe8af13aad445c18890c93281ca7fa563dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkdegames-16.08.1.tar.xz">libkdegames-16.08.1</a></td>
   <td align="right">5.5MB</td>
   <td><tt>422d4e9ca5a9a9aee926017e415e617884bb633e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkdepim-16.08.1.tar.xz">libkdepim-16.08.1</a></td>
   <td align="right">111kB</td>
   <td><tt>699b698934e5ff4cd4cd28067335373de729a8d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkeduvocdocument-16.08.1.tar.xz">libkeduvocdocument-16.08.1</a></td>
   <td align="right">89kB</td>
   <td><tt>8f830529941ffd67c0e1cb09497c2df93d41ef93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkexiv2-16.08.1.tar.xz">libkexiv2-16.08.1</a></td>
   <td align="right">63kB</td>
   <td><tt>6d67dd54e84c175fd2e00c5f03d5e76e7ab49643</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkface-16.08.1.tar.xz">libkface-16.08.1</a></td>
   <td align="right">8.5MB</td>
   <td><tt>c72e0d4446e4fa7b23c2b065e4785b13aa629376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkgeomap-16.08.1.tar.xz">libkgeomap-16.08.1</a></td>
   <td align="right">122kB</td>
   <td><tt>c715962b9375df993df16442f48a59d1b1664e07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkipi-16.08.1.tar.xz">libkipi-16.08.1</a></td>
   <td align="right">101kB</td>
   <td><tt>5d8af84c3530ec72da9c315aa2e6fb896f5bd552</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkleo-16.08.1.tar.xz">libkleo-16.08.1</a></td>
   <td align="right">141kB</td>
   <td><tt>80b695f0dd8e27c5fef0bad394526a44e5df3133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkmahjongg-16.08.1.tar.xz">libkmahjongg-16.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7e5489f9551c07aa15293e260962b02e36c3e173</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libkomparediff2-16.08.1.tar.xz">libkomparediff2-16.08.1</a></td>
   <td align="right">55kB</td>
   <td><tt>091cbeecba8bfa629a6b03b3f49bf4847ff29112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libksane-16.08.1.tar.xz">libksane-16.08.1</a></td>
   <td align="right">79kB</td>
   <td><tt>8078f3df0c3087c20453fe31516895cda538bf30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/libksieve-16.08.1.tar.xz">libksieve-16.08.1</a></td>
   <td align="right">163kB</td>
   <td><tt>95b61e224c3e3a2b3eeef37786e15a86feffbcc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/lokalize-16.08.1.tar.xz">lokalize-16.08.1</a></td>
   <td align="right">935kB</td>
   <td><tt>acb360b1613a9656075531759ba6642c3664afa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/lskat-16.08.1.tar.xz">lskat-16.08.1</a></td>
   <td align="right">906kB</td>
   <td><tt>fb6ea110cc68cb6314b70d50bf6aea942fd0eee4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/mailcommon-16.08.1.tar.xz">mailcommon-16.08.1</a></td>
   <td align="right">183kB</td>
   <td><tt>c296ffeb143f24cf8edc27c971682c2d60310332</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/mailimporter-16.08.1.tar.xz">mailimporter-16.08.1</a></td>
   <td align="right">373kB</td>
   <td><tt>9534ddca2b616d5464253492835650a13e402d30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/marble-16.08.1.tar.xz">marble-16.08.1</a></td>
   <td align="right">22MB</td>
   <td><tt>401f77ba69cd6f6f08166628cdc9704e400a27e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/messagelib-16.08.1.tar.xz">messagelib-16.08.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>2ea352179f455647c33b798ff4eb7f1b89ba2c4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/minuet-16.08.1.tar.xz">minuet-16.08.1</a></td>
   <td align="right">25MB</td>
   <td><tt>99fc5dce6611e20d440c94fa81ad5c6ef295c509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/okteta-16.08.1.tar.xz">okteta-16.08.1</a></td>
   <td align="right">494kB</td>
   <td><tt>18913889710fa70217b80dd1c09d62c1c5c0121d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/okular-16.08.1.tar.xz">okular-16.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>0da5ed6704bc6cc1d08826020ebf95cda54eebec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/palapeli-16.08.1.tar.xz">palapeli-16.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>d0ba1e90c1715c931ac5f3b1ffa51f6d2b856a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/parley-16.08.1.tar.xz">parley-16.08.1</a></td>
   <td align="right">4.5MB</td>
   <td><tt>bc98534ffc9c55f582174e17043c374fa4ee3b7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/picmi-16.08.1.tar.xz">picmi-16.08.1</a></td>
   <td align="right">1.0MB</td>
   <td><tt>ba0bcb20401bffaebfbccfc0990a06d7878b8e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/pimcommon-16.08.1.tar.xz">pimcommon-16.08.1</a></td>
   <td align="right">150kB</td>
   <td><tt>c7a0515bb449b3c1c9d72f5dbae423eacf2a355b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/poxml-16.08.1.tar.xz">poxml-16.08.1</a></td>
   <td align="right">31kB</td>
   <td><tt>0eeb7fa345f37afb82ed14f581d2f4b7386f6183</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/print-manager-16.08.1.tar.xz">print-manager-16.08.1</a></td>
   <td align="right">91kB</td>
   <td><tt>1a38bbd4ac00ee1850ec7dd109475439f52aab34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/rocs-16.08.1.tar.xz">rocs-16.08.1</a></td>
   <td align="right">520kB</td>
   <td><tt>47036c84d211bc0026b925c210933d68034ed386</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/signon-kwallet-extension-16.08.1.tar.xz">signon-kwallet-extension-16.08.1</a></td>
   <td align="right">10kB</td>
   <td><tt>009ad39f5b25aaa668b8d8e7a352a20b5ca5b007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/spectacle-16.08.1.tar.xz">spectacle-16.08.1</a></td>
   <td align="right">976kB</td>
   <td><tt>8527b188bd7a8ddad6805ab1ddac585754761b21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/step-16.08.1.tar.xz">step-16.08.1</a></td>
   <td align="right">380kB</td>
   <td><tt>8497166538801c38d8b2821c24c9f991715ca898</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/svgpart-16.08.1.tar.xz">svgpart-16.08.1</a></td>
   <td align="right">8kB</td>
   <td><tt>125ef59af2374929933b29e349dc9811eae0b89d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/sweeper-16.08.1.tar.xz">sweeper-16.08.1</a></td>
   <td align="right">80kB</td>
   <td><tt>32fa5fa86b058b0d6914bdb1db8bf773a291585d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/syndication-16.08.1.tar.xz">syndication-16.08.1</a></td>
   <td align="right">156kB</td>
   <td><tt>0cd03b6e6bb1525dbd0958f07c0b885e7376ad1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/umbrello-16.08.1.tar.xz">umbrello-16.08.1</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e93ffb1bfa36d9d2d11c747a4a616fa3a8ef9e9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/zeroconf-ioslave-16.08.1.tar.xz">zeroconf-ioslave-16.08.1</a></td>
   <td align="right">25kB</td>
   <td><tt>f443b101c5cca7be5eeac344908eb7d6f72f220c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ar-16.08.1.tar.xz">kde-l10n-ar-16.08.1</a></td>
   <td align="right">3.2MB</td>
   <td><tt>77b2cc2944ceb71d4cfb191d004ca5906614d3a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ast-16.08.1.tar.xz">kde-l10n-ast-16.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1021b76375541362bd2bfe0df212554c6b54fc46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-bg-16.08.1.tar.xz">kde-l10n-bg-16.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3ea290bf1bd7cd2fa80d5a982fee7c3f04aa646e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-bs-16.08.1.tar.xz">kde-l10n-bs-16.08.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c0b15e3121efb410f0bc4a8d55b4728f63984759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ca-16.08.1.tar.xz">kde-l10n-ca-16.08.1</a></td>
   <td align="right">14MB</td>
   <td><tt>80b073e02c1b1a4dccf2318bf8e86a5fa735a38a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ca@valencia-16.08.1.tar.xz">kde-l10n-ca@valencia-16.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ebc054ad4ea2f45a2e00d12d89e358100ba8a11a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-cs-16.08.1.tar.xz">kde-l10n-cs-16.08.1</a></td>
   <td align="right">2.8MB</td>
   <td><tt>163bdd607ca7f5a30aa02c274dcb33d3336b2222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-da-16.08.1.tar.xz">kde-l10n-da-16.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>c8f73888d0f4b89e98e9d403c0273c046f957f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-de-16.08.1.tar.xz">kde-l10n-de-16.08.1</a></td>
   <td align="right">32MB</td>
   <td><tt>53cadfb86116f6329da5801b21fe40887599dcbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-el-16.08.1.tar.xz">kde-l10n-el-16.08.1</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ca5d0175db45ef2219caaa777dcd3ed35858f221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-en_GB-16.08.1.tar.xz">kde-l10n-en_GB-16.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>e75b9e41cbe871ebc31274366f5052e9095c7527</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-eo-16.08.1.tar.xz">kde-l10n-eo-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>22bd031d203155480f5f7e0624cf41f4bf10c15b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-es-16.08.1.tar.xz">kde-l10n-es-16.08.1</a></td>
   <td align="right">15MB</td>
   <td><tt>bedff656395aa5f870e4b10af2f71eecf2536dac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-et-16.08.1.tar.xz">kde-l10n-et-16.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>b745c8c2700a274842d1fc943f748a142fb99925</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-eu-16.08.1.tar.xz">kde-l10n-eu-16.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c178dde48f79f107fcaadc403d6cd292681f5987</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-fa-16.08.1.tar.xz">kde-l10n-fa-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>47062c0ccd324a0dce81aa899815e9e384276fc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-fi-16.08.1.tar.xz">kde-l10n-fi-16.08.1</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b04859881818e8d54eb8e69ce551d3fade07b594</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-fr-16.08.1.tar.xz">kde-l10n-fr-16.08.1</a></td>
   <td align="right">34MB</td>
   <td><tt>acbe2765498c64a229bc05c58068b26e22b9180f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ga-16.08.1.tar.xz">kde-l10n-ga-16.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>c7c9a4684f1da3311752ddd4734f3946d22c331f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-gl-16.08.1.tar.xz">kde-l10n-gl-16.08.1</a></td>
   <td align="right">3.3MB</td>
   <td><tt>d6eb71d84c758b8b3a5c55c68b59e826468438ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-he-16.08.1.tar.xz">kde-l10n-he-16.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>5f0e8dfcd53ec9a32d3d41aa28e78e9b51bd6b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-hi-16.08.1.tar.xz">kde-l10n-hi-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7018eb8d0b0cb5c1a27f6797d8af45a86cee5212</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-hr-16.08.1.tar.xz">kde-l10n-hr-16.08.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>eeadda0435bc86c32dd03f0bbf834be2b1cb160e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-hu-16.08.1.tar.xz">kde-l10n-hu-16.08.1</a></td>
   <td align="right">4.1MB</td>
   <td><tt>0976bc641c97d58e7c20628e97f0ba26087b65b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ia-16.08.1.tar.xz">kde-l10n-ia-16.08.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>1fe0f1e905252b02795659f8bb630386f146be41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-id-16.08.1.tar.xz">kde-l10n-id-16.08.1</a></td>
   <td align="right">548kB</td>
   <td><tt>9e7dc6237bba734a1322edb965c92ac3c1bbaff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-is-16.08.1.tar.xz">kde-l10n-is-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>9b6dfab7a874139d7e76dfe4cd680809964587c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-it-16.08.1.tar.xz">kde-l10n-it-16.08.1</a></td>
   <td align="right">7.8MB</td>
   <td><tt>563a3fdb83f510822e6964d596684f300152846e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ja-16.08.1.tar.xz">kde-l10n-ja-16.08.1</a></td>
   <td align="right">2.1MB</td>
   <td><tt>b3afb97a7003a3ff9da94c04114e566345a322bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-kk-16.08.1.tar.xz">kde-l10n-kk-16.08.1</a></td>
   <td align="right">2.4MB</td>
   <td><tt>c07a82522c9f138ee080045592497b77192906e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-km-16.08.1.tar.xz">kde-l10n-km-16.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f9c77bd26e0ab68203a107ccd34056d284f03855</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ko-16.08.1.tar.xz">kde-l10n-ko-16.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7cca47c48dc6c0c80f67190e5400ec0de5e17603</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-lt-16.08.1.tar.xz">kde-l10n-lt-16.08.1</a></td>
   <td align="right">11MB</td>
   <td><tt>470d1e2d5b4f3b1d1e958effd3d1493de89d5e8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-lv-16.08.1.tar.xz">kde-l10n-lv-16.08.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>b9171322fe1c891fe7c8c787aaa143d4753176a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-mr-16.08.1.tar.xz">kde-l10n-mr-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>aa15c0308121edefef95a57376fbb0e3890ff300</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-nb-16.08.1.tar.xz">kde-l10n-nb-16.08.1</a></td>
   <td align="right">2.2MB</td>
   <td><tt>6b3fa3ea4a378404bdba71687663c1eeadea6986</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-nds-16.08.1.tar.xz">kde-l10n-nds-16.08.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>0681ed316e29d70de4b3bd0899e1a39acb0fe6a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-nl-16.08.1.tar.xz">kde-l10n-nl-16.08.1</a></td>
   <td align="right">12MB</td>
   <td><tt>dd5b08e7f47ba119ad9f7b382c9749641dedee6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-nn-16.08.1.tar.xz">kde-l10n-nn-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>541a41c36dbf8d8ac82df07d6c3ecbbde54281bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-pa-16.08.1.tar.xz">kde-l10n-pa-16.08.1</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f00beeb34097691d6fb80d14f1270ea4c8829ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-pl-16.08.1.tar.xz">kde-l10n-pl-16.08.1</a></td>
   <td align="right">16MB</td>
   <td><tt>7e45e3a364fb23d50cd4be3b100291a53fa3815d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-pt-16.08.1.tar.xz">kde-l10n-pt-16.08.1</a></td>
   <td align="right">3.1MB</td>
   <td><tt>9974489935d31581a014a3a5b4217bda3a96efaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-pt_BR-16.08.1.tar.xz">kde-l10n-pt_BR-16.08.1</a></td>
   <td align="right">20MB</td>
   <td><tt>33ed8ca510ee1c8f428768c03abf55fdd8dd0272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ro-16.08.1.tar.xz">kde-l10n-ro-16.08.1</a></td>
   <td align="right">2.9MB</td>
   <td><tt>568002164fce660706ec3bea7e7ee7edecdab38b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ru-16.08.1.tar.xz">kde-l10n-ru-16.08.1</a></td>
   <td align="right">20MB</td>
   <td><tt>d6ff36d9c7db8ede38c336fb599736f0096a855c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-sk-16.08.1.tar.xz">kde-l10n-sk-16.08.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b7fda229d419e0a19618224ea977edbffc8c7fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-sl-16.08.1.tar.xz">kde-l10n-sl-16.08.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e9e621ab7a2079c5b156210f172fc6ef1be04133</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-sr-16.08.1.tar.xz">kde-l10n-sr-16.08.1</a></td>
   <td align="right">4.4MB</td>
   <td><tt>9f672f0d9903a610e0ea6cbf500d7d6bedab0cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-sv-16.08.1.tar.xz">kde-l10n-sv-16.08.1</a></td>
   <td align="right">10MB</td>
   <td><tt>e7a77aeee9af7617aded07bc9c73749da9bcad0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-tr-16.08.1.tar.xz">kde-l10n-tr-16.08.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>ffabc8b6ee652d1734a34b174df54bd14b9209e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-ug-16.08.1.tar.xz">kde-l10n-ug-16.08.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f14e2b9efab12961066a2cda7a7a4ed181412554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-uk-16.08.1.tar.xz">kde-l10n-uk-16.08.1</a></td>
   <td align="right">24MB</td>
   <td><tt>721d4b80f6c663bbe90534374e9d014205a5941c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-wa-16.08.1.tar.xz">kde-l10n-wa-16.08.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bfe7969bdf60efa3461a0a2a11411b2ac6accc33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-zh_CN-16.08.1.tar.xz">kde-l10n-zh_CN-16.08.1</a></td>
   <td align="right">2.7MB</td>
   <td><tt>9bda49899b1255967a705ae4cf375b93abc35fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.08.1/src/kde-l10n/kde-l10n-zh_TW-16.08.1.tar.xz">kde-l10n-zh_TW-16.08.1</a></td>
   <td align="right">2.5MB</td>
   <td><tt>0eb990c844ce0230dc40ebd48f8dd68293087ea0</tt></td>
</tr>

</table>
