{{ define "main" }}
<main class="container mb-3">
  <script type="text/javascript">
    function toggle(toggleUlId, toggleAElem) {
      var e = document.getElementById(toggleUlId);
      if (e.style.display == "none") {
        e.style.display = "block";
  {{if .Params.plasma}}
        toggleAElem.innerHTML = "[Show]";
  {{else}}
        toggleAElem.innerHTML = "[Hide]";
  {{end}}
      } else {
        e.style.display = "none";
  {{if .Params.plasma}}
        toggleAElem.innerHTML = "[Hide]";
  {{else}}
        toggleAElem.innerHTML = "[Show]";
  {{end}}
      }
    }
  </script>
  {{if .Params.plasma}}
  <h3>
    <a href="../plasma-{{.Params.version}}">Plasma {{.Params.version}}</a>
    Complete Changelog
  </h3>
  {{ else if .Params.release }}
  <h3>Release service {{.Params.version}} Full Log Page</h3>
  <p>
    This is the automated full changelog for
    <a href="../releases/releases/{{ .Params.releaseDate }}-apps-update"
      >releae service {{.Params.version}}</a
    >
    from the git repositories.
  </p>
  {{else}}
  <h3>{{.Params.version}} Releases Full Log Page</h3>
  <p>
    This is the automated full changelog for
    <a href="../releases/{{.Params.version}}-apps-update"
      >{{.Params.version}} Releases</a
    >
    from the git repositories.
  </p>
  {{end}}
  {{.Content}}
</main>
{{ end }}
