
{{ define "main" }}
  
<main class="container">
  <nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item ml-3 mr-5" aria-current="page">
          <a href="/announcements">{{ i18n "announcements" }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    </ol>
  </nav>
  {{ if .IsTranslated }}
    <h4>{{ i18n "Translations" }}</h4>
    <div class="translation-list">
      {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
      {{ end }}
    </div>
  {{ end }} 
  <h1>{{ .Title | safeHTML }} </h1>
  {{ .Content }}

  {{ if .Params.changelog }}
    {{ i18n "full-changelog" .Params | markdownify }}
  {{ end }}
  <h2>{{ i18n "spread-the-word" }}</h2> 
  <p>{{ i18n "non-technical-success" | markdownify }}</p>
  <p>{{ i18n "spread-social" }}</p>

  <h2>{{ i18n "install-applications" }}</h2>
  <h3>{{ i18n "packaes" }}</h3>
  <p>{{ i18n "packages-desc" }}</p>

  <h3>{{ i18n "package-location" }}</h3>
  <p>{{ i18n "package-location-desc" | markdownify  }}</p>

  {{ if .Params.version }}
    <h2>{{ i18n "compile-app" }}</h2>
    <p>{{ i18n "compile-app-desc" .Params | markdownify }}</h2>
  {{ end }}

  <p align="justify">
    <font size="2">
      <em>{{ i18n "trademark-notices" }}</em><br/> <br/>
      {{ i18n "kde-trademark" | safeHTML }} <br/>
      {{ i18n "linux-trademark" | html }} {{ i18n "unix-trademark" }}<br/>
      {{ i18n "other-trademarks" }}
    </font>
  </p>
  <hr />
  
  <h4>{{ i18n "press-contacts" }}</h4>
  
  <p>
  {{ i18n "info-email" }} <br /> <a href="mailto:press@kde.org">press@kde.org</a>
  </p>
</main>
{{ end }}
