<section class="row get-it">
  <article class="col-md">
    <h2>{{ i18n "live-images" }}</h2>
    <p>
      {{ i18n "live-images-text" }}
    </p>
    <a href="https://community.kde.org/Plasma/Live_Images" class="learn-more">
      {{ i18n "download-plasma" }}
    </a>
    <a href="https://community.kde.org/Plasma/Docker_Images" class="learn-more">
      {{ i18n "docker-plasma" }}
    </a>
  </article>

  <article class="col-md">
    <h2>{{ i18n "package-downloads" }}</h2>
    <p>
      {{ i18n "package-downloads-text" }}
    </p>
    <a href="https://community.kde.org/Plasma/Packages" class="learn-more"
      >{{ i18n "package-wiki" }}</a
    >
  </article>

  <article class="col-md">
    <h2>{{ i18n "source-download" }}</h2>
    <p>
      {{ i18n "source-download-text" }}
    </p>
    <a href="http://community.kde.org/Frameworks/Building"
      >{{ i18n "community-instructions" }}</a
    >
    <a href="../../info/{{ .Page.Params.release }}" class="learn-more"
      >{{ i18n "source-info-page" }}</a
    >
  </article>
</section>
